<div class="container" *ngIf="clientData != null">
    <form [formGroup]="uploadForm" class="col-md-10 col-lg-8 col-xl-7 my-5 mx-auto" (ngSubmit)="mySubmit()">
        <h2 class="h1 ml-5 text-center">Edit Client</h2>
        <div class="form-group row">
            <label class="col-2 col-form-label">Full Name</label>
            <div class="col-10">
                <input class="form-control"
                       [ngClass]="{'is-invalid': uploadForm.get('fullName').errors &&
                       (uploadForm.get('fullName').touched || uploadForm.get('fullName').dirty)}"
                       type="text"
                       name="fullName"
                       formControlName="fullName"
                       placeholder="Type Client Full Name">
                <span class="invalid-feedback" *ngIf="uploadForm.get('fullName').errors?.required">Full Name Field Is Required</span>
                <span class="invalid-feedback" *ngIf="uploadForm.get('fullName').errors?.minlength">Full Name Must Be Greater Than 2</span>
                <span class="invalid-feedback" *ngIf="uploadForm.get('fullName').errors?.maxlength">Full Name Must Be Lower Than 100</span>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-2 col-form-label">Username</label>
            <div class="col-10">
                <input class="form-control"
                       [ngClass]="{'is-invalid': uploadForm.get('username').errors &&
                       (uploadForm.get('username').touched || uploadForm.get('username').dirty)}"
                       type="text"
                       name="username"
                       formControlName="username"
                       placeholder="Type Client Username">
                <span class="invalid-feedback" *ngIf="uploadForm.get('username').errors?.required">Username Field Is Required</span>
                <span class="invalid-feedback" *ngIf="uploadForm.get('username').errors?.minlength">Username Must Be Greater Than 2</span>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-2 col-form-label">Password</label>
            <div class="col-10">
                <input class="form-control"
                       [ngClass]="{'is-invalid': uploadForm.get('password').errors &&
                       (uploadForm.get('password').touched || uploadForm.get('password').dirty)}"
                       type="text"
                       name="password"
                       formControlName="password"
                       placeholder="Leave it if you don\'t want to change Password">
                <span class="invalid-feedback" *ngIf="uploadForm.get('password').errors?.minlength">Password Must Be Greater Than 3</span>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-2 col-form-label">Email</label>
            <div class="col-10">
                <input class="form-control"
                       [ngClass]="{'is-invalid': uploadForm.get('email').errors &&
                       (uploadForm.get('email').touched || uploadForm.get('email').dirty)}"
                       type="email"
                       name="email"
                       formControlName="email"
                       placeholder="Type Client Email">
                <span class="invalid-feedback" *ngIf="uploadForm.get('email').errors?.required">Email Field Is Required</span>
                <span class="invalid-feedback" *ngIf="uploadForm.get('email').errors?.email">Email Must Be Valid Email</span>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-2 col-form-label">Birth</label>
            <div class="col-10">
                <input class="form-control"
                       [ngClass]="{'is-invalid': uploadForm.get('birthDate').errors &&
                       (uploadForm.get('birthDate').touched || uploadForm.get('birthDate').dirty)}"
                       type="date"
                       name="birthDate"
                       formControlName="birthDate">
                <span class="invalid-feedback" *ngIf="uploadForm.get('birthDate').errors?.required">Birth Date Field Is Required</span>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-2 col-form-label">Phone</label>
            <div class="col-10">
                <input class="form-control"
                       [ngClass]="{'is-invalid': uploadForm.get('phone').errors &&
                       (uploadForm.get('phone').touched || uploadForm.get('phone').dirty)}"
                       type="number"
                       name="phone"
                       formControlName="phone"
                       placeholder="Type Client Phone Number">
                <span class="invalid-feedback" *ngIf="uploadForm.get('phone').errors?.required">Phone Number Field Is Required</span>
                <span class="invalid-feedback" *ngIf="uploadForm.get('phone').errors?.minlength">Phone Number Must Be Greater Than 4</span>
                <span class="invalid-feedback" *ngIf="uploadForm.get('phone').errors?.maxlength">Phone Number Must Be Lower Than 45</span>
            </div>
        </div>
<!--        <input type="hidden" class="form-control" name="image" formControlName="image">-->
        <div class="form-group row">
            <label class="col-2 col-form-label">Upload</label>
            <div class="input-group col-10">
                <div class="custom-file">
                    <input #imageInput type="file" accept="image/*" class="custom-file-input" id="file-input"
                           (change)="updateName(imageInput)">
                    <input type="hidden" class="form-control" name="image" formControlName="image">
                    <label class="custom-file-label" for="file-input">{{imageName}}</label>
                </div>
                <div class="input-group-append">
                    <button class="btn btn-success" type="button" (click)="processFile(imageInput)" [disabled]=!fileSelected>
                        {{uploadButtonValue}}
                    </button>
                </div>
            </div>
        </div>

        <div class="form-group offset-md-2 mt-3">
            <input class="btn btn-primary btn-block" type="submit" value="{{submitButtonValue}}" [disabled]="uploadForm.invalid">
        </div>
    </form>
</div>
<div *ngIf="clientData == null">
    <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
</div>
