<app-header></app-header>
<app-statues-detail [statueDetail]="statueDetailPage"
                    [artist]="artistDetail"
                    [statuesList]="statuesListPage"
                    [statueView]="statueViewPage"
                    [statuesView]="statuesViewPage"
                    *ngIf="statueDetailPage != null || statuesListPage != null"></app-statues-detail>
<app-loading-widget *ngIf="statueDetailPage == null || statuesListPage == null"></app-loading-widget>
<app-footer></app-footer>
