<section class="w-100" id="search-list-section">
  <div class="row">
    <div class="col-12 search-result-block">
      <h3 class="title">Painting</h3>
      <app-c-painting-list [filter]="false" [formattedPaintingList]="paintingListFormatted"></app-c-painting-list>
      <div *ngIf="paintingList === null || paintingList.length < 1"><h5>Empty List Result!</h5></div>
    </div>
    <div class="col-12 search-result-block">
      <h3 class="title">Artists</h3>
      <app-artist-list [filter]="false" [artistListFormatted]="artistListFormatted"></app-artist-list>
      <div *ngIf="artistList === null || artistList.length < 1"><h5>Empty List Result!</h5></div>
    </div>
  </div>
</section>
