<section class="w-100" id="search-list-section">
  <tabset>
    <tab heading="Painting">
      <app-c-painting-list [filter]="false" [formattedPaintingList]="paintingListFormatted"></app-c-painting-list>
      <div *ngIf="paintingList === null || paintingList.length < 1"><h5>Empty List Result!</h5></div>
    </tab>
    <tab heading="Artists">
      <app-artist-list [filter]="false" [artistListFormatted]="artistListFormatted"></app-artist-list>
      <div *ngIf="artistList === null || artistList.length < 1"><h5>Empty List Result!</h5></div>
    </tab>
  </tabset>
</section>
