<!-- ######################################## Artist Page ######################################## -->

<section id="artist-page">

  <div id="artist-header">
    <div id="artist-header-img" class="d-flex align-items-center">
      <div class="position-absolute w-100 d-flex justify-content-end">
        <div class="p-5" id="artist-banner-text">
          <h3 class="text-center">{{artistMainPainting.name}}</h3>
          <p class="text-center">{{artistMainPainting.story}}</p>
        </div>
      </div>
      <div parallax id="banner-background">
        <img src="{{artistMainPainting.image}}" alt="...">
      </div>
    </div>
    <div class="row d-flex justify-content-center">
      <div class="col-10 align-items-baseline" style="position: relative; top: -5rem;">
        <div class="d-flex align-items-baseline">
          <div class="w-25">
            <img src="{{artist.path}}" style="width: 15rem; border-radius: 50%;" alt="...">
          </div>
          <div class="w-75 m-0 row">
            <div class="col-6">
              <h3>{{artist.name}}</h3>
              <ul style="list-style-type: none; margin: 0; padding: 0">
                <li style="display: inline-block" class="m-1">
                  <a href="{{artist.facebook}}">
                    <mdb-icon fab icon="facebook" size="2x"></mdb-icon>
                  </a>
                </li>
                <li style="display: inline-block" class="m-1">
                  <a href="{{artist.twitter}}">
                    <mdb-icon fab icon="twitter" size="2x"></mdb-icon>
                  </a>
                </li>
                <li style="display: inline-block" class="m-1">
                  <a href="{{artist.linkedin}}">
                    <mdb-icon fab icon="linkedin" size="2x"></mdb-icon>
                  </a>
                </li>
                <li style="display: inline-block" class="m-1">
                  <a href="{{artist.facebook}}">
                    <mdb-icon fab icon="pinterest" size="2x"></mdb-icon>
                  </a>
                </li>
              </ul>
            </div>
            <div class="col-6" style="position: relative; top: -2rem;">
              <button mdbBtn class="btn-secondary" mdbWavesEffect (click)="followArtist()">Follow</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="artist-bio">
    <h3 class="text-primary">Biography</h3>
    <p>
      {{artist.details}}
    </p>
  </div>

  <div id="artist-images" style="margin-bottom: 5rem;">
    <app-c-painting-list [formattedPaintingList]="featuredPaintings"
                         *ngIf="featuredPaintings != null"></app-c-painting-list>
  </div>

</section>

<!-- ###################################### End Artist Page ###################################### -->
