#artist-page {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

#followBtn {
  background: goldenrod;
  color: black;
}

#banner-background {
  width: 100%;
  height: 20rem;
  img {
    width: 100%;
    height: 20rem;
    object-fit: cover;
    overflow: hidden;
  }

}

#artist-header-avatar {
  img {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    object-fit: cover;
    background-repeat: repeat-y
  }

  position: relative;
  top: -5rem;
}

#artist-bio {
  padding-left: 10rem;
  padding-right: 10rem;
}

#artist-images {
  padding-left: 5rem;
}

#artist-banner-text {
  max-width: 20rem;
  max-height: 10rem;
  overflow: auto;
  background: rgba(255, 255, 255, .5);
  margin-right: 5rem;
}

#artist-image {
  width: 15rem;
  height: 15rem;
  object-fit: cover;
  border-radius: 50%;
}

#painting-list-header {
  padding-top: 5rem;
  padding-left: 10rem;
  padding-bottom: 5rem;
}

.parallax {
  height: 20rem;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
