#artist-header-img {
}

#banner-background {
  width: 100%;
  height: 20rem;
  img {
    width: 100%;
    height: 20rem;
    object-fit: cover;
    overflow: hidden;
  }

}

#artist-header-avatar {
  img {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    object-fit: contain;
    background-repeat: repeat-y
  }

  position: relative;
  top: -5rem;
}

#artist-bio {
  padding-left: 10rem;
}

#artist-images {
  padding-left: 5rem;
}

#artist-banner-text {
  max-width: 20rem;
  max-height: 10rem;
  overflow: auto;
  background: rgba(255, 255, 255, .5);
  margin-right: 5rem;
}
