<!-- ######################################## Artist Page ######################################## -->

<section id="artist-page">
  <section id="banner">
    <mdb-carousel [isControls]="true" [animation]="'slide'">
      <mdb-carousel-item *ngFor="let img of featuredPaintings.slice(6,10)">
        <img src="{{img.url}}" width="100%" height="auto">
        <div class="carousel-info-box">
          <h6 class="carousel-info-title">{{img.name}}</h6>
        </div>
      </mdb-carousel-item>
    </mdb-carousel>
  </section> <!-- banner -->
  <section id="avatar" class="d-flex">
    <img src="{{artist.image}}">
    <div id="artist-info-area" class="align-self-end">
      <h3 id="artist-name" class="align-self-end">
        {{artist.name}}
      </h3>
      <div class="d-flex">
        <a class="artist-social" href="{{artist.facebook}}">
          <mdb-icon fab icon="facebook-square" size="2x"></mdb-icon>
        </a>
        <a class="artist-social" href="{{artist.twitter}}">
          <mdb-icon fab icon="twitter-square" size="2x"></mdb-icon>
        </a>
        <a class="artist-social" href="{{artist.linkedin}}">
          <mdb-icon fab icon="linkedin" size="2x"></mdb-icon>
        </a>
      </div>
    </div> <!-- #artist-info-area -->

    <button mdbBtn class="align-self-center">Follow!</button>
  </section><!-- #avatar -->
  <section id="artist-info-section" class="d-flex justify-content-center">
    <tabset [justified]="true" class="w-50">
      <tab heading="Biography">
        {{artist.story}}
      </tab>
    </tabset>
  </section><!-- #info-section -->
  <section id="artist-cards" class="row d-flex justify-content-center">
    <div class="col-8 row d-flex">
      <div class="col-4 p-4" *ngFor="let img of featuredPaintings.slice(0,6)">
        <img src="{{img.url}}" class="img-fluid">
      </div>
    </div>
  </section><!-- #artist-cards -->
</section> <!-- #artist-page -->

<!-- ###################################### End Artist Page ###################################### -->
