/*Global Class For This Page*/
.artist-video-icon {
  width: 45px;
  height: 45px;
  background: #fff;
  text-align: center;
  border: 1px solid #aaa;
  border-radius: 50%;
  mdb-icon {
    margin: 13px 9px;
  }
}
/*End Global Class For This Page*/
.artist-page {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  margin-top: 6rem;
  .artist-header {
    position: relative;
    div.position-absolute {
      right: 15.5vw;
      top: 10%;
      .artist-banner-text {
        max-width: 20rem;
        overflow: auto;
        background: rgba(255, 255, 255, .5);
        span {
          font-size: 1.2rem;
        }
      }
    }

    .banner-background {
      width: 100%;
      height: 20rem;

      .parallax {
        height: 20rem;
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }

      img {
        width: 100%;
        height: 20rem;
        object-fit: cover;
        overflow: hidden;
      }
    }

    .artist-header-details {
      position: relative;
      top: -6rem;
      .artist-header-details-top {
        .artist-image {
          width: 15rem;
          height: 15rem;
          object-fit: cover;
          border-radius: 50%;
        }
      }
      .artist-header-details-bottom {
        margin-top: 4.5rem;
        #followBtn {
          background: #bfb049;
          color: black;
          font-weight: 600;
        }
        .artist-name-social {
          h2 {
            font-weight: 600;
          }

          li {
            display: inline-block;

            mdb-icon {
              font-size: 1.5rem;
              color: #8f9091
            }
          }
        }
      }
    }
  }

  .artist-body {
    margin-top : -5rem
  }

  //#artist-header-avatar {
  //  position: relative;
  //  top: -5rem;
  //  img {
  //    width: 15rem;
  //    height: 15rem;
  //    border-radius: 50%;
  //    object-fit: cover;
  //    background-repeat: repeat-y
  //  }
  //}
  //#painting-list-header {
  //  padding-top: 5rem;
  //  padding-left: 10rem;
  //  padding-bottom: 5rem;
  //}

}
// Start xs Size Screen
@media (max-width: 575px) {
  .artist-page {
    margin-top: 0.1rem;
    .artist-header {
      div.position-absolute {
        right: 3.4rem;
        top: 15%
      }
      .artist-header-details {
        top: -3.5rem;
        .artist-header-details-top {
          .artist-image {
            width: 7rem;
            height: 7rem;
          }
        }
        .artist-header-details-bottom {
          margin-top: 0;
          direction: rtl;
          #followBtn {
            padding: 0.4rem 1rem;
          }
          .artist-name-social {
            padding-left: 1.5rem;
            h2 {
              font-size: 1.3rem;
            }
          }
        }
      }
    }
    .artist-body {
      margin-top: -3rem;
      p {
        text-align: justify;
      }
    }
  }
}
// Start sm Size Screen
@media (min-width: 576px) and (max-width: 767px) {
  .artist-page {
    margin-top: 0.1rem;
    .artist-header {
      div.position-absolute {
        right: 6rem;
        top: 15%
      }
      .artist-header-details {
        top: -4.5rem;
        .artist-header-details-top {
          .artist-image {
            width: 9rem;
            height: 9rem;
          }
        }
        .artist-header-details-bottom {
          margin-top: 0;
          direction: rtl;
          #followBtn {
            padding: .7rem 2rem;
          }
          .artist-name-social {
            h2 {
              font-size: 1.6rem;
            }
          }
        }
      }
    }
    .artist-body {
      margin-top: -4rem;
      p {
        text-align: justify;
      }
    }
  }
}
// Start md Size Screen
@media (min-width: 768px) and (max-width: 991px) {
  .artist-page {
    margin-top: 0.1rem;
    .artist-header {
      div.position-absolute {
        right: 12%;
      }
      .artist-header-details {
        top: -5.5rem;
        .artist-header-details-top {
          .artist-image {
            width: 11rem;
            height: 11rem;
          }
        }
        .artist-header-details-bottom {
          margin-top: 0.5rem;
          direction: rtl;
          .artist-name-social {
            ul {
              text-align: left;
              margin-left: 4rem;
              li {
                padding: 0 5px
              }
            }
          }
        }
      }
    }
  }
}
// Start lg Size Screen
@media (min-width: 992px) and (max-width: 1199px) {
  .artist-page {
    margin-top: 5.5rem;
    .artist-header {
      div.position-absolute {
        right: 7.5%;
      }
      .artist-header-details {
        .artist-header-details-top {
          .artist-image {
            width: 13rem;
            height: 13rem;
          }
        }
      }
    }
  }
}
// Start xl Size Screen
@media (min-width: 1200px) and (max-width: 1374px) {
  .artist-page {
    .artist-header {
      div.position-absolute {
        right: 10.5vw;
      }
    }
  }
}
