/*Global Class For This Page*/
.artist-video-icon {
  line-height: 2.1;
  width: 45px;
  height: 45px;
  background: #fff;
  text-align: center;
  border: 1px solid #aaa;
  border-radius: 50%;
  &:hover {
    a {
      color: #CCB832 !important;
    }
  }
  a {
    color: #385161 !important;
    vertical-align: sub;
  }
  //img {
  //  width: 25px;
  //  height: 28px;
  //  margin: 2px 0 0 2px;
  //}
  //mdb-icon {
  //  margin: 13px 9px;
  //}
}
/*End Global Class For This Page*/
.artist-page {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  .artist-header {
    position: relative;
    div.position-absolute {
      right: 15.5vw;
      top: 10%;
      .artist-banner-text {
        max-width: 20rem;
        @media (max-width:500px) {
          max-width: 17rem;
        }
        overflow: auto;
        background: rgba(255, 255, 255, .5);
        span {
          font-size: 1.2rem;
        }
      }
    }

    .banner-background {
      width: 100%;
      height: 20rem;

      .parallax {
        height: 20rem;
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }

      img {
        width: 100%;
        height: 20rem;
        object-fit: cover;
        overflow: hidden;
      }
    }

    .artist-header-details {
      position: relative;
      top: -6rem;
      .artist-header-details-top {
        .artist-image {
          width: 15rem;
          height: 15rem;
          object-fit: cover;
          border-radius: 15px;
          box-shadow: 1px 3px 10px rgba(0,0,32,0.7);
          margin-top: 2rem;
          margin-bottom: 1rem;
        }
      }
      .artist-header-details-bottom {
        margin-top: 4.5rem;
        #followBtn {
          background: #bfb049;
          color: black;
          font-weight: 600;
        }
        .artist-name-social {
          h2 {
            font-weight: 600;
          }

          li {
            display: inline-block;

            mdb-icon {
              font-size: 1.5rem;
              color: #8f9091
            }
          }
        }
      }
    }
  }

  .artist-body {
    margin-top : -5rem;
    border-top: 1px outset #efefef;
    .painting-list {
      margin-bottom: 15px;
      .painting-list-item {
        height: 350px;
        outline: none;
        .img-container {
          //width: 100%;
          height: 100%;
          background: #ddd;
          margin-bottom: 15px;
          position: relative;
          border-radius: 5px;
          overflow: hidden;
          img {
            width: 100%;
            height: 100%;
            cursor: pointer;
          }
          .painting-info {
            position: absolute;
            cursor: pointer;
            bottom: 0;
            left: 0;
            right: 0;
            color: #fff !important;
            padding: 25px 10px 5px;
            background: -o-linear-gradient(270deg,rgba(0,0,0,0),#000);
            background: -moz-linear-gradient(270deg,rgba(0,0,0,0),#000);
            background: -ms-linear-gradient(270deg,rgba(0,0,0,0),#000);
            background: -webkit-linear-gradient(270deg,rgba(0,0,0,0),#000);
            opacity: 0;
            transition: all .5s ease-in-out;
            -o-transition: all .5s ease-in-out;
            -moz-transition: all .5s ease-in-out;
            -webkit-transition: all .5s ease-in-out;
            .painting-name {
              font-size: 20px;
              font-weight: bold;
              border-bottom: 1px solid;
              line-height: 25px;
              margin-bottom: 5px;
            }
            .artist {
              font-size: 17px;
              color: #CCB832;
              line-height: 25px;
              margin-bottom: 10px;
              span {
                padding-top: 2px;
              }
            }
            .statistics {
              position: absolute;
              right: 10px;
              bottom: 15px;
              list-style: none;
              margin: 0;
              padding: 0;
              li {
                display: inline-block;
                margin-left: 10px;
              }
            }
          }
          &:hover .painting-info{
            opacity: 1;
          }
        }
      }
    }
  }
  .btn-prev,
  .btn-next {
    position: fixed;
    top: 50vh;
    border: 1px solid goldenrod;
    background: goldenrod;
    font-size: 14px;
    padding: 5px;
    color:#fff;  
    padding: 5px;
    outline: none !important;
    opacity: 0.7;
  }
  
  .btn-prev:hover,
  .btn-next:hover {
    background: #fff;
    color: goldenrod;
  }
  
  .btn-prev:disabled,
  .btn-next:disabled {
    background: gray !important;
    color: #fff !important;
  }
  
  .btn-prev {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    left: 0px;
  }
  
  .btn-next {
    right: 0px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  
  @media (max-width:767px) {
    .btn-prev,
    .btn-next {
      display: none;
    }
  }
  //#artist-header-avatar {
  //  position: relative;
  //  top: -5rem;
  //  img {
  //    width: 15rem;
  //    height: 15rem;
  //    border-radius: 50%;
  //    object-fit: cover;
  //    background-repeat: repeat-y
  //  }
  //}
  //#painting-header {
  //  padding-top: 5rem;
  //  padding-left: 10rem;
  //  padding-bottom: 5rem;
  //}

}

.main-carousel {  
  width: 100%;
  overflow: hidden;
  .flickity-viewport {
    height: auto !important;
  }
  .carousel-cell {
    width: 100% ;
    position: relative !important;
    outline: none !important;
  }
}

// Start xs Size Screen
@media (max-width: 575px) {
  .artist-page {
    margin-top: 0.1rem;
    .artist-header {
      div.position-absolute {
        right: 3.4rem;
        top: 15%
      }
      .artist-header-details {
        top: -3.5rem;
        .artist-header-details-top {
          .artist-image {
            width: 7rem;
            height: 7rem;
          }
        }
        .artist-header-details-bottom {
          margin-top: 0;
          direction: rtl;
          #followBtn {
            padding: 0.4rem 1rem;
          }
          .artist-name-social {
            padding-left: 1.5rem;
            h2 {
              font-size: 1.3rem;
            }
          }
        }
      }
    }
    .artist-body {
      margin-top: -3rem;
      p {
        text-align: justify;
      }
    }
  }
}
// Start sm Size Screen
@media (min-width: 576px) and (max-width: 767px) {
  .artist-page {
    margin-top: 0.1rem;
    .artist-header {
      div.position-absolute {
        right: 6rem;
        top: 15%
      }
      .artist-header-details {
        top: -4.5rem;
        .artist-header-details-top {
          .artist-image {
            width: 9rem;
            height: 9rem;
          }
        }
        .artist-header-details-bottom {
          margin-top: 0;
          direction: rtl;
          #followBtn {
            padding: .7rem 2rem;
          }
          .artist-name-social {
            h2 {
              font-size: 1.6rem;
            }
          }
        }
      }
    }
    .artist-body {
      margin-top: -4rem;
      p {
        text-align: justify;
      }
    }
  }
}
// Start md Size Screen
@media (min-width: 768px) and (max-width: 991px) {
  .artist-page {
    margin-top: 0.1rem;
    .artist-header {
      div.position-absolute {
        right: 12%;
      }
      .artist-header-details {
        top: -5.5rem;
        .artist-header-details-top {
          .artist-image {
            width: 11rem;
            height: 11rem;
          }
        }
        .artist-header-details-bottom {
          margin-top: 0.5rem;
          direction: rtl;
          .artist-name-social {
            ul {
              text-align: left;
              margin-left: 4rem;
              li {
                padding: 0 5px
              }
            }
          }
        }
      }
    }
  }
}
// Start lg Size Screen
@media (min-width: 992px) and (max-width: 1199px) {
  .artist-page {
    .artist-header {
      div.position-absolute {
        right: 7.5%;
      }
      .artist-header-details {
        .artist-header-details-top {
          .artist-image {
            width: 13rem;
            height: 13rem;
          }
        }
      }
    }
  }
}
// Start xl Size Screen
@media (min-width: 1200px) and (max-width: 1374px) {
  .artist-page {
    .artist-header {
      div.position-absolute {
        right: 10.5vw;
      }
    }
  }
}


@media (max-width:991px) {
  .artist-page{
    .artist-header {
      .banner-background {
        .parallax {
          background-size: cover !important;
          border-bottom: 2px solid goldenrod;
        }
      }
      .artist-header-details {
        .artist-image,
        .artist-video-icon {
          border: 2px solid goldenrod;
        }
      }
    }
  } 
  .artist-video-icon {
    position: absolute;
    top: 32%;
  }
  .follow-artist {
    position: absolute;
    top: -125px;
    right: 0;
    button {
      border-radius: 10px;
      display: inline-block;
      padding: 10px;
      background: #fff !important;
      border: 2px solid goldenrod;
      color: goldenrod;
    }
  }
}

@media (max-width:767px) {
  .follow-artist {
    top: -95px;
  }
}

@media (max-width:575px) {
  .follow-artist {
    top: -85px;
  }
  .artist-video-icon {
    top: 30%;
  }
  .artist-body {
    h3 {
      padding-left: 0 !important;
    }
  }
  .artist-page{
    .artist-header{
      div.position-absolute{
        right: 15px !important;
        top: 15px !important;
      }
      .artist-header-details {
        .artist-name-social {
          ul {
            padding-right: 0;
            li {
              mdb-icon{
                margin-left: 10px !important;
              }
            }
          }
        }
      }
    }
  }  
}

mdb-carousel {
  .btn-floating {
    background: goldenrod;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    display: inline-block;
    line-height: 40px;
    text-align: center;
    padding: 3px;
    i {
      color: #fff;
      font-size: 22px;
    }
  }
  .carousel-indicators {
    display: none;
  }
}
