<form [formGroup]="createCommentForm" (ngSubmit)="submitComment()">
  <textarea formControlName="comment"></textarea>
  <button type="submit">Add</button>
</form>

<!-- Comments -->
<div class="all-comments" *ngIf="commentsList !== null && commentsList !== undefined">
  <div class="sub-comment" *ngFor="let comment of commentsList; index as i">
    <app-statue-comment-item [comment]="comment"
                             [editable]="comment.username === activeClientName"
                             [eventSubject]="commentEventSubject"></app-statue-comment-item>
  </div>
</div>
