<div class="container" *ngIf="artistData != null">
  <form [formGroup]="uploadForm" class="col-md-10 col-lg-8 col-xl-7 my-5 mx-auto" (ngSubmit)="mySubmit()">
    <h2 class="h1 ml-5 text-center">Translate Artist</h2>
    <div class="form-group row">
      <label class="col-2 col-form-label">Name</label>
      <div class="col-10">
        <input class="form-control" [ngClass]="{'is-invalid': uploadForm.get('name').errors &&
                 (uploadForm.get('name').touched || uploadForm.get('name').dirty)}" type="text" name="name"
               formControlName="name" placeholder="English: {{artistData.name}}">
        <span class="invalid-feedback" *ngIf="uploadForm.get('name').errors?.required">Name Field Is Required</span>
        <span class="invalid-feedback" *ngIf="uploadForm.get('name').errors?.minlength">Name Must Be Greater Than
          2</span>
        <span class="invalid-feedback" *ngIf="uploadForm.get('name').errors?.maxlength">Name Must Be Lower Than
          45</span>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-2 col-form-label">Nationality</label>
      <div class="col-10">
        <input class="form-control" [ngClass]="{'is-invalid': uploadForm.get('nationality').errors &&
               (uploadForm.get('nationality').touched || uploadForm.get('nationality').dirty)}" type="text"
               name="nationality" formControlName="nationality" placeholder="English: {{artistData.nationality}}">
        <span class="invalid-feedback" *ngIf="uploadForm.get('nationality').errors?.required">Nationality Field Is
          Required</span>
        <span class="invalid-feedback" *ngIf="uploadForm.get('nationality').errors?.minlength">Nationality Must Be
          Greater Than 2</span>
        <span class="invalid-feedback" *ngIf="uploadForm.get('nationality').errors?.maxlength">Nationality Must Be Lower
          Than 45</span>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-2 col-form-label">Residence</label>
      <div class="col-10">
        <input class="form-control" [ngClass]="{'is-invalid': uploadForm.get('residence').errors &&
               (uploadForm.get('residence').touched || uploadForm.get('residence').dirty)}" type="text"
               name="residence" formControlName="residence" placeholder="English: {{artistData.residence}}">
        <span class="invalid-feedback" *ngIf="uploadForm.get('residence').errors?.required">Residence Field Is
          Required</span>
        <span class="invalid-feedback" *ngIf="uploadForm.get('residence').errors?.minlength">Residence Must Be Greater
          Than 2</span>
        <span class="invalid-feedback" *ngIf="uploadForm.get('residence').errors?.maxlength">Residence Must Be Lower
          Than 45</span>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-2 col-form-label">Details</label>
      <div class="col-10">
        <textarea class="form-control" [ngClass]="{'is-invalid': uploadForm.get('details').errors &&
                   (uploadForm.get('details').touched || uploadForm.get('details').dirty)}" name="details"
                  formControlName="details" placeholder="English: {{artistData.details}}"></textarea>
        <span class="invalid-feedback" *ngIf="uploadForm.get('details').errors?.required">Details Field Is
          Required</span>
        <span class="invalid-feedback" *ngIf="uploadForm.get('details').errors?.minlength">Details Must Be Greater Than
          2</span>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-2 col-form-label">Nationality</label>
      <div class="col-10">
        <input class="form-control" [ngClass]="{'is-invalid': uploadForm.get('artType').errors &&
               (uploadForm.get('artType').touched || uploadForm.get('artType').dirty)}" type="text"
               name="artType" formControlName="artType" placeholder="English: {{artistData.artType}}">
        <span class="invalid-feedback" *ngIf="uploadForm.get('artType').errors?.required">Art Type Field Is
          Required</span>
        <span class="invalid-feedback" *ngIf="uploadForm.get('artType').errors?.minlength">
          Art Type Must Be Greater Than 2
        </span>
        <span class="invalid-feedback" *ngIf="uploadForm.get('artType').errors?.maxlength">
          Art Type Must Be Lower Than 45
        </span>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-2 col-form-label">Story</label>
      <div class="col-10">
        <textarea class="form-control" [ngClass]="{'is-invalid': uploadForm.get('story').errors &&
                   (uploadForm.get('story').touched || uploadForm.get('story').dirty)}" name="story" #story
                  formControlName="story" placeholder="English: {{artistData.story}}"></textarea>
        <span class="invalid-feedback" *ngIf="uploadForm.get('story').errors?.required">
          Story Field Is Required
        </span>
        <span class="invalid-feedback" *ngIf="uploadForm.get('story').errors?.minlength">
          Story Must Be Greater Than 2
        </span>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-2 col-form-label">Story Preview</label>
      <div class="col-10">
        <markdown [data]="story.value"></markdown>
      </div>
    </div>

    <div class="form-group offset-md-2 mt-3">
      <input class="btn btn-primary btn-block" type="submit" value="{{submitButtonValue}}">
    </div>
  </form>
</div>
<div *ngIf="artistData == null">
  <div class="lds-ring">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>
