<br>
<br>
<div class="container pb-5 pt-4">
  <h3>Who are we?</h3>
  <p>We’re syrian staff and we want to introduce Syrian art to you by showing masterpieces made by First Class Syrian Artists.</p>
  <h3>What is our job?</h3>
  <p>Helping Syrian artists become Globally known.</p>
  <h3>How to Contact You?</h3>
  <p>It’s simple. Here’s our email: <a href="emailto:info@ishtar-art.sy">info@ishtar-art.sy</a>.
    Response typically takes 2-3 business days.
    <br>
    Or via phone: <a href="tel:+491633733146">+491633733146</a>

  </p>
  <h3>What is the return policy Ishtar follows?</h3>
  <p>
    <b>Refunds</b>
    <br>
    Once your return is received and inspected, we will send you an email to notify you that we have received your returned item. We will also notify you of the approval or rejection of your refund.
    <br>
    If you are approved, then your refund will be processed, and a credit will automatically be applied to your credit card or original method of payment, within a certain amount of days.
    <br>
    Only regular priced items may be refunded, unfortunately sale items cannot be refunded.
    <br>
    We only return and refund items if they are defective or damaged. 
    <br>
    To return your product, you should mail your product to: … (address)
    <br>
    You will be responsible for paying for your own shipping costs for returning your item. Shipping costs are non-refundable. If you receive a refund, the cost of return shipping will be deducted from your refund.
    <br>
    Depending on where you live, the time it may take for your exchanged product to reach you, may vary.
  </p>
  <h3>What is the purchase process?</h3>
  <ol>
    <li>The Artworks are presented on the site with a description enabling the Buyer to know their essential characteristics and price.</li>
    <li>The Buyer selects the Artwork(s) he wishes to purchase.</li>
    <li>He confirms his choice of Product(s) and acknowledges and accepts the Terms herein by checking a box during the checkout process.</li>
    <li>It’s time for payment. The method available is Bank Transfer. So, he processes the transaction as soon as possible so that payment is actually received within 5 business days.</li>
    <li>The Buyer receives an email confirmation that states that the order has been accepted. However, the sale contract between the Buyer and the Vendor shall be subject to the condition that the Product is available and the transfer has been received.</li>
    <li>The product should be delivered during two to four weeks after confirmation email is sent to Buyer.</li>
  </ol>
</div>
