<app-header></app-header>
<div class="about-ishtar">
    <div class="img-container">
        <img class="main-img" src="../../../../../assets/logo.png">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 ishtar-info">
                <h2>About Ishtar</h2>
                <p>
                    Ishtar is the East Semitic Akkadian, Assyrian and Babylonian goddess of fertility, love, war, and sex. She is the counterpart to the Sumerian Inanna, and is the cognate for the Northwest Semitic Aramean goddess Astarte.
                </p>
            </div>
        </div>
    </div>
    <div class="logo-stage">
        <div class="container">
            <img src="../../../../../assets/about-ishtar-page/ishtar-gate.png" class="main-img-bg">
            <p class="img-title">Ishtar Gate</p>
            <div class="row">

                <div class="col-12">
                    <div class="title">
                        <h2>Logo stages</h2>
                        <p>Phase on started with <span>Ishtar Gate</span></p>
                    </div>
                    <div class="description">
                        <h3>The main idea</h3>
                        <p>
                            In the beginning we had the idea of combining two different propositions. The first is that the site of Ishtar is mainly concerned with art and the universal paintings.
                            <br>
                            The other suggestion is the meaning and the mythology of Ishtar as a goddess of the ancient Babylonians and a civilization of its own.
                        </p>
                        <span class="line"></span>
                    </div>
                </div>

                <div class="col-12">
                    <img src="../../../../../assets/about-ishtar-page/ishtar-gate-02.jpg" class="down-img">
                </div>

            </div>
        </div>
    </div>

    <div class="characters">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 col-xs-12">
                    <div class="characters-block">
                        <p>
                            At the beginning of the drawing of the letter i, we have to include the element of creativity on the one hand and as we mentioned earlier the architectural style on the other hand and therefore the drawing was similar to the column used in construction in the time of Babylonian civilization.
                        </p>
                        <h4>Draw the first character</h4>
                        <img src="../../../../../assets/about-ishtar-page/character-i.png" class="i-character">
                    </div>
                </div>
                <div class="col-sm-4 col-xs-12">
                    <div class="characters-block">
                        <h4>H character design</h4>
                        <img src="../../../../../assets/about-ishtar-page/character-h.png" class="h-character">
                        <p class="paragraph-h-character">
                            To design the letter H in its current form it was necessary to focus on showing the historical aspect of the hand and the letter H on the other hand, so the column was copied as stated in the letter I and also added an element which makes the design finally highlights the aesthetic character H and the same Time The historical gate of Ishtar, which is one of the main gates in the city of Babylon, appears.
                        </p>
                        <img src="../../../../../assets/about-ishtar-page/ishtar-gate.png" class="img-bg">
                    </div>
                </div>
                <div class="col-sm-4 col-xs-12">
                    <div class="characters-block">

                        <h4>Draw the T letter</h4>
                        <img src="../../../../../assets/about-ishtar-page/character-t.png" class="t-character">
                        <p>
                            The same technique was adopted in the drawing of the letter T suggesting that it was one of the pillars of the Babylonian civilization.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="first-phase">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-xs-12">
                    <p class="title">Final first phase logo</p>
                    <div class="first-block">
                        <h3>Completion of the first phase</h3>
                        <p>
                            The first phase of the work was completed on the logo in the same manner, thus producing our Ishtar logo in total and away from the details in addition to the use of gray, which is one of the gradations of black color in the composition of the first structure of the logo.
                        </p>
                        <img src="../../../../../assets/about-ishtar-page/02-ishtar.png" class="img-fluid">
                    </div>
                </div>
                <div class="col-sm-4 col-xs-12">
                    <div class="second-block">

                        <p>
                            <span class="title">Black Color</span>
                            In order to add attractive color as a background within the logo itself we had to use a distinctive color capable of absorbing the rest of the colors and on the other hand, it is possible to identify the basic template of the logo and detect the errors in it and therefore was directed to black color with a dark degree.
                        </p>
                        <img src="../../../../../assets/about-ishtar-page/03-ishtar.png" class="img-fluid">
                    </div>
                    <div class="third-block">
                       <p>
                           With the completion of the work on the discovery of errors through the coloring in black has moved to a new stage is the aestheticization of the logo and therefore has been added a new layer on the logo bearing the golden color to serve as the true start of the face of the virtual logo.
                        </p>
                        <img src="../../../../../assets/about-ishtar-page/01-ishtar.png" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="second-phase">
        <div class="container">
            <h2>Phase two started with <span>Ishtar elements</span></h2>
            <div class="row">
                <div class="col-md-7 col-sm-6 col-xs-12">
                    <h3>The idea</h3>
                    <p>
                        In the second phase of the work, the tendencies tended to make the logo realistic and tended to give aesthetic character in general.
                    </p>
                </div>
                <div class="col-md-5 col-sm-6 col-xs-12">
                    <div class="bg-black">
                        <h3>Adding expressive fees</h3>
                        <p>
                            When we return to the ancient Babylonian civilization we have to stand at some of the details that highlight this civilization as one of the hallmarks of ancient history, and therefore added some expressions that were common at the time, including the Babylonian lion and the multi-headed star.
                        </p>
                        <img src="../../../../../assets/about-ishtar-page/fees.png" class="img-fluid">
                    </div>
                </div>
                <div class="col-md-5 col-sm-6 col-xs-12 floor">
                    <h3>Adding the floor</h3>
                    <p>
                        The addition of the rocky floor to the logo, which was in later stages, in addition to some small palm trees, which is famous for the desert environment ... These additions combined led to the realization of the logo on the one hand, and also contributed to give it a special glamor.
                    </p>
                    <img src="../../../../../assets/about-ishtar-page/floor.png" class="img-fluid">
                </div>
            </div>
            <div class="row justify-content-end">
                <div class="col-md-5 col-sm-6 col-xs-12">
                    <div class="gods-isthar">
                        <div class="overlay"></div>
                            <img src="../../../../../assets/about-ishtar-page/Gods-Ishtar.png" class="img-statue">
                            <img src="../../../../../assets/about-ishtar-page/Gods-Ishtar-bg.png" class="img-bg">
                            <p>
                                <span class="title">Gods Ishtar</span>
                                As the work progressed in the slogan, it was necessary to show the most important character in the slogan,
                                <span class="title">Gods Ishtar</span>
                                the goddess of love, war and beauty in the Babylonian civilization and integrate it in harmony with the slogan.
                            </p>
                    </div>
                </div>
            </div>

            <div class="row justify-content-start">
                <div class="col-md-7 col-sm-6 col-xs-12">
                    <div class="gods-isthar">
                        <div class="overlay"></div>
                            <img src="../../../../../assets/about-ishtar-page/female-face-bg.png" class="img-bg">
                            <p>
                                It can be said that Babylonian civilization began in the 10th century BC, which is the same as the letter R in the English alphabet. Therefore, we intended to associate the female face representing the gods Ishtar with the letter R in order to show the reader the correct history of the beginning of the Babylonian civilization.
                            </p>
                            <h3>Female face & indication of numbers</h3>
                            <img src="../../../../../assets/about-ishtar-page/female-face.png" class="female-face img-fluid">
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-8 col-xs-12">
                <div class="down-block">
                    <h3>Adding the bright golden color</h3>
                    <p>
                        The addition of a new layer of brilliant golden color contributed significantly to show the logo details more appealing.
                    </p>
                    <img src="../../../../../assets/about-ishtar-page/bright-golden-color.png" class="img-fluid">
                    <img src="../../../../../assets/about-ishtar-page/arrow-black.png" class="arrow">
                    <img src="../../../../../assets/about-ishtar-page/arrow-black.png" class="arrow left">
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-8 col-xs-12">
                <div class="three-d-block">
                    <div class="overlay"></div>
                    <img src="../../../../../assets/about-ishtar-page/3d-bg.png" class="img-fluid img-bg">
                    <h3>3D architectural style</h3>
                    <p>
                       Adding architectural style through some cracks gave a three-dimensional haracter.
                    </p>
                    <img src="../../../../../assets/about-ishtar-page/3d-logo.png" class="img-fluid">
                    <img src="../../../../../assets/about-ishtar-page/arrow-gold.png" class="arrow">
                    <img src="../../../../../assets/about-ishtar-page/arrow-gold.png" class="arrow left">
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-6 col-xs-10">
                <div class="final-logo">
                    <p>
                       After assembling all the previous items we produced our following logo
                    </p>
                    <img src="../../../../../assets/about-ishtar-page/final-logo.jpg" class="img-fluid">
                </div>
            </div>
        </div>
    </div>

</div>

