<div *ngIf="users != null">
  <div class="container-fluid">
    <h1 class="text-center my-4">Manage User Page</h1>
    <a class="btn btn-primary btn-sm mb-2 float-right" routerLink="/admin/add-user">
      <i class="fa fa-plus"></i>
      Add New User
    </a>
    <div class="table-responsive text-center">
      <table class="table table-bordered main-table">
        <tr class="bg-dark text-white">
          <td>#ID</td>
          <td>Name</td>
          <td>UserName</td>
          <td>Password</td>
          <td>Email</td>
        </tr>
        <tr *ngFor="let user of users">
          <td>{{user.id}}</td>
          <td>{{user.name}}</td>
          <td>{{user.userName}}</td>
          <td>{{user.password}}</td>
          <td>{{user.email}}</td>
          <td>
            <a [routerLink]="['/admin/edit-user', user.id]" class="btn btn-success btn-sm mr-1">Edit</a>
            <a (click)="delete(user.id)" class="btn btn-danger confirm btn-sm mr-1">Delete</a>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
<div *ngIf="users == null">
  <div class="container">
    <div class="alert alert-primary text-center mt-5">There Isn't Any User To Show</div>
    <a routerLink="/admin/add-user" class="btn btn-primary btn-sm mb-2 float-right">
      <i class="fa fa-plus"></i>
      Add New User
    </a>
  </div>
</div>
