<br>
<br>
<div class="container">
  <h1>ISHTAR Art</h1>
  <ul>
    <li><i class="fas fa-map-marker-alt"></i> Deutschland - Berlin 10827</li>
    <li><i class="fas fa-at"></i>E-Mail: info@ishtar-art.de</li>
    <li><i class="fas fa-phone-volume"></i> Telefon: +49 163 3733146</li>

    <li><b>Angaben gemäß § 5 TMG:</b>
      <ul>
        <li></li>
        <li>Nisreen Abu Zidan Ishatr Art</li>
        <li>Feurigstr 61</li>
        <li>10827 Berlin Deutschland</li>
      </ul>
    </li>


    <li>USt-IdNr:
      <ul>
        <li></li>
        <li>1118/031/04896</li>
      </ul>
    </li>

    <li>Bankverbindung:
      <ul>
        <li></li>
        <li>Berliner Sparkasse</li>
        <li>IBAN:DE35 1005 0000 1068 7657 94</li>
        <li>BIC:BELADEBEXXX</li>
      </ul>
    </li>
  </ul>
</div>

