<br>
<br>
<div class="container" style="display: flex; justify-content: center;">
  <ul style="list-style-type: none; flex-basis: 75%;">
    <li><b>Angaben gemäß § 5 TMG:</b></li>

    <li>Nisreen Abu Zidan Ishatr Art</li>

    <li>Feurigstr 61</li>
    <li>10827 Berlin Deutschland</li>
    <br>
    <li>Telefon: +49 163 3733146</li>
    <br>
    <li>E-Mail: info@ishtar-art.de</li>
    <br>
    <li>Steuernummer: 18 201 04211</li>
    <br>

    <li><b>Bankverbindung:</b></li>

    <li>Berliner Sparkasse</li>
    <li>IBAN:DE35 1005 0000 1068 7657 94</li>
    <li>BIC:BELADEBEXXX</li>

    <br>
    <br>

    Die Texte auf dieser und den übrigen sowie die Gestaltung der Seiten unterliegen dem Urheberrecht von ishtar-art
    oder den namentlich genannten Personen, soweit dies gesetzlich möglich ist. Der Download von Inhalten zum
    persönlichen, privaten und kommerziellen Gebrauch ist nicht gestattet. Alle Inhalte, die sich auf dieser Homepage
    und den Seiten von von ishtar-art.de und deren Ablegern befinden, sind lediglich allgemeine Informationen. Keine
    Gewähr für Richtigkeit, Vollständigkeit und Aktualität. Jegliche Haftung, insbesondere für eventuelle Schäden oder
    Konsequenzen, die durch die Nutzung der angebotenen Informationen oder dieser Internetseite entstehen, sind
    ausgeschlossen.
    <br>
    <br>
    <li><b>Hinweis:</b></li>
    <li>
      <b>Die EU-Kommission bietet die Möglichkeit zur Online-Streitbeilegung auf einer von ihr betriebenen
        Online-Plattform. Diese Plattform ist über den externen Link https://ec.europa.eu/consumers/odr/ zu erreichen.
        Wir
        sind verpflichtet, an Verfahren zur Streitbeilegung vor dieser Stelle teilzunehmen. Wir werden an einem
        solchen
        Verfahren teilnehmen.
      </b>
    </li>
    <br>
    <b>Hinweis für Abmahnversuche</b>
    <br>
    Sollte der Inhalt oder die Aufmachung dieser Seiten fremde Rechte Dritter oder gesetzliche Bestimmungen verletzen,
    so bitten wir um eine entsprechende Nachricht ohne Kostennote.
    <br>
    Die Beseitigung einer ggf. von diesen Seiten ausgehenden Schutzrecht-Verletzung durch Schutzrecht-InhaberInnen
    selbst darf nicht ohne unsere Zustimmung stattfinden. Wir garantieren, dass die zu Recht beanstandeten Passagen
    und/oder Produkte unverzüglich entfernt werden, ohne dass von Ihrer Seite das Einschalten eines Rechtsbeistandes
    erforderlich ist. Dennoch von Ihnen ohne vorherige Kontaktaufnahme ausgelöste Kosten werden wir vollumfänglich
    zurückweisen und gegebenenfalls Gegenklage wegen Verletzung vorgenannter Bestimmung einreichen.
  </ul>
</div>
