<div id="school-info" class="col-12 ">
  <div class="p-5">
    <div class="rgba-black-strong w-100 p-5 text-white">
      <h2 class="text-center">Most Seen Art Type</h2>
      <h3>{{artType.name}}</h3>
      <p>
        {{artType.name}} was a revolutionary new approach to representing reality invented in around 1900s by artists
        Like Pablo Picasso and Georges Braque. They brought different views of subjects (usually objects or figures)
        together in the same picture, resulting in paintings that appear fragmented and abstracted. Pablo Picasso.<br>
        Associated artists: Pablo Picasso; Paul Cézanne
      </p>
    </div>
  </div>
</div>
