.school-container {
  h3 {
    position: absolute;
    color: rgba(255, 255, 255, 1);
  }
}

#school-info {
  background: url("https://afremov.com/images/product/image_851.jpeg");
  background-size: cover;
}

@media(max-width:500px) {
  
  #school-info {
    padding: 2rem !important;
    .p-5 {
      padding: 0 !important;
      .p-5 {
        padding: 1.5rem !important;
      }
    }
    h2 {
      border-bottom: 1px solid #e1e1e1;
      padding-bottom: 10px;
    }
  }
}