.school-container{
  h3 {
    position: absolute;
    color: rgba(255,255,255);
  }
}

#school-info {
  background: url("https://afremov.com/images/product/image_851.jpeg");
  background-size: cover;
}
