.profile-edit {
    margin-top: 15px;
    margin-bottom: 15px;
    border: 1px solid goldenrod;
    padding: 15px;
    position: relative;
    .img-profile{
        position: relative;
        img {
            margin: 5px auto 15px;
            display: block;
            padding: 5px;
            width: 125px;
            height: 125px;
            border-radius: 50%;
            border: 1px solid #e1e1e1;
        }
        input,
        .fa-pencil-alt {
            position: absolute;
            border-radius: 50%;
            width: 30px !important;
            height: 30px;
            bottom: 5px;
            right: calc(50% - 50px);
            opacity: 0;
            cursor: pointer !important;
        }
        .fa-pencil-alt {
            background: #ddd;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 16px;
            opacity: 1;
        }
    }
    input[type='file']{
        width: 200px;
    }
    label {
        margin: 10px 0;
        color: #999;
    }
    button {
        position: absolute;
        top: 15px;
        right: 15px;
        border: 1px solid goldenrod;
        color: #333;
        background: #fff;
        &:hover {
            background: goldenrod;
            color: #fff;
        }
    }
}