<app-header></app-header>

<div class="container">
  <div class="profile-edit">
    <form [formGroup]="profileEditForm" class="form-group" (ngSubmit)="saveChanges()">
      <div class="img-profile" formControlName="image">
        <img src="../../../../../assets/slider-images/7.png">
        <i class="fas fa-pencil-alt"></i>
        <input #imageInput type="file" class="form-control" (change)="uploadNewImage(imageInput)">
      </div>
      <label>User Name:</label>
      <input formControlName="username" type="text" value="{{oldUserProfile.username}}"
             class="form-control" required>
      <label>Name:</label>
      <input formControlName="fullName" type="text" value="{{oldUserProfile.fullName}}"
             class="form-control" required>
      <label>Mobile:</label>
      <input formControlName="phone" type="tel" value="{{oldUserProfile.phone}}"
             class="form-control" required>
      <label>Email:</label>
      <input formControlName="email" type="email" value="{{oldUserProfile.email}}"
             class="form-control" required>
      <label>Birthday:</label>
      <input formControlName="birthDate" type="date" value="{{oldUserProfile.birthDate}}"
             class="form-control" required>
      <button (click)="saveChanges()" [disabled]="!saveEditEnabled">Save</button>
    </form>
  </div>
</div>

<app-footer></app-footer>
