<div id="header-container">
  <header class="header-top bg-dark">
    <div class="container-fluid">
      <div class="header-top text-white p-2">
        <div class="row">
          <a class="navbar-brand" routerLink="/">
            <h2 id="brand" class="col">Ishtar Art</h2>
          </a>
          <h5 class="col text-center mt-2">Artist</h5>
          <div class="col text-right mt-2">
            <a><i class="fa fa-bars fa-lg p-2" aria-hidden="true"></i></a>
            <a><i class="fa fa-search fa-lg p-2" aria-hidden="true"></i></a>
            <a><i class="fa fa-shopping-cart fa-lg p-2" aria-hidden="true"></i></a>
            <a><span>Sign In</span></a>
            <a><i class="fa fa-facebook p-2" aria-hidden="true"></i></a>
            <a><i class="fa fa-whatsapp fa-lg p-2" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
    </div>
  </header>
  <div class="header-bottom col-5 mx-auto border p-3">
    <div class="col text-center header-bottom-items">
      <div class="row">
        <div class="col-2 item">Buy</div>
        <div class="col-2 item">Artist</div>
        <div class="col-2 item">Art Type</div>
        <div class="col-2 item">Painting</div>
      </div>
    </div>
  </div>
</div>
