@import "../../../../variables";
.header-bottom {
  position: relative
}

.header-bottom .header-bottom-items {
  position: absolute;
  left: 6rem;
}

.header-bottom .header-bottom-items .item {
  background: $dark-background;
  color: white;
}

.header-bottom .header-bottom-items .item:not(:last-of-type) {
  margin-right: 2px;
}

#header-container {
  margin-bottom: 1%;
}

#brand {
  color: white;
}
#brand:hover {
  color: white;
}
