<div *ngIf="artists != null">
  <div class="container-fluid">
    <h1 class="text-center my-4">Manage Artist Page</h1>
    <a class="btn btn-primary btn-sm mb-2 float-right" routerLink="/admin/add-artist">
      <i class="fa fa-plus"></i>
      Add New Artist
    </a>
    <div class="table-responsive text-center">
      				<table class="table table-bordered main-table">
      					<tr class="bg-dark text-white">
      						<td>#ID</td>
                  <td>Name</td>
                  <td>Nationality</td>
                  <td>Residence</td>
                  <td>Birth Date</td>
                  <td>Story</td>
                  <td>Details</td>
                  <td>Image</td>
                  <td>Video</td>
                  <td>Facebook</td>
                  <td>Instagram</td>
                  <td>Twitter</td>
                  <td>Linkedin</td>
                  <td>Control</td>
      					</tr>
      						<tr *ngFor="let artist of artists">                    
                    <td>{{artist.id}}</td>
                    <td>{{artist.name}}</td>
                    <td>{{artist.nationality}}</td>
                    <td>{{artist.residence}}</td>
                    <td>{{artist.birthDate}}</td>
                    <td>{{artist.story}}</td>
                    <td>{{artist.details}}</td>
                    <td>{{artist.image}}</td>
                    <td>{{artist.video}}</td>
                    <td>{{artist.faceBook}}</td>
                    <td>{{artist.instagram}}</td>
                    <td>{{artist.twitter}}</td>
                    <td>{{artist.linkedin}}</td>
                    <td>
                      <a routerLink="/admin/edit-artist" class="btn btn-success btn-sm mr-1">Edit</a>
                      <a href="#" class="btn btn-danger confirm btn-sm mr-1">Delete</a>
                    </td>
      						</tr>
      				</table>
    </div>
  </div>
</div>
<div *ngIf="artists == null">
  <div class="container">
    <div class="alert alert-primary text-center mt-5">There Isn't Artist To Show</div>
    <a routerLink="/admin/add-artist" class="btn btn-primary btn-sm mb-2 float-right">
      <i class="fa fa-plus"></i>
      Add New Artist
    </a>
  </div>
</div>