<div class="most-painting-seen">
  <div *ngIf="mostViewedData != null">
    <div *ngIf="mostViewedData.length !== 0">
      <div class="container">
        <h2 class="text-center text-white mb-4">Most Seen Paintings</h2>
        <div class="row">
          <!--  <ng-container *ngFor="let image of mostViewedData.slice(0, 2)">-->
          <div class="col-12 col-md-6 col-lg-4 mx-auto mb-3" *ngFor="let item of mostViewedData">
            <!-- Card Light -->
            <div class="card">

              <!-- Card image -->
              <div class="view overlay custom-card-header">
                <img class="card-img-top" src="{{item['0'].image}}" alt="{{item['0'].name}} Image">
                <a>
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>

              <!-- Card content -->
              <div class="card-body content">
                <div class="row">
                  <div class="col-8">
                    <h2 class="painting-name mt-3 mt-lg-0">
                      <a routerLink="/painting/{{item['0'].id}}">{{item['0'].name}}</a>
                    </h2>
                  </div>
                  <div class="col-4 align-self-center">
                    <div class="painting-viewed-number text-secondary">
                      <i class="far fa-eye m-1"></i>
                      <span>{{item.viewed}} Seen</span>
                    </div>
                  </div>
                </div>

                <p class="painting-artist-name">
                  Artist Name :
                  <a routerLink="/artist/{{item['0']?.artist?.id}}">
                    {{item['0']?.artist?.name}}
                  </a>
                </p>
                <p class="painting-dimension">Height: <span>{{item['0'].height}}CM</span> | Width: <span>{{item['0'].width}}CM</span></p>
                <p class="painting-color-type mb-0">
                  Color Type : <strong class="h5">{{item['0'].colorsType}}</strong>
                </p>
              </div>

            </div>
            <!-- Card Light -->
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="mostViewedData.length === 0">
      <div class="container">
        <p class="h4 null-most-seen-painting text-center pb-0">There Isn't Any Paintings To Show</p>
      </div>
    </div>
  </div>
  <div *ngIf="mostViewedData == null" class="most-seen-painting-loading">
    <h3 class="text-center">Loading ...</h3>
  </div>
</div>

