<section id="artist-page">
  <section id="banner">
    <mdb-carousel [isControls]="true" [animation]="'slide'">
      <mdb-carousel-item active>
        <img src="https://mdbootstrap.com/img/Photos/Slides/img%20(130).jpg" width="100%" height="auto">
        <div class="carousel-info-box">
          <h6 class="carousel-info-title">Waves</h6>
          <p class="carousel-info-text">Some Text Should Be Here</p>
        </div>
      </mdb-carousel-item>
      <mdb-carousel-item>
        <img src="https://mdbootstrap.com/img/Photos/Slides/img%20(130).jpg" width="100%" height="auto">
        <div class="carousel-info-box">
          <h6 class="carousel-info-title">Waves</h6>
          <p class="carousel-info-text">Some Text Should Be Here</p>
        </div>
      </mdb-carousel-item>
      <mdb-carousel-item>
        <!-- This Need some Fixing -_- -->
        <img src="https://mdbootstrap.com/img/Photos/Slides/img%20(130).jpg" width="100%" height="auto">
        <div class="carousel-info-box">
          <h6 class="carousel-info-title">Waves</h6>
          <p class="carousel-info-text">Some Text Should Be Here</p>
        </div>

      </mdb-carousel-item>
    </mdb-carousel>
  </section> <!-- banner -->

  <section id="avatar" class="d-flex">
    <img src="../../../../assets/1x/img-01.jpg">
    <div id="artist-info-area" class="align-self-end">
      <h3 id="artist-name" class="align-self-end">Artist Name</h3>
      <div class="d-flex">
        <a class="artist-social" href="#">
          <mdb-icon fab icon="facebook-square" size="2x"></mdb-icon>
        </a>
        <a class="artist-social" href="#">
          <mdb-icon fab icon="twitter-square" size="2x"></mdb-icon>
        </a>
        <a class="artist-social" href="#">
          <mdb-icon fab icon="linkedin" size="2x"></mdb-icon>
        </a>
      </div>
    </div>

    <button mdbBtn class="align-self-center">Follow!</button>
  </section><!-- #avatar -->

  <section id="artist-info-section" class="d-flex justify-content-center">
    <tabset [justified]="true" class="w-50">
      <tab heading="Biography">
        Louis Tomlinson's new single 'Back To You' featuring Bebe Rexha & Digital Farm Animals is out NOW.
        Get it here:
      </tab>
      <tab heading="Gallery">
        <div class="d-flex justify-content-center">
          <section id="artist-photos" class="grid">
            <img class="grid-item" src="{{p.url}}" *ngFor="let p of photos">
          </section>
        </div>
      </tab>
    </tabset>
  </section><!-- #info-section -->


  <section id="artist-cards" class="row d-flex justify-content-center">
    <div class="col-8 row d-flex">
      <div class="col-4 p-4" *ngFor="let i of [1,2,3,4,5,6]">
        <img src="../../../../assets/1x/img-01.jpg" class="img-fluid">
        <h5>
          Louis Tomlinson's new single 'Back To You' featuring Bebe Rexha & Digital Farm Animals is out NOW.
          Get it here:
        </h5>
      </div>
    </div>
  </section>
</section> <!-- #artist-page -->
