<div *ngIf="paintingList.length != 0">
<h3 class="title text-center pt-3">Painting</h3>
 <hr class="w-25 mx-auto border-dark mb-3">
<div class="col-12">
  <div id="painting-list">
    <div class="row">
      <div class="painting-list-item col-lg-3 col-sm-6 col-xs-12 mx-auto"
           *ngFor="let painting of paintingList | paginate: config; index as i"
           routerLink="/painting/{{painting.id}}">
        <div class="img-container">
          <span class="painting-buy" data-toggle="modal" data-target="#exampleModal" style="display: none;">
            <a href="mailto:info@ishtar-art.de?subject=REQUEST%20FOR%20ITEM%20PAI00{{painting.id}}"
               style="color: white">
              <i class="fas fa-shopping-cart"></i>
            </a>
          </span>
          <img class="img-fluid" src="{{painting?.image}}"
               (error)="painting.image = '../../../../../assets/1x/img-01.jpg'" alt="..."/>
          <span class="painting-info">
             <p class="painting-name">{{painting?.name}}</p>
             <p class="artist">{{painting?.artist}}</p>
             <ul class="statistics">
               <li>
                 <app-interaction [EntityName]="'painting'" [Row]="painting?.id" [interactionTypeString]="'like'"></app-interaction>
               </li>
               <li>
                 <app-interaction [EntityName]="'painting'" [Row]="painting?.id" [interactionTypeString]="'view'"></app-interaction>
               </li>
             </ul>
           </span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="text-center mt-3" id="my-pagination">
  <pagination-controls
    class="my-pagination"
    (pageChange)="pageChanged($event)"
    autoHide="true"
    responsive="true"
    previousLabel="Prev"
    nextLabel="Next"
    screenReaderPaginationLabel="Pagination"
    screenReaderPageLabel="page"
    screenReaderCurrentLabel="You're on page"></pagination-controls>
</div>
<!--<div *ngIf="filteredPaintingList.length == 0"><h5>Empty List Result!</h5></div>-->
</div>
