<div class="hero">
  <div class="hero-side">
    <img src="../../../../../assets/logo.png" alt="...">
    <div class="text-container">
      <h5>ISHTAR</h5>
      <p>From East to West</p>
    </div>
    <ol>
      <li *ngFor="let i of paintings; index as j" (click)="setActiveSlide(j)"
          [ngClass]="activeSlide == j? 'active': null"></li>
    </ol>
  </div>
  <div class="hero-main">
    <div id="hero-body">
      <div class="carousel-fg">
        <h5 class="carousel-text">{{paintings[activeSlide].title}}</h5>
        <p>{{paintings[activeSlide].text}}</p>
      </div>
      <mdb-carousel (activeSlideChange)="slideChanged($event)" [isControls]="false" #heroSlider>
        <mdb-carousel-item *ngFor="let i of paintings; index as j">
          <div class="carousel-bg">
          </div>
        </mdb-carousel-item>
      </mdb-carousel>
      <div class="trangle"></div>
      <img src="../../../../../assets/slider-images/4.png" class="painting-img">
      <img src="../../../../../assets/slider-images/2.png" class="box">
      <img src="../../../../../assets/slider-images/3.png" class="letter1">
      <img src="../../../../../assets/slider-images/5.png" class="letter2">
      <img src="../../../../../assets/slider-images/6.png" class="letter3">
      <div class="left-top-image">
        <p>For Art Lovers</p>
        <img src="../../../../../assets/slider-images/7.png" class="lion">
      </div>
    </div>
  </div>
</div>
