@import "~bootstrap/scss/bootstrap";

#main-hero {
  display: flex;
  width: 100%;
  height: 30rem;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;

  #hero-side {
    @media screen and (min-width: 0) {
      display: none;
    }
    @media screen and (min-width: 768px) {
      display: flex;
      height: 100%;
      flex-basis: 25%;

      div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #333333;

        div {
          flex-direction: row;
          // Carousel Indicators
          ol {
            position: inherit;
          }
        }

        img {
          max-width: 100%;
        }

        p {
          text-align: center;
          color: #ffffff;
          font-weight: 300;
          font-size: 24pt;
        }
      }
    }
  }

  #hero-main {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    a{
      color: black;
    }
    @media screen and (min-width: 0) {
      flex-basis: 100%;
    }
    @media screen and (min-width: 768px) {
      flex-basis: 75%;
    }

    // Header Area
    #hero-main-header {
      ul {
        list-style-type: none;
        li {
          display: inline-block;
          padding: 1rem;
        }
      }
    }
    #hero-slider{
      // Slider Image
      img {
        min-width: 100%;
        max-width: 100%;
      }
    }
  }
}

