<!-- For View Image in full screen -->
<div id="full-size-img">
  <img class="img-fluid" src="{{painting[0].image}}" alt="...">
  <button (click)="hideFullScreenMode()"><span>&times;</span></button>
</div>
<!-- #For View Image in full screen -->

<div class="main-carousel">
  <div class="carousel-cell">
    <div class="bg-light">
      <div class="container">
        <div id="painting-details" class="most-painting-seen mb-0">
          <div class="col-sm-8 col-md-10 col-xl-11 mx-auto">
            <div class="row">
              <div class="col-md-12 col-lg-8 mx-auto image mt-3 pb-3">
                <div class="d-lg-none painting-artist">
                  <img src="{{artist?.path}}" class="" alt="">
                  <app-follow-widget class="follow-artist"></app-follow-widget>
                  <p class="painting-artist-name">
                    <a routerLink="/artist/{{artist?.id}}">
                      {{painting[0].artist}}
                    </a>
                  </p>
                </div>
                <img src="{{painting['0']?.image}}" (click)="showImageInFullSize()" class="img-fluid mx-auto" alt="{{painting[0]?.name}} Image" id="main-img">
                <button class="full-size" (click)="showImageInFullSize()"><i class="fas fa-search-plus"></i> View the full Image</button>
              </div>
              <div class="col-md-12 col-lg-10 mx-auto content mt-2">
                <div class="row">
                  <div class="col-12 mt-3 painting-interaction">
                    <ul>
                      <li class="ml-0 my-1 mr-1 d-inline-block">
                        <app-clap-widget [ParentType]="1" [ParentId]="painting[0].id"></app-clap-widget>
                      </li>
                      <li class="m-1 d-inline-block">
                        <app-love-interaction [ParentType]="1" [ParentId]="painting[0].id"></app-love-interaction>
                      </li>
                      <li class="my-1 mx-3 buy-painting">
                        <a href="mailto:info@ishtar-art.de?subject=REQUEST%20FOR%20ITEM%20PAI00{{painting[0].id}}"
                           style="color: white">
                          <mdb-icon fas icon="shopping-cart"></mdb-icon>
                        </a>
                      </li>
                    </ul>
                  </div>
                  <div class="col-12">
                    <h2 class="painting-name mt-3 mt-lg-0"><a routerLink="/painting/{{painting[0].id}}">{{painting[0].name}}</a></h2>
                  </div>
                  <div class="col-12 painting-artist mb-3 d-lg-block d-none">
                    <div class="painting-artist-img d-inline-block">
                      <img src="{{artist?.path}}" class="" alt="">
                    </div>
                    <p class="painting-artist-name d-inline-block m-0">
                      <a routerLink="/artist/{{artist?.id}}">
                        {{painting[0].artist}}
                      </a>
                      <app-follow-widget class="follow-artist"></app-follow-widget>
                    </p>
                  </div>
                  <div class="col-12">
                    <p class="painting-dimension border-bottom border-dark pb-1">Height: <span>{{painting[0].height}}CM</span> | Width: <span>{{painting[0].width}}CM</span></p>
                    <p class=" border-bottom border-dark m-0 pb-1">Art Type : <span>{{painting[1].artType}}</span></p>
                  </div>
                  <div class="col-12">
                    <p class="painting-story">
                      <strong class="h4">{{painting[0].name}} Story :</strong>
                      {{painting[0].story != null ? painting[0].story : 'There Isn\'t Any Story For This Painitng Yet.'}}
                    </p>
                  </div>
                </div>
              </div>
            </div> <!--End Row-->
          </div>
        </div>
      </div>
    </div>

    <!--Starting Painting Video Section | display Now Because the content is not available-->
    <div class="painting-video d-none pt-5 pb-3">
      <div class="col-12 col-md-9 col-lg-7 col-xl-6 mx-auto">
        <h3 class="h1 text-center text-secondary">Painting Video</h3>
        <hr class="border w-25 mb-4 border-dark">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/LN820hIQ17Q" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</div>

