<div *ngIf="orders != null">
  <div *ngIf="orders.length !== 0">
    <div class="container-fluid">
      <h1 class="text-center my-4">Manage Artist Page</h1>

      <div class="table-responsive text-center">
        <table class="table table-bordered main-table">
          <tr class="bg-dark text-white">
            <td>#ID</td>
            <td>Client Name</td>
            <td>Delivery Address</td>
            <td>Subtotal</td>
            <td>Total</td>
            <td>Payment Method</td>
            <td>Shipping Statues</td>
            <td>Payment Date</td>
            <td>Items</td>
            <td>Payment Id</td>
            <td>Payer Id</td>
            <td>Actions</td>
          </tr>
          <tr *ngFor="let order of orders | paginate: config">
            <td>{{order.id}}</td>
            <td>{{order.client}}</td>
            <td>{{order.deliveryAddress}}</td>
            <td>{{order.subtotal}}</td>
            <td>{{order.total}}</td>
            <td>{{order.paymentMethod}}</td>
            <td>{{order.shippingState}}</td>
            <td>{{order.orderState}}</td>
            <td>{{order.items}}</td>
            <td>{{order.paymentId}}</td>
            <td>{{order.payerId}}</td>
            <td>
              <div *ngIf="order.payerId && order.paymentId">
                <a (click)="processPayment(order.id)" class="btn btn-success btn-sm mr-1 mb-1 text-light">
                  Process
                </a>
                <br>
                <a (click)="shipOrder(order.id)" class="btn btn-success btn-sm mr-1 mb-1 text-light">
                  Ship
                </a>
              </div>
              <div *ngIf="!order.payerId || !order.paymentId">
                Pending Confirmation
              </div>
            </td>
          </tr>
        </table>
        <pagination-controls class="my-pagination"
                             (pageChange)="pageChanged($event)"
                             autoHide="true"
                             maxSize="5"
                             responsive="true"
                             previousLabel="Prev"
                             nextLabel="Next"
                             screenReaderPaginationLabel="Pagination"
                             screenReaderPageLabel="page"
                             screenReaderCurrentLabel="You're on page">
        </pagination-controls>
      </div>
    </div>
  </div>
  <div *ngIf="orders.length === 0">
    <div class="container">
      <div class="alert alert-primary text-center mt-5">There Isn't Payments To Show</div>
    </div>
  </div>
</div>
<div *ngIf="orders == null">
  <div class="lds-ring">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>
