<div class="comments-box">
  <ul>
    <li style="display: inline-block">
      <a (click)="clapThePainting()" *ngIf="!paintingClapped">
        <mdb-icon far icon="hand-peace"></mdb-icon>
        Clap
      </a>
      <a *ngIf="paintingClapped">
        <mdb-icon fas icon="hand-peace"></mdb-icon>
        Clap
      </a>
    </li>
    <li style="display: inline-block">
      <a (click)="loveThePainting()" *ngIf="!paintingLiked">
        <mdb-icon far icon="heart"></mdb-icon>
        Love
      </a>
      <a *ngIf="paintingLiked">
        <mdb-icon fas icon="heart"></mdb-icon>
        Love
      </a>
    </li>
    <li style="display: inline-block">
      <i class="far fa-comment"></i> 112 comments
    </li>
  </ul>
  <form #commentsForm [formGroup]="commentsForm" class="form-group"
        (ngSubmit)="submitComment(commentsForm)">
      <textarea type="text" formControlName="comment" placeholder="Your comment..." class="form-control"></textarea>
  </form>

  <!-- Comments -->
  <div class="all-comments">

    <div class="sub-comment">
      <img src="../../../../../assets/slider-images/4.png">
      <span class="time">
        1 hour ago
      </span>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
      </p>
    </div>

    <div class="sub-comment">
      <img src="../../../../../assets/slider-images/4.png">
      <span class="time">
        1 hour ago
      </span>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
      </p>
    </div>

    <div class="sub-comment">
      <img src="../../../../../assets/slider-images/4.png">
      <span class="time">
        1 hour ago
      </span>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
      </p>
    </div>

    <div class="sub-comment">
      <img src="../../../../../assets/slider-images/4.png">
      <span class="time">
        1 hour ago
      </span>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
      </p>
    </div>

    <div class="sub-comment">
      <img src="../../../../../assets/slider-images/4.png">
      <span class="time">
        1 hour ago
      </span>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
      </p>
    </div>

  </div>
  <!-- #Comments -->

</div>
