<div class="col-12 comments-box">
  <ul>
    <li style="display: inline-block">
      <i class="far fa-comment"></i> {{comments?.length}} comments
    </li>
  </ul>

  <!-- New Comment -->
  <form class="form-group">
    <textarea #textarea="ngModel"
              type="text" ngModel
              name="comment"
              (keyup.enter)="pressing(textarea)"
              (keydown.enter)="onKeydown($event)"
              placeholder="{{!clientIsLogin ? 'Login if you want to make your comment' : 'Your comment...'}}"
              class="form-control rounded-0"
              required
              [ngStyle]="{'border': errorMessage != '' ? '1px solid #f00' : 'none'}"
              [disabled]="isSubmitted || !clientIsLogin"></textarea>
    <span class="invalid-feedback pl-3 mt-2" *ngIf="errorMessage != null" [ngStyle]="{'display': errorMessage != null ? 'block' : 'none'}">{{errorMessage}}</span>
  </form>
  <!-- #New Comment -->



</div>
<!--<div class="alert alert-warning text-center" [class.d-none]="clientIsLogin">Login if you want to make your comment</div>-->
