<div class="statues-detail bg-light py-4" *ngIf="statueDetails != null && artist != null">
  <div class="container-fluid">
    <div class="details">
      <div class="full-size-img" [class.active]="fullSizeImageActive">
        <img #fullSizeImage class="img-fluid" src="{{statueDetails?.image}}" alt="...">
        <button (click)="hideFullScreenMode()"><span>&times;</span></button>
      </div>
      <div class="row">
        <div class="col-12 col-lg-8">
          <div class="statue-img">
            <div class="row">
              <div class="col-12 statue-artist text-xl-left mb-3">
                  <div class="statue-artist-img d-inline-block">
                    <img
                      src="{{!artist[0]?.path ? '../../../../../assets/default-avatar.jpg' : artist[0]?.path}}"
                      class=""
                      alt="">
                  </div>
                  <p class="statue-artist-name d-inline-block m-0">
                    <a>
                      <h5 routerLink="/artist/{{artist[0]?.id}}"
                          class="mb-0">{{artist[0]?.name}}</h5>
                      <span>Paintings: {{statueDetails.artist?.painting}}</span>
                    </a>
                  </p>
                  <app-follow [ParentType]="'artist'" [ParentId]="statueDetails?.id" class="follow-artist"></app-follow>
              </div>
              <div class="col-2 d-none d-md-block invisible pr-0">
                <div class="statue-seconds-img border border-secondary" *ngFor="let i of [1,1,1]">
                  <img src="{{statueDetails?.image}}" (click)="setMainPainting($event)" class="img-fluid" alt="">
                </div>
              </div>
              <div class="col-12 col-sm-11 col-md-10 mx-auto">
                <div class="statue-image border border-secondary position-relative">
                  <img #mainImg src="{{statueDetails?.image}}" (click)="showImageInFullSize()" class="img-fluid mx-auto"
                       alt="{{statueDetails?.name}} Image">
                  <button class="statue-img-favorite position-absolute" *ngIf="!isFavoriteAdded"
                          (click)="addToFavorite()"><i class="far fa-star fa-2x"></i></button>
                  <button class="statue-img-favorite position-absolute" *ngIf="isFavoriteAdded"
                          (click)="removeFromFavorite()"><i class="fas fa-star fa-2x"></i></button>
                  <button class="magnifying full-size" (click)="showImageInFullSize()"><i class="fas fa-search"></i>
                  </button>
                </div>
              </div>
              <div class="col-12 col-sm-11 mx-auto d-md-none d-none mt-2">
                <div class="statue-seconds-img">
                  <div class="row">
                    <div class="col" *ngFor="let secondaryStatue of secondaryStatues">
                      <img class="img-fluid" src="{{secondaryStatue?.secondStatue}}" alt="..." (click)="setMainPainting($event)">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-10 col-md-8 col-lg-4 mx-auto">
          <div class="statue-content">
            <div class="row">
              <div class="col-12">
                <h2 class="statue-name mt-3 mt-lg-0">{{statueDetails?.name}}</h2>
              </div>
              <div class="col-6 text-left d-none">
                <span class="h3 statue-unique-code">#123456</span>
              </div>
              <!--              <div class="col-6 text-right">-->
              <!--                <span class="bg-warning py-1 px-3">250 e</span>-->
              <!--              </div>-->
              <div class="col-12">
                <div class="statue-style">
                  <p class="h4 my-3">Style: <span>{{statueDetails?.style}}</span></p>
                </div>
              </div>
              <div class="col-12">
                <p class="statue-dimension mt-2">Size: <span>{{statueDetails?.height}}CM</span> X
                  <span>{{statueDetails?.width}}CM</span> X <span>{{statueDetails?.length}}CM</span></p>
                <p class="m-0 pb-1">Weight : <span>{{statueDetails?.weight}} Kg</span></p>
              </div>
              <div class="col-8 mt-3 statue-interaction">
                <ul>
                  <li class="ml-0 my-1 mr-1 d-inline-block">
                    <app-clap [ParentType]="'painting'" [ParentId]="statueDetails?.id"></app-clap>
                  </li>
                  <li class="m-1 d-inline-block">
                    <app-love [ParentType]="'painting'" [ParentId]="statueDetails?.id"></app-love>
                  </li>
                </ul>
              </div>
              <div class="col-4 align-self-center">
                <span>
                  <app-interaction [Entity]="'statue'" [Row]="statueDetails?.id" [interaction]="'view'"></app-interaction>
                  Seen
                </span>
              </div>
              <div class="col-6 col-lg-12 d-none">
                <button mdbBtn class="btn btn-block m-0 my-2"
                        (click)="addToWishList()"
                        id="add-to-wish-btn">
                  Add to Cart
                  <span class="font-weight-bold ml-1 d-none">2400$</span>
                </button>
              </div>
              <div class="col-6 col-lg-12">
                <button mdbBtn class="btn btn-block border border-dark shadow-none m-0 my-2"
                        id="make-an-offer">
                  <a href="mailto:info@ishtar-art.de?subject=REQUEST%20FOR%20ITEM%20PAI00{{statueDetails?.id}}"
                     style="color: #000;">
                    Connect Us To Make An Offer
                  </a>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="py-4">
      <div class="row">
        <div class="col-12 col-lg-7 col-xl-8">
          <div class="row information-section">
            <h2>About the statue</h2>

            <div class="sub-block">
              <div class="col-sm-3 col-xs-12">
                <p class="title">Description</p>
              </div>
              <div class="col-sm-9 col-xs-12">
                <p class="info">{{statueDetails?.description}}</p>
              </div>
            </div>

            <div class="sub-block">
              <div class="col-sm-3 col-xs-12">
                <p class="title">Material</p>
              </div>
              <div class="col-sm-9 col-xs-12">
                <p class="info">{{statueDetails?.material}}</p>
              </div>
            </div>

            <div class="sub-block">
              <div class="col-sm-3 col-xs-12">
                <p class="title">Style</p>
              </div>
              <div class="col-sm-9 col-xs-12">
                <p class="info">{{statueDetails?.style}}</p>
              </div>
            </div>

            <div class="sub-block">
              <div class="col-sm-3 col-xs-12">
                <p class="title">How long it take to be done</p>
              </div>
              <div class="col-sm-9 col-xs-12">
                <p class="info">{{statueDetails?.period}}</p>
              </div>
            </div>

            <div class="sub-block">
              <div class="col-sm-3 col-xs-12">
                <p class="title">Mediums</p>
              </div>
              <div class="col-sm-9 col-xs-12">
                <p class="info">{{statueDetails?.mediums}}</p>
              </div>
            </div>

            <div class="sub-block">
              <div class="col-sm-3 col-xs-12">
                <p class="title">Features</p>
              </div>
              <div class="col-sm-9 col-xs-12">
                <p class="info">{{statueDetails?.features}}</p>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
