<app-header></app-header>
<br>
<br>
<div class="container">
  <h1 class="text-center">Data Processing Agreement</h1>
  <p>
    This Data Processing Agreement forms part of the Contract for Services under the ISHTAR Terms and Conditions (the "Principal Agreement"). This Agreement is an amendment to the Principal Agreement and is effective upon its incorporation to the Principal Agreement, which incorporation may be specified in the Principal Agreement or an executed amendment to the Principal Agreement. Upon its incorporation into the Principal Agreement, this Agreement will form a part of the Principal Agreement.
    <br>
    We periodically update this Agreement. If you have an active ISHTAR account, you will be informed of any modification by email. 
    <br>
    The term of this Agreement shall follow the term of the Principal Agreement. Terms not defined herein shall have the meaning as set forth in the Principal Agreement.
    <br>
    <br>
    <b>WHEREAS:</b>
  </p>
  <ol>
    <li>ISHTAR acts as a Data Controller. </li>
    <li>
      The Parties seek to implement a data processing agreement that complies with the requirements of the current legal framework in relation to data processing and with the Regulation (EU) 2016/679 of the European Parliament and of the Council of 27 April 2016 on the protection of natural persons with regard to the processing of personal data and on the free movement of such data, and repealing Directive 95/46/EC (General Data Protection Regulation).
    </li>
    <li>The Parties wish to lay down their rights and obligations.</li>
  </ol>
</div>
<app-footer></app-footer>
