.floating-header {
  width: 100%;
  height: 3rem;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  z-index: 999;
}

.most-painting-seen {
  padding: 2rem 0;
  background: #343a40;
  color: #fff;
  .image {
    img {

    }
  }
  .content {
    .painting-name {
      a {
        color: #CCB832;
      }
    }
    .painting-artist-name,
    .painting-dimension {
      border-bottom: 1px solid;
    }
    .painting-artist-name a:hover,
    .painting-name a:hover {
      color: #f4db75;
    }
    .painting-artist-name a,
    .painting-story .h4,
    p span {
      color: #b2b67a;
    }
  }
}

@media (max-width:991px) and (min-width:768px) {
  #painting-list{
    .painting-list-item:last-child {
      visibility: hidden !important;
    }
  } 
}

@media (max-width:500px){
  h1 {
    font-size: 25pt !important;
    margin: 1rem !important;
  }
}

