<div class="bg-light">
  <div class="container">
    <section class="w-100" id="search-list-section">
      <div class="row">
        <div class="col-12">
          <app-painting-search [paintingList]="paintingList"></app-painting-search>
        </div>
        <div class="col-12">
          <app-artist-search [artistList]="artistList"></app-artist-search>
        </div>
        <div class="col-12" *ngIf="paintingList.length == 0 && artistList.length == 0">
          <div class="empty-result">
            <div class="alert alert-info text-center">There isn't any result to show</div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
