
<div class="filters-group">
    <div class="filter">
        <p class="title">Filter by style name</p>
        <button>ArtType name</button>
        <button>ArtType name</button>
        <button>ArtType name</button>
        <button>ArtType name</button>
        <button>ArtType name</button>
        <button>ArtType name</button>
    </div>
    <div class="filter">
        <p class="title">Filter by artist name</p>
        <button>Artist name</button>
        <button>Artist name</button>
        <button>Artist name</button>
        <button>Artist name</button>
        <button>Artist name</button>
        <button>Artist name</button>
    </div>
    <div class="filter">
        <p class="title">Filter by price range</p>
    </div>
    <div class="filter">
       <p class="title">Filter by materials</p>
        <button>Material name</button>
        <button>Material name</button>
        <button>Material name</button>
        <button>Material name</button>
        <button>Material name</button>
        <button>Material name</button>
    </div>
    <div class="filter">
        <p class="title">Filter by size</p>
        <button class="size-btn"><span>Small</span> <small>less than 1 x 1/2"</small></button>
        <button class="size-btn"><span>Medium</span> <small>between 1 x 1/2" and 1.5 x 1"</small></button>
        <button class="size-btn"><span>Big</span> <small>more than 1.5 x 1"</small></button>
    </div>
</div>

<div class="statues-list">
    <div class="wrapper">
        <div class="statue">
            <div class="img-magnifier-container">
                <img id="myimage" src="../../../../../assets/statues/statue03.jpg">
            </div>
            <div class="info">
                <div class="info-wrapper">
                    <h3>Statue Name</h3>
                    <p class="artist-name">Artist Name</p>
                    <p class="views"><i class="far fa-eye"></i> 1425</p>
                </div>
                <span class="price">200e</span>
            </div>
            <button class="magnifying"><i class="fas fa-search"></i></button>
            <button class="favourite"><i class="far fa-star"></i></button>
        </div>
        <div class="statue">
            <div class="img-magnifier-container">
                <img id="myimage1" src="../../../../../assets/statues/statue02.jpg" width="100%" height="600">
            </div>
            <div class="info">
                <div class="info-wrapper">
                    <h3>Statue Name</h3>
                    <p class="artist-name">Artist Name</p>
                    <p class="views"><i class="far fa-eye"></i> 1425</p>
                </div>
                <span class="price">200e</span>
            </div>
            <button class="magnifying"><i class="fas fa-search"></i></button>
            <button class="favourite"><i class="far fa-star"></i></button>
        </div>
        <div class="statue">
            <img src="../../../../../assets/statues/statue03.jpg" class="img-fluid">
            <div class="info">
                <div class="info-wrapper">
                    <h3>Statue Name</h3>
                    <p class="artist-name">Artist Name</p>
                    <p class="views"><i class="far fa-eye"></i> 1425</p>
                </div>
                <span class="price">200e</span>
            </div>
            <button class="magnifying"><i class="fas fa-search"></i></button>
            <button class="favourite"><i class="far fa-star"></i></button>
        </div>
        <div class="statue">
            <img src="../../../../../assets/statues/statue04.jpg" class="img-fluid">
            <div class="info">
                <div class="info-wrapper">
                    <h3>Statue Name</h3>
                    <p class="artist-name">Artist Name</p>
                    <p class="views"><i class="far fa-eye"></i> 1425</p>
                </div>
                <span class="price">200e</span>
            </div>
            <button class="magnifying"><i class="fas fa-search"></i></button>
            <button class="favourite"><i class="far fa-star"></i></button>
        </div>
        <div class="statue">
            <img src="../../../../../assets/statues/statue05.jpg" class="img-fluid">
            <div class="info">
                <div class="info-wrapper">
                    <h3>Statue Name</h3>
                    <p class="artist-name">Artist Name</p>
                    <p class="views"><i class="far fa-eye"></i> 1425</p>
                </div>
                <span class="price">200e</span>
            </div>
            <button class="magnifying"><i class="fas fa-search"></i></button>
            <button class="favourite"><i class="far fa-star"></i></button>
        </div>
        <div class="statue">
            <img src="../../../../../assets/statues/statue02.jpg" class="img-fluid">
            <div class="info">
                <div class="info-wrapper">
                    <h3>Statue Name</h3>
                    <p class="artist-name">Artist Name</p>
                    <p class="views"><i class="far fa-eye"></i> 1425</p>
                </div>
                <span class="price">200e</span>
            </div>
            <button class="magnifying"><i class="fas fa-search"></i></button>
            <button class="favourite"><i class="far fa-star"></i></button>
        </div>
        <div class="statue">
            <img src="../../../../../assets/statues/statue04.jpg" class="img-fluid">
            <div class="info">
                <div class="info-wrapper">
                    <h3>Statue Name</h3>
                    <p class="artist-name">Artist Name</p>
                    <p class="views"><i class="far fa-eye"></i> 1425</p>
                </div>
                <span class="price">200e</span>
            </div>
            <button class="magnifying"><i class="fas fa-search"></i></button>
            <button class="favourite"><i class="far fa-star"></i></button>
        </div>
        <div class="statue">
            <img src="../../../../../assets/statues/statue03.jpg" class="img-fluid">
            <div class="info">
                <div class="info-wrapper">
                    <h3>Statue Name</h3>
                    <p class="artist-name">Artist Name</p>
                    <p class="views"><i class="far fa-eye"></i> 1425</p>
                </div>
                <span class="price">200e</span>
            </div>
            <button class="magnifying"><i class="fas fa-search"></i></button>
            <button class="favourite"><i class="far fa-star"></i></button>
        </div>
        <div class="statue">
            <img src="../../../../../assets/statues/statue02.jpg" class="img-fluid">
            <div class="info">
                <div class="info-wrapper">
                    <h3>Statue Name</h3>
                    <p class="artist-name">Artist Name</p>
                    <p class="views"><i class="far fa-eye"></i> 1425</p>
                </div>
                <span class="price">200e</span>
            </div>
            <button class="magnifying"><i class="fas fa-search"></i></button>
            <button class="favourite"><i class="far fa-star"></i></button>
        </div>
        <div class="statue">
            <img src="../../../../../assets/statues/statue01.jpg" class="img-fluid">
            <div class="info">
                <div class="info-wrapper">
                    <h3>Statue Name</h3>
                    <p class="artist-name">Artist Name</p>
                    <p class="views"><i class="far fa-eye"></i> 1425</p>
                </div>
                <span class="price">200e</span>
            </div>
            <button class="magnifying"><i class="fas fa-search"></i></button>
            <button class="favourite"><i class="far fa-star"></i></button>
        </div>

    </div>
</div>
