.clap-container {
  max-height: 64px;
  height: 32px;
  line-height: 0;
  position: relative;

  img {
    vertical-align: baseline;
  }

  p {
    position: absolute;
    bottom: 0;
    right: 0;
    line-height: 0;
    font-size: 12pt;
  }
}
