<div class="clap-icon" *ngIf="clapped">
  <div class="clap-container">
    <img src="{{clapFiled}}" alt="clap icon" width="{{clapIconSize}}" height="{{clapIconSize}}" (click)="deleteClap()">
  </div>
  <h5 class="mb-0">Clapped {{clappedNumber}} Times By You!</h5>
</div>
<div class="clap-icon" *ngIf="!clapped">
  <div class="clap-container">
    <img (mousedown)="startCalc()" (mouseup)="endClac()" src="{{clapOutlined}}"
         alt="clap icon" width="{{clapIconSize}}" height="{{clapIconSize}}">
  </div>
  <h5 class="mb-0" *ngIf="!holding">Clap </h5>
  <h5 class="mb-0" *ngIf="holding">Clapping {{calculateClaps()}} Times</h5>
</div>

