.clap-icon {
  div, h5 {
    display: inline-block;
  }
  .clap-container {
    cursor: pointer;
    max-height: 64px;
    height: 32px;
    line-height: 0;
    position: relative;

    img {
      margin-bottom: 5px;
    }

    p {
      position: absolute;
      bottom: 0;
      right: 0;
      line-height: 0;
      font-size: 12pt;
    }
  }
}

