<app-header></app-header>
<div *ngIf="formattedList != null" style="margin-top: 110px;margin-bottom: 20px">
  <app-c-painting-list [formattedPaintingList]="formattedList" ></app-c-painting-list>
</div>
<div *ngIf="formattedList == null" style="margin-top: 110px;margin-bottom: 20px">
  <div class="text-center">
    <h5 class="text-center">Loading...</h5>
    <img src="../../../../../assets/loading.gif" alt="Loading" class="img-fluid" style="object-fit: contain">
  </div>
</div>
<app-footer></app-footer>
