<div id="view-comment-box">
  <div class="row" *ngIf="editMode">
    <form class="form-group" [formGroup]="commentForm" (ngSubmit)="saveComment()">
    <textarea formControlName="commentText"
              type="text"
              name="comment"
              placeholder="Your comment..."
              class="form-control rounded-0"
              required
              [ngStyle]="{'border': errorMessage != '' ? '1px solid #f00' : 'none'}">
    </textarea>
      <button type="reset" class="btn btn-primary" (click)="disableEditMode()">Cancel</button>
      <button type="submit" class="btn btn-primary" (click)="saveComment()">Submit</button>
      <span class="invalid-feedback pl-3 mt-2" *ngIf="errorMessage != null"
            [ngStyle]="{'display': errorMessage != null ? 'block' : 'none'}">{{errorMessage}}</span>
    </form>
  </div>
  <div class="row" *ngIf="!editMode">
    <div *ngIf="comment.editable">
      <a class="btn btn-primary btn-sm mr-1 px-1 py-0" (click)="enableEditMode()">Edit</a>
      <a class="btn btn-danger btn-sm confirm px-1 py-0" (click)="deleteComment()">Delete</a>
    </div>
    <div class="col-sm-2 col-lg-1 text-center">
      <img class="res-image img-fluid"
           src="{{!comment.userImage ? '../../../../../assets/default-avatar.jpg' : comment.userImage}}"
           alt=""/>
    </div>
    <div class="col-sm-10 col-lg-11 mt-2 mt-sm-0">
      <div class="comment-body bg-secondary text-white py-2 px-3">
        <div class="time">
        <span
          class="border-bottom pb-1">{{comment.username}} {{comment.date != null ? '( ' + (comment.date.timestamp * 1000 | date) + ' )' : ''}}</span>
        </div>
        <p class="comment m-0 mt-2">
          {{comment.body}}
        </p>
      </div>
    </div>
  </div>
</div>
