.header {
  height: 50px;
  .logo {
    margin-left: 20px;
    margin-top: 15px;
    cursor: pointer;
    outline: none !important;
  }
  .letter-circle {
    font-size:1em;
    width:2.5em;
    height:2.5em;
    line-height:2.5em;
    text-align:center;
    border-radius:50%;
    background:plum;
    vertical-align:middle;
    color:white;
    cursor: pointer;
    .info {
      min-width: 100px;
      position: absolute;
      cursor: auto;
      right: 0px;
      top: 45px;
      border-radius: 15px;
      background: #fff;
      padding: 10px;
      border: 1px solid #e1e1e1;
      box-shadow: 0px 2px 2px rgba(0,0,0,0.1);
      -webkit-box-shadow: 0px 2px 2px rgba(0,0,0,0.1);
      visibility: hidden;
      opacity: 0;
      transition: all 1s ease-in-out;
      -webkit-transition: all 1s ease-in-out;
      .email {
        color: #000;
      }
      &:hover {
        opacity: 1;
        visibility: visible !important;
      }
    }
    &:hover {
      .info {
        opacity: 1;
        visibility: visible !important;
      }
    }
  }
  .spacer {
    @media screen and (min-width: 0){
      height: 0;
    }
    @media screen and (min-width: 960px) {
      height: 4.5rem;
    }
    // Start sm Size Screen
    @media (max-width: 959px) {
      height: 3.6rem;
    }
    @media (min-width: 960px) and (max-width: 992px) {
      height: 4rem;
    }
  }
  a {
    color: black;
  }
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    z-index: 999;
    .header-nav {
      .header-top {
        margin-left: -15px;
        margin-right: -15px;
        -webkit-box-shadow: 2px 2px 4px #ddd;
        -moz-box-shadow: 2px 2px 4px #ddd;
        -o-box-shadow: 2px 2px 4px #ddd;
        box-shadow: 2px 2px 4px #ddd;
        line-height:2.5em;
        vertical-align:middle;
        img.demo-img {
          width: 30px;
          vertical-align: top !important;
          margin-left: 15px;
        }
        li {
          display: inline-block;
          margin: 0.4rem;
          .dropdown {
            .login, .logout {
              margin-right: 10px;
              a {
                color: goldenrod;
                font-weight: bold;
              }
            }
            mdb-icon {
              vertical-align: middle;
            }
          }
          a {
            color: black;
          }
        }
      }
      .header-bottom {
        margin-top: 10px;
      }
      .btn-wish-list {
        background: #bfb049;
        font-weight: 600;
      }
      .btn-favorite {
        font-weight: 600;
        border-left: 1px solid #aaa;
        border-right: 1px solid #aaa;
      }
      .btn-wish-list,
      .btn-favorite {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        -o-box-shadow: none;
        box-shadow: none;
      }
    }
  }
  mdb-navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    direction: rtl;
    background: #ffffff;
    z-index: 999;
    .letter-circle {
      font-size:1em;
      width:2.5em;
      height:2.5em;
      line-height:2.5em;
      text-align:center;
      border-radius:50%;
      background:plum;
      vertical-align:middle;
      margin-right:1em;
      color:white;
      .info {
        position: absolute;
        cursor: auto;
        right: 0px;
        top: 45px;
        border-radius: 15px;
        background: #fff;
        padding: 10px;
        border: 1px solid #e1e1e1;
        box-shadow: 0px 2px 2px rgba(0,0,0,0.1);
        -webkit-box-shadow: 0px 2px 2px rgba(0,0,0,0.1);
        .email {
          color: #000;
        }
      }
      .letter:hover + .info {
        opacity: 1;
        visibility: visible;
      }
    }
    .btn-wish-list {
      background: #bfb049;
      font-weight: 600;
      box-shadow: none;
    }
    .btn-favorite {
      margin: 0 0 0 14rem;
      font-weight: 600;
      border-left: 1px solid #aaa;
      border-right: 1px solid #aaa;
    }
    .btn-wish-list,
    .btn-favorite {
      padding: .5rem 1rem;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      -o-box-shadow: none;
      box-shadow: none;
    }
    .header-mobile-section {
      width: 25%;
      align-items: center;
      line-height: 0.5;
      .demo-img {
        width: 20px !important;
        display: inline-block;
        margin-left: -5px;
      }
      span {
        display: inline-block;
      }
    }
    .dropdown {
      mdb-icon {
        vertical-align: text-top;
        margin-bottom: 10px;
      }
    }
  }
}
//Search 
.header-nav {
  ul {
    float: right;
    position: relative;
    .dropdown-menu {
      min-width: 8rem;
      top: -10px;
      left: -10px;
    }
  }
}
.search-box {
  margin-left: 35px;
  .search{
    text-align: right;
    .input-search,
    .input-mobile-search{
      width: 0;
      height: 40px;
      transition: all .3s ease-in-out;
      -o-transition: all .3s ease-in-out;
      -ms-transition: all .3s ease-in-out;
      -moz-transition: all .3s ease-in-out;
      -webkit-transition: all .3s ease-in-out;
    }
    .input-search {
      margin-top: 8px;
      width: 100%;
      input {
        width: 100%;
        display: block;
        background: #fff;
      }
    }
  }
  
}
// Search in Mobile 
.search-mobile{
  position: relative;
  padding: 10px 0;
  input{
    direction: ltr;
  }
  mdb-icon {
    position: absolute;
    cursor: pointer;
    top: 14px;
    right: 2px;
    height: 30px;
    padding: 7px 10px !important;
    transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
  }
}
@keyframes pull-right {
  0% {
    right: -100%;
  }
  100% {
    right: 0%;
  }
}
@-webkit-keyframes pull-right {
  0% {
    right: -100%;
  }
  100% {
    right: 0%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
 .header{
    mdb-navbar {
      .header-mobile-section{
        height: 50px;
        width: 30%;
      }
      .btn-favorite {
        margin: 0 0 0 14rem;
      }
      .header-mobile-section {
        span {
          font-size: 1rem;
        }
      }
    }
  }
}
@media (min-width: 401px) and (max-width: 767px) {
  .header{
    mdb-navbar {
      width: 100vw;
      .header-mobile-section{
        height: 50px;
        width: 40%;
      }
      mdb-icon {
        padding: 0 .7rem;
      }
      .btn-favorite {
        margin: 0 0 0 6rem;
      }
      .header-mobile-section {
        span {
          font-size: .9rem;
        }
      }
    }
  }
}
@media (max-width:991px) {
  .dropdown.show {
    .dropdown-menu {
      padding: 0;
      top: 15px !important;
      box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
      -webkit-box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
    }
  }
  .navbar-nav{
    border-top: 1px solid #e1e1e1;
    li {
      position: relative;
      right: 0%;
      margin: 5px;
      animation: pull-right .5s ease-in-out;
      -webkit-animation: pull-right .5s ease-in-out;
      &:nth-child(2){
        animation: pull-right 1s ease-in-out;
        -webkit-animation: pull-right 1s ease-in-out;
      }
      &:nth-child(3){
        animation: pull-right 1.5s ease-in-out;
        -webkit-animation: pull-right 1.5s ease-in-out;
      }
      &:nth-child(4){
        animation: pull-right 2s ease-in-out;
        -webkit-animation: pull-right 2s ease-in-out;
      }
    }
    li.active {
      > a {
        background: goldenrod !important;
        color: #fff !important;
      }
    }
  }
  .login-btn {
    background: #fff !important;
    .dropdown-item {
      color: goldenrod !important;
      font-weight: bold;
      background: #fff !important;
      &:focus {
        background: #fff !important;
      }
    }
  }
  .navbar-light .navbar-toggler {
    position: absolute !important;
    right: 150px;
    top: 7px;
  }
}
@media (max-width:400px) {
  .login-btn {
    right: 20px;
  }
  .header{
    mdb-navbar {
      width: 100vw;
      .header-mobile-section{
        width: 50%;
        margin-left: -10%;
      }
      mdb-icon {
        padding: 0 .7rem;
        font-size: .8rem!important;
      }
      .dropdown-menu {
        right: 0;
      }
      .btn-wish-list,
      .btn-favorite {
        margin: 0;
        padding: .1rem .3rem;
        font-size: .7rem;
      }
      .header-mobile-section {
        span {
          font-size: 0.6rem;
        }
      }
    }
  }
}