h3.title{ color: #CCB832 }
  #photos {
    .artist-card {
      position: relative;
      overflow: hidden;
      &:hover {
        .details-container {
          bottom: 5rem;
        }
        img {
          padding: 0;
        }
      }
      img {
        height: 14rem;
        width: 14rem;
        border: 1px solid #bfb049;
        padding: 3px;
        border-radius: 50%;
        object-fit: cover;
        z-index: 1;
      }
      .details-container {
        color: #ffffff;
        position: absolute;
        bottom: -6rem;
        h3 {
          font-size: 1.3rem;
          font-weight: bold;
        }
        .artist-detail-number,
        .artist-detail-follower {
          margin-bottom: 5px;
          padding: 0 5px;
        }
        i {
          visibility: hidden;
        }
      }
      img, .details-container {
        -webkit-transition: all .5s ease-in-out;
        -moz-transition: all  .5s ease-in-out;
        -ms-transition: all  .5s ease-in-out;
        -o-transition: all  .5s ease-in-out;
        transition: all  .5s ease-in-out;
      }
    }
  }

@media (max-width: 767px) {
  .artist-list-section {
    margin-top: 0;
    .sort-artist {
      ul {
        border: 1px solid #333;
        padding: 0 7px;
      }
    }
    #photos {
      .artist-card {
        &:hover {
          .details-container {
            bottom: 4rem;
          }
        }
        img {
          height: 12rem;
          width: 12rem;
        }
        .details-container {
          bottom: -4rem;
          h3 {
            font-size: 1.2rem !important;
          }
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .artist-list-section {
    margin-top: 0;
    .sort-artist {
      ul {
        border: 1px solid #333;
        padding: 0 7px;
      }
    }
    #photos {
      .artist-card {
        &:hover {
          .details-container {
            bottom: 4rem;
          }
        }
        img {
          height: 12rem;
          width: 12rem;
        }
        .details-container {
          bottom: -4rem;
          h3 {
            font-size: 1.2rem !important;
          }
        }
      }
    }
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .artist-list-section {
    margin-top: .5rem;
    #artist-sidebar {
      h5 {
        font-size: 1rem;
      }
    }
  }
}
@media (min-width: 1200px) and (max-width: 1374px) {
  .artist-list-section {
    #photos {
      .artist-card {
        img {
          height: 13rem;
          width: 13rem;
        }
      }
    }
  }
}

@media (max-width:991px) {
  .artist-card {
    overflow: visible !important;
    img {
      border: 2px solid goldenrod !important;
      background: #fff;
      padding: 5px !important;
    }
    .details-container{
      position: relative !important;
      bottom: calc(13rem / 2) !important;
      margin-bottom: calc(15px - (13rem / 2)) !important;
      z-index: -1;
      .inner-details-container {
        border: 2px solid goldenrod;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        padding: 15px;
        padding-top: calc((13rem / 2) + 15px);
        h3 {
          color: #000 !important;
        }
      }
    }
  }
}

@media (max-width:991px) and (min-width:576px) {
  .artist-card{
    .details-container{
      .inner-details-container {
        span {
          display: block;
          margin-left: 0 !important;
        }
      }
    }
  }
}

@media (max-width:400px) {
  .artist-card {
    img {
      height: 10rem !important;
      width: 10rem !important;
    }
    .details-container{
      bottom: calc(10rem / 2) !important;
      margin-bottom: calc(15px - (10rem / 2)) !important;
      .inner-details-container {
        padding-top: calc((10rem / 2) + 15px);
        span {
          display: block;
          margin-left: 0 !important;
          margin-bottom: 10px;
        }
      }
    }
  }
}
