<h3 class="title">Artists</h3>
<section id="photos" class="row">
  <div *ngFor="let artist of artistList | paginate: config; index as i"
       class="col-xs-6 col-sm-6 col-md-6 col-xl-3 mx-auto">
    <a routerLink="/artist/{{artist.id}}">
      <div class="artist-card text-center my-2 my-lg-3 my-xl-4">
        <img class="img-fluid" src="{{artist.path}}" alt="...">
        <div class="w-100 details-container">
          <div class="inner-details-container">
            <h3 class="col-12 text-center">{{artist.name}}</h3>
            <span class="col-12 text-center artist-detail-number">{{artist.path }} painting</span>
            <span class="col-12 text-center artist-detail-follower">
                    <app-interaction [Entity]="'artist'" [Row]="artist?.id" [interaction]="'follow'"></app-interaction>
                    Follow
                  </span>
          </div>
        </div>
      </div>
    </a>
  </div>
</section>
<div class="text-center mt-3">
  <pagination-controls class="my-pagination"
                       (pageChange)="pageChanged($event)"
                       autoHide="true"
                       responsive="true"
                       previousLabel="Prev"
                       nextLabel="Next"
                       screenReaderPaginationLabel="Pagination"
                       screenReaderPageLabel="page"
                       screenReaderCurrentLabel="You're on page"></pagination-controls>
</div>
<div *ngIf="artistList === null || artistList.length < 1"><h5>Empty List Result!</h5></div>
