<div class="container" *ngIf="statuesData != null">
  <form [formGroup]="uploadForm" class="col-md-10 col-lg-8 col-xl-7 my-5 mx-auto" (ngSubmit)="mySubmit()">
    <h2 class="h1 ml-5 text-center">Update Statue</h2>
    <div class="form-group row">
      <label class="col-2 col-form-label">Name</label>
      <div class="col-10">
        <input class="form-control"
               [ngClass]="{'is-invalid': uploadForm.get('name').errors &&
               (uploadForm.get('name').touched || uploadForm.get('name').dirty)}"
               type="text"
               name="name"
               formControlName="name"
               placeholder="Type Statue Name">
        <span class="invalid-feedback" *ngIf="uploadForm.get('name').errors?.required">Name Field Is Required</span>
        <span class="invalid-feedback" *ngIf="uploadForm.get('name').errors?.minlength">Name Must Be Greater Than 2</span>
        <span class="invalid-feedback" *ngIf="uploadForm.get('name').errors?.maxlength">Name Must Be Lower Than 45</span>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-2 col-form-label">Height</label>
      <div class="col-10">
        <input class="form-control"
               [ngClass]="{'is-invalid': uploadForm.get('height').errors &&
               (uploadForm.get('height').touched || uploadForm.get('height').dirty)}"
               type="number"
               name="height"
               formControlName="height"
               placeholder="Type The Statue Height">
        <span class="invalid-feedback" *ngIf="uploadForm.get('height').errors?.required">Height Field Is Required</span>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-2 col-form-label">Width</label>
      <div class="col-10">
        <input class="form-control"
               [ngClass]="{'is-invalid': uploadForm.get('width').errors &&
               (uploadForm.get('width').touched || uploadForm.get('width').dirty)}"
               type="number"
               name="width"
               formControlName="width"
               placeholder="Type The Painting Width">
        <span class="invalid-feedback" *ngIf="uploadForm.get('width').errors?.required">Width Field Is Required</span>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Weight</label>
      <div class="col-10">
        <input class="form-control"
               [ngClass]="{'is-invalid': uploadForm.get('weight').errors &&
               (uploadForm.get('weight').touched || uploadForm.get('weight').dirty)}"
               type="number"
               name="weight"
               formControlName="weight"
               placeholder="Type The Statue Weight">
        <span class="invalid-feedback" *ngIf="uploadForm.get('weight').errors?.required">Weight Field Is Required</span>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-2 col-form-label">Length</label>
      <div class="col-10">
        <input class="form-control"
               [ngClass]="{'is-invalid': uploadForm.get('length').errors &&
               (uploadForm.get('length').touched || uploadForm.get('length').dirty)}"
               type="number"
               name="length"
               formControlName="length"
               placeholder="Type The Painting Length">
        <span class="invalid-feedback" *ngIf="uploadForm.get('length').errors?.required">Length Field Is Required</span>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-2 col-form-label">Price</label>
      <div class="col-10">
        <input class="form-control"
               [ngClass]="{'is-invalid': uploadForm.get('price').errors &&
               (uploadForm.get('price').touched || uploadForm.get('price').dirty)}"
               type="number"
               name="price"
               formControlName="price"
               placeholder="Type The Price">
        <span class="invalid-feedback" *ngIf="uploadForm.get('price').errors?.required">Price Field Is Required</span>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-2 col-form-label">Artist</label>
      <div class="col-10">
        <select class="form-control"
                name="artist"
                formControlName="artist"
                (change)="changeArtist($event)"
                [ngClass]="{'is-invalid': isSubmitted && artist.errors}">
          <option value="">Select The Artist For This Statue</option>
          <option value="{{artist['0'].id}}" *ngFor="let artist of artists" [selected]="statuesData['0']?.artist?.name == artist['0'].name">{{artist['0'].name}}</option>
        </select>
        <span class="invalid-feedback" *ngIf="isSubmitted && artist.errors?.required">Artist Field Is Required</span>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-2 col-form-label">Key Words</label>
      <div class="col-10">
        <input class="form-control"
               [ngClass]="{'is-invalid': uploadForm.get('keyWords').errors &&
               (uploadForm.get('keyWords').touched || uploadForm.get('keyWords').dirty)}"
               type="text"
               name="keyWords"
               formControlName="keyWords"
               placeholder="Type The Key Word">
        <span class="invalid-feedback" *ngIf="uploadForm.get('keyWords').errors?.required">Key Words Field Is Required</span>
        <span class="invalid-feedback" *ngIf="uploadForm.get('keyWords').errors?.minlength">Key Words Must Be Greater Than 2</span>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-2 col-form-label">Material</label>
      <div class="col-10">
        <input class="form-control"
               [ngClass]="{'is-invalid': uploadForm.get('material').errors &&
               (uploadForm.get('material').touched || uploadForm.get('material').dirty)}"
               type="text"
               name="material"
               formControlName="material"
               placeholder="Type The Statue Material">
        <span class="invalid-feedback" *ngIf="uploadForm.get('material').errors?.required">Material Field Is Required</span>
        <span class="invalid-feedback" *ngIf="uploadForm.get('material').errors?.minlength">Material Must Be Greater Than 2</span>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-2 col-form-label">Style</label>
      <div class="col-10">
        <input class="form-control"
               [ngClass]="{'is-invalid': uploadForm.get('style').errors &&
               (uploadForm.get('style').touched || uploadForm.get('style').dirty)}"
               type="text"
               name="style"
               formControlName="style"
               placeholder="Type The Statue Style">
        <span class="invalid-feedback" *ngIf="uploadForm.get('style').errors?.required">Style Field Is Required</span>
        <span class="invalid-feedback" *ngIf="uploadForm.get('style').errors?.minlength">Style Must Be Greater Than 2</span>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-2 col-form-label">Period</label>
      <div class="col-10">
        <input class="form-control"
               [ngClass]="{'is-invalid': uploadForm.get('period').errors &&
               (uploadForm.get('period').touched || uploadForm.get('period').dirty)}"
               type="text"
               name="period"
               formControlName="period"
               placeholder="Type The Period">
        <span class="invalid-feedback" *ngIf="uploadForm.get('period').errors?.required">Period Field Is Required</span>
        <span class="invalid-feedback" *ngIf="uploadForm.get('period').errors?.minlength">Period Must Be Greater Than 2</span>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-2 col-form-label">State</label>
      <div class="col-10">
        <select class="form-control"
                name="state"
                formControlName="state"
                (change)="changeState($event)"
                [ngClass]="{'is-invalid': isSubmitted && uploadForm.get('state').errors}">
          <option value="">Select Statue State</option>
          <option value="0" [selected]="statuesData['0']?.state == false">New</option>
          <option value="1" [selected]="statuesData['0']?.state == true">Like New</option>
        </select>
        <span class="invalid-feedback" *ngIf="isSubmitted && this.uploadForm.get('state').errors?.required">State Field Is Required</span>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-2 col-form-label">Active</label>
      <div class="col-10">
        <select class="form-control"
                name="active"
                formControlName="active"
                (change)="changeActive($event)"
                [ngClass]="{'is-invalid': isSubmitted && uploadForm.get('active').errors}">
          <option value="">Select Active State</option>
          <option value="0" [selected]="statuesData['0']?.active == false">Not Active</option>
          <option value="1" [selected]="statuesData['0']?.active == true">Active</option>
        </select>
        <span class="invalid-feedback" *ngIf="isSubmitted && this.uploadForm.get('active').errors?.required">Active Field Is Required</span>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-2 col-form-label">Upload</label>
      <div class="input-group col-10">
        <div class="custom-file">
          <input #imageInput type="file" accept="image/*" class="custom-file-input" id="file-input"
                 (change)="updateName(imageInput)">
          <input type="hidden" class="form-control" name="image" formControlName="image">
          <label class="custom-file-label" for="file-input">{{imageName}}</label>
        </div>
        <div class="input-group-append">
          <button class="btn btn-success" type="button" (click)="processFile(imageInput)" [disabled]=!fileSelected>
            {{uploadButtonValue}}
          </button>
        </div>
      </div>
    </div>
    <div class="form-group row w">
      <label class="col-2 col-form-label">Mediums</label>
      <div class="col-10">
        <textarea class="form-control"
                  [ngClass]="{'is-invalid': uploadForm.get('mediums').errors &&
                  (uploadForm.get('mediums').touched || uploadForm.get('mediums').dirty)}"
                  name="mediums"
                  formControlName="mediums"
                  placeholder="Type The Mediums That Used"></textarea>
        <span class="invalid-feedback" *ngIf="uploadForm.get('mediums').errors?.required">Mediums Field Is Required</span>
        <span class="invalid-feedback" *ngIf="uploadForm.get('mediums').errors?.minlength">Mediums Must Be Greater Than 4</span>
      </div>
    </div>
    <div class="form-group row w">
      <label class="col-2 col-form-label">Features</label>
      <div class="col-10">
        <textarea class="form-control"
                  [ngClass]="{'is-invalid': uploadForm.get('features').errors &&
                  (uploadForm.get('features').touched || uploadForm.get('features').dirty)}"
                  name="features"
                  formControlName="features"
                  placeholder="Type The Statue Features"></textarea>
        <span class="invalid-feedback" *ngIf="uploadForm.get('features').errors?.required">Features Field Is Required</span>
        <span class="invalid-feedback" *ngIf="uploadForm.get('features').errors?.minlength">Features Must Be Greater Than 4</span>
      </div>
    </div>
    <div class="form-group row w">
      <label class="col-2 col-form-label">Description</label>
      <div class="col-10">
        <textarea class="form-control"
                  [ngClass]="{'is-invalid': uploadForm.get('description').errors &&
                  (uploadForm.get('description').touched || uploadForm.get('description').dirty)}"
                  name="description"
                  formControlName="description"
                  placeholder="Type The Description"></textarea>
        <span class="invalid-feedback" *ngIf="uploadForm.get('description').errors?.required">Description Field Is Required</span>
        <span class="invalid-feedback" *ngIf="uploadForm.get('description').errors?.minlength">Description Must Be Greater Than 4</span>
      </div>
    </div>
    <div class="form-group offset-md-2 mt-3">
      <input class="btn btn-primary btn-block" type="submit" value="{{submitButtonValue}}" [disabled]="uploadForm.invalid || !imagePathReady">
    </div>
  </form>
</div>
<div *ngIf="statuesData == null">
  <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
</div>

