<div class="art-type-header-img d-flex align-items-center">
  <div class="position-absolute w-100 d-flex justify-content-end">
    <div class="p-5 mt-2 art-type-banner-text">
      <h3 class="text-center">{{artType[0].name}}</h3>
      <p class="text-center">{{artType[0].history}}</p>
    </div>
  </div>
  <div parallax class="banner-background">
    <img src="{{artType[0].path}}" alt="...">
  </div>
</div>

<div class="container d-flex justify-content-center">
  <div class="col-10 align-items-baseline wraper">
    <div class="d-flex align-items-baseline">
      <div class="w-25 art-type-img">
        <img src="{{artType[0].path}}" alt="..." class="art-type-avatar img-fluid">
      </div>
      <div class="w-75 m-0 row">
        <div class="col-6 d-flex flex-column art-type-info">
          <h3>{{artType[0].name}}</h3>
        </div>
        <div class="col-6 follow-box">
          <!-- TODO Change With the New Follow Widget -->
          <!--            <app-follow-widget class="art-type-follow" [ParentId]="artType[0]?.id" [ParentType]="3"></app-follow-widget>-->
        </div>
      </div>
    </div>
  </div>
</div>

<div class="art-type-bio">
  <h3 class="text-primary">History</h3>
  <p>
    {{artType[0].history}}
  </p>
</div>

