a {
  color: black;
}

header {
  background-color: white;
  nav {
    margin: 0;
  }
}

#header-nav {
  li {
    display: inline-block;
    margin: 1rem;
    a {
      color: black;
    }
  }
}


#btn-wish-list {
  background: goldenrod;
}
