<header>
  <nav id="header-nav" class="row">
    <div class="row container-fluid">
      <div class="col-3 d-flex justify-content-end">
        <li><a href="http://localhost:4200/"><img src="../../../../../assets/logo.png" class="img-fluid" alt="logo image"></a></li>
      </div>
      <div class="col-9">
        <ul>
          <li class="float-right"><a routerLink="/admin">Admin Area</a></li>
          <li class="float-right"><a routerLink="/painting-list">Paintings</a></li>
          <li class="float-right">
            <div class="btn-group" mdbDropdown>
              <a mdbDropdownToggle class="dropdown-toggle waves-light" mdbWavesEffect>
                Art Schools
              </a>

              <div class="dropdown-menu dropdown-primary">
                <a class="dropdown-item" *ngFor="let i of artTypeList" routerLink="/art-type/:id">{{i.name}}</a>
              </div>
            </div>
          </li>
          <li class="float-right"><a routerLink="/artist-list">Artists</a></li>
          <li class="float-right"><a routerLink="">Home</a></li>
        </ul>
      </div>
    </div>
    <div class="row container-fluid d-flex justify-content-center align-items-baseline">

        <div class="md-form mx-5">
          <mdb-icon fas icon="search" class="prefix"></mdb-icon>
          <input mdbInput type="text" id="form2" class="form-control">
          <label for="form2">Search</label>
        </div>
        <button mdbBtn id="btn-wish-list" mdbWavesEffect>Wish List</button>
        <button mdbBtn id="btn-favorite" mdbWavesEffect>Favorite</button>

    </div>
  </nav><!-- #header-nav -->
</header>
