#header {
  #letter-circle {
    font-size:1em;
    width:2.5em;
    height:2.5em;
    line-height:2.5em;
    text-align:center;
    border-radius:50%;
    background:plum;
    vertical-align:middle;
    color:white;
  }

  #spacer {
    @media screen and (min-width: 0){
      height: 0;
    }
    @media screen and (min-width: 960px) {
      height: 4.5rem;
    }
    // Start sm Size Screen
    @media (max-width: 959px) {
      height: 3.6rem;
    }
    @media (min-width: 960px) and (max-width: 992px) {
      height: 4rem;
    }
  }
  a {
    color: black;
  }
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    z-index: 999;
    #header-nav {
      .header-top {
        margin-left: -15px;
        margin-right: -15px;
        -webkit-box-shadow: 2px 2px 4px #ddd;
        -moz-box-shadow: 2px 2px 4px #ddd;
        -o-box-shadow: 2px 2px 4px #ddd;
        box-shadow: 2px 2px 4px #ddd;
        line-height:2.5em;
        vertical-align:middle;
        img.demo-img {
          width: 30px;
          vertical-align: top !important;
          margin-left: -10px;
        }
        li {
          display: inline-block;
          margin: 1rem;
          .dropdown {
            .login, .logout {
              margin-right: 10px;
              a {
                color: goldenrod;
                font-weight: bold;
              }
            }
            mdb-icon {
              vertical-align: middle;
            }
          }

          a {
            color: black;
          }
        }
      }
      .header-bottom {
        margin-top: 10px;
      }


      #btn-wish-list {
        background: #bfb049;
        font-weight: 600;
      }

      #btn-favorite {
        font-weight: 600;
        border-left: 1px solid #aaa;
        border-right: 1px solid #aaa;
      }

      #btn-wish-list,
      #btn-favorite {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        -o-box-shadow: none;
        box-shadow: none;
      }
    }
  }

  mdb-navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    direction: rtl;
    background: #ffffff;
    z-index: 999;
    .letter-circle {
      font-size:1em;
      width:2.5em;
      height:2.5em;
      line-height:2.5em;
      text-align:center;
      border-radius:50%;
      background:plum;
      vertical-align:middle;
      margin-right:1em;
      color:white;
    }
    .btn-wish-list {
      background: #bfb049;
      font-weight: 600;
      box-shadow: none;
    }
    .btn-favorite {
      margin: 0 0 0 14rem;
      font-weight: 600;
      border-left: 1px solid #aaa;
      border-right: 1px solid #aaa;
    }
    .btn-wish-list,
    .btn-favorite {
      padding: .5rem 1rem;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      -o-box-shadow: none;
      box-shadow: none;
    }
    .header-mobile-section {
      width: 25%;
      align-items: center;
      line-height: 0.5;
      .demo-img {
        width: 20px !important;
        display: inline-block;
        margin-left: -5px;
      }
      //margin-right: 30rem;
      @media (max-width:991px) and (min-width:768px) {
        height: 50px;
        width: 30%;
      }
      @media (max-width:767px) {
        height: 50px;
        width: 40%;
      }
      @media (max-width:400px) {
        width: 50%;
        margin-left: -10%;
      }
      span {
        display: inline-block;
      }
    }
    .dropdown {
      mdb-icon {
        vertical-align: text-top;
        margin-bottom: 10px;
      }
    }
  }


  // Start xs Size Screen
  @media (max-width: 400px) {
    mdb-navbar {
      width: 100vw;
      mdb-icon {
        padding: 0 .7rem;
        font-size: .8rem!important;
      }
      .dropdown-menu {
        right: 0;
      }
      .btn-wish-list,
      .btn-favorite {
        margin: 0;
        padding: .1rem .3rem;
        font-size: .7rem;
      }
      .header-mobile-section {
        span {
          font-size: 0.6rem;
        }
      }
    }
  }
  // Start sm Size Screen
  @media (min-width: 401px) and (max-width: 767px) {
    mdb-navbar {
      width: 100vw;
      mdb-icon {
        padding: 0 .7rem;
      }
      .btn-favorite {
        margin: 0 0 0 6rem;
      }
      .header-mobile-section {
        span {
          font-size: .9rem;
        }
      }
    }
  }
  // Start md Size Screen
  @media (min-width: 768px) and (max-width: 991px) {
    mdb-navbar {
      .btn-favorite {
        margin: 0 0 0 14rem;
      }
      .header-mobile-section {
        span {
          font-size: 1rem;
        }
      }
    }
  }

}

//Search 

#header-nav {
  ul {
    float: right;
    position: relative;
    .dropdown-menu {
      min-width: 8rem;
      top: -10px;
      left: -10px;
    }
  }
}

.search-box {
  margin-left: 35px;
  .search{
    text-align: right;
    #input-search,
    #input-mobile-search{
      width: 0;
      height: 40px;
      transition: all .3s ease-in-out;
      -o-transition: all .3s ease-in-out;
      -ms-transition: all .3s ease-in-out;
      -moz-transition: all .3s ease-in-out;
      -webkit-transition: all .3s ease-in-out;
    }
    #input-search {
      position: absolute;
      left: -300px;
      input {
        width: 300px;
        background: #ddd;
        &:focus {
          background: #fff;
        }
      }
    }
  }
  
}

// Search in Mobile 

.search-mobile{
  position: relative;
  padding: 10px 0;
  input{
    direction: ltr;
  }
  mdb-icon {
    position: absolute;
    cursor: pointer;
    top: 14px;
    right: 2px;
    height: 30px;
    padding: 7px 10px !important;
    transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
  }
}

@media (max-width: 991px) {
  .dropdown.show {
    .dropdown-menu {
      padding: 0;
      top: 15px !important;
      box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
      -webkit-box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
    }
  }
  .navbar-nav {
    border-top: 1px solid #e1e1e1;
  }
  .navbar .navbar-toggler {
    position: absolute;
    right: 150px;
    top: 8px;
  }
}


@media (max-width:991px) {
  .navbar-nav{
    li {
      position: relative;
      right: 0%;
      margin: 5px;
      animation: pull-right .5s ease-in-out;
      -webkit-animation: pull-right .5s ease-in-out;
      &:nth-child(2){
        animation: pull-right 1s ease-in-out;
        -webkit-animation: pull-right 1s ease-in-out;
      }
      &:nth-child(3){
        animation: pull-right 1.5s ease-in-out;
        -webkit-animation: pull-right 1.5s ease-in-out;
      }
      &:nth-child(4){
        animation: pull-right 2s ease-in-out;
        -webkit-animation: pull-right 2s ease-in-out;
      }
    }
    li.active {
      > a {
        background: goldenrod !important;
        color: #fff !important;
      }
    }
  }
}

@keyframes pull-right {
  0% {
    right: -100%;
  }

  100% {
    right: 0%;
  }
}

@-webkit-keyframes pull-right {
  0% {
    right: -100%;
  }

  100% {
    right: 0%;
  }
}

@media (max-width:991px) {
  .login-btn {
    .dropdown-item {
      color: goldenrod !important;
      font-weight: bold;
      background: none !important;
    }
  }
  .navbar-light .navbar-toggler {
    position: absolute !important;
    right: 150px;
    top: 7px;
  }
}

@media (max-width:400px) {
  .login-btn {
    right: 20px;
  }
}
