#header {
  #letter-circle {
    font-size:1em;
    width:2.5em;
    height:2.5em;
    line-height:2.5em;
    text-align:center;
    border-radius:50%;
    background:plum;
    vertical-align:middle;
    margin-right:1em;
    color:white;
  }

  #spacer {
    @media screen and (min-width: 0){
      height: 0;
    }
    @media screen and (min-width: 960px) {
      height: 6rem;
    }
    // Start sm Size Screen
    @media (max-width: 959px) {
      height: 3.6rem;
    }
    @media (min-width: 960px) and (max-width: 992px) {
      height: 3.6rem;
    }
  }
  a {
    color: black;
  }
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    z-index: 999999;
    #header-nav {
      .header-top {
        margin-left: -15px;
        margin-right: -15px;
        -webkit-box-shadow: 2px 2px 4px #ddd;
        -moz-box-shadow: 2px 2px 4px #ddd;
        -o-box-shadow: 2px 2px 4px #ddd;
        box-shadow: 2px 2px 4px #ddd;

        line-height:2.5em;
        vertical-align:middle;

        li {
          display: inline-block;
          margin: 1rem;

          a {
            color: black;
          }
        }
      }
      .header-bottom {
        margin-top: 10px;
      }


      #btn-wish-list {
        background: #bfb049;
        font-weight: 600;
      }

      #btn-favorite {
        font-weight: 600;
        border-left: 1px solid #aaa;
        border-right: 1px solid #aaa;
      }

      #btn-wish-list,
      #btn-favorite {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        -o-box-shadow: none;
        box-shadow: none;
      }
    }
  }

  mdb-navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    direction: rtl;
    background: #ffffff;
    z-index: 99999;
    .letter-circle {
      font-size:1em;
      width:2.5em;
      height:2.5em;
      line-height:2.5em;
      text-align:center;
      border-radius:50%;
      background:plum;
      vertical-align:middle;
      margin-right:1em;
      color:white;
    }
    .btn-wish-list {
      background: #bfb049;
      font-weight: 600;
      box-shadow: none;
    }
    .btn-favorite {
      margin: 0 0 0 14rem;
      font-weight: 600;
      border-left: 1px solid #aaa;
      border-right: 1px solid #aaa;
    }
    .btn-wish-list,
    .btn-favorite {
      padding: .5rem 1rem;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      -o-box-shadow: none;
      box-shadow: none;
    }
    .header-mobile-section {
      width: 20%;
      align-items: center;
      line-height: 0.5;
      //margin-right: 30rem;
      span {
        display: inline-block;
      }
    }
  }


  // Start xs Size Screen
  @media (max-width: 400px) {
    mdb-navbar {
      width: 100vw;
      mdb-icon {
        padding: 0 .7rem;
        font-size: .7rem!important;
      }
      .dropdown-menu {
        right: 0;
      }
      .btn-wish-list,
      .btn-favorite {
        margin: 0;
        padding: .1rem .3rem;
        font-size: .7rem;
      }
      .header-mobile-section {
        span {
          font-size: 0.6rem;
        }
      }
    }
  }
  // Start sm Size Screen
  @media (min-width: 401px) and (max-width: 767px) {
    mdb-navbar {
      width: 100vw;
      mdb-icon {
        padding: 0 .7rem;
      }
      .btn-favorite {
        margin: 0 0 0 6rem;
      }
      .header-mobile-section {
        span {
          font-size: .9rem;
        }
      }
    }
  }
  // Start md Size Screen
  @media (min-width: 768px) and (max-width: 991px) {
    mdb-navbar {
      .btn-favorite {
        margin: 0 0 0 14rem;
      }
      .header-mobile-section {
        span {
          font-size: 1rem;
        }
      }
    }
  }

}
