.love-icon {
  font-size: 1rem;
  mdb-icon {
    cursor: pointer;
  }
  span {
    font-size: 1.4rem;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .love-icon {
    font-size: .8rem;
    mdb-icon {
      margin: 0 !important;
    }
    span {
      font-size: 1rem;
    }
  }
}
