<div id="home-navbar" [ngStyle]="{'display': hidden ? 'none' : 'inherit'}" class="sticky-top">

  <!-- Links -->
  <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
      <a class="nav-link waves-light" mdbWavesEffect routerLink="/">Home<span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link waves-light" mdbWavesEffect routerLink="/artist-list">Artists</a>
    </li>
    <li class="nav-item">
      <a class="nav-link waves-light" mdbWavesEffect routerLink="/painting-list">Paintings</a>
    </li>

    <!-- Dropdown -->
    <li class="nav-item dropdown" dropdown>
      <a dropdownToggle type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
        Art Types<span class="caret"></span>
      </a>
      <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
        <a class="dropdown-item waves-light" *ngFor="let i of artTypeList"
           routerLink="/art-type/{{i.id}}">{{i.name}}</a>
      </div>
    </li>
  </ul>
  <!-- Links -->

</div>
<!--/.Navbar-->
