<!--Start Painting Details-->
<app-painting-details></app-painting-details>
<!--Start Comments-->
<div class="container py-4">
    <app-comment></app-comment>
</div>
<!--Start Painting You May Like-->
<div class="container">
    <app-paintings-may-like></app-paintings-may-like>
</div>
<!--Start Next Previous Button-->
<div class="container py-2">
    <div class="row">
        <div class="col-6 text-right"><app-pre></app-pre></div>
        <div class="col-6 text-left"><app-next></app-next></div>
    </div>
</div>

