<app-header></app-header>
<br>
<br>
<div class="container">
  <h1 class="text-center">About Us</h1>
  <p class="mb-5">In syria, the scribes discovered in the city of Ugarit was the first alphabet in history. We have a proud tradition of oral and written poetry and we shouldn’t forget several singing traditional types like muwashahat. Regardless all these masterpieces our architectural style is fascinating. Our handmade furniture with mosaic patterns are a true evidence of creativity. It’s sold all around the world.
    <br>
    All what we said is just a tiny glance of what syrian people really are.
    <br>
    <br>
    <b>Are you excited to hear more about syria?</b>
    <br>
    <br>
    Ishtar is a website to introduce you with modern syrian painting art and artists. Our mission is showing the best of emerging syrian artists in the art market today.
  </p>
</div>
