.painting-list {
  margin-bottom: 15px;
  .painting-list-item {
    height: 280px;
    outline: none;
    .img-container {
      height: 100%;
      background: #ddd;
      margin-bottom: 15px;
      position: relative;
      border-radius: 5px;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        cursor: pointer;
      }
      .painting-info {
        position: absolute;
        cursor: pointer;
        bottom: 0;
        left: 0;
        right: 0;
        color: #fff !important;
        padding: 25px 10px 5px;
        background: -o-linear-gradient(270deg,rgba(0,0,0,0),#000);
        background: -moz-linear-gradient(270deg,rgba(0,0,0,0),#000);
        background: -ms-linear-gradient(270deg,rgba(0,0,0,0),#000);
        background: -webkit-linear-gradient(270deg,rgba(0,0,0,0),#000);
        opacity: 0;
        transition: all .5s ease-in-out;
        -o-transition: all .5s ease-in-out;
        -moz-transition: all .5s ease-in-out;
        -webkit-transition: all .5s ease-in-out;
        .painting-name {
          font-size: 20px;
          font-weight: bold;
          border-bottom: 1px solid;
          line-height: 25px;
          margin-bottom: 5px;
        }
        .artist {
          font-size: 17px;
          color: #CCB832;
          line-height: 25px;
          margin-bottom: 10px;
          span {
            padding-top: 2px;
          }
        }
        .statistics {
          position: absolute;
          right: 10px;
          bottom: 15px;
          list-style: none;
          margin: 0;
          padding: 0;
          li {
            display: inline-block;
            margin-left: 10px;
          }
        }
      }
      &:hover .painting-info{
        opacity: 1;
      }
    }
  }
}

mdb-carousel {
  .btn-floating {
    background: goldenrod;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    display: inline-block;
    line-height: 40px;
    text-align: center;
    padding: 3px;
    i {
      color: #fff;
      font-size: 22px;
    }
  }
  .carousel-indicators {
    display: none;
  }
}
