<div *ngIf="clients != null">
  <div *ngIf="clients.length !== 0">
  <div class="container-fluid">
    <h1 class="text-center my-4">Manage Client Page</h1>
    <div class="row">
      <div class="col-4">
        <div class="form-group mb-4">
          <input id="exampleFormControlInput2" [(ngModel)]="name" (keyup)="applyFilter()" type="text" placeholder="Searching For Client FirstName, LastName, Username?" class="form-control form-control-underlined border-primary">
        </div>
      </div>
      <div class="col-8 align-self-center">
        <a class="btn btn-primary btn-sm mb-2 float-right" routerLink="/admin/add-client">
          <i class="fa fa-plus"></i>
          Add New Client
        </a>
      </div>
    </div>
    <div class="table-responsive text-center">
      <table class="table table-bordered main-table">
        <tr class="bg-dark text-white">
          <td>#ID</td>
          <td>First Name</td>
          <td>Last Name</td>
          <td>Image</td>
          <td>Roll</td>
          <td>Username</td>
          <td>Email</td>
          <td>Birth Date</td>
          <td>Phone</td>
          <td>Created By</td>
          <td>Create Date</td>
          <td>Updated By</td>
          <td>Update Date</td>
          <td>Control</td>
        </tr>
        <tr *ngFor="let client of clientsFilterList | paginate: config">
          <td>{{client.id}}</td>
          <td>{{client.firstName}}</td>
          <td>{{client.lastName}}</td>
          <td><img src="{{client.image}}" alt="{{client.firstName}} Image" class="img-fluid img-thumbnail img-custom"></td>
          <td>{{client.roll}}</td>
          <td>{{client.username}}</td>
          <td>{{client.email}}</td>
          <td>{{client.birthDate}}</td>
          <td>{{client.phone}}</td>
          <td>{{client.createdBy}}</td>
          <td>{{client.createDate}}</td>
          <td>{{client.updatedBy}}</td>
          <td>{{client.updateDate}}</td>
          <td>
            <a [routerLink]="['/admin/edit-client', client.id]" class="btn btn-success btn-sm mr-1 mb-1">Edit</a>
            <a (click)="delete(client.id)" class="btn btn-danger confirm btn-sm mr-1">Delete</a>
          </td>
        </tr>
      </table>
      <pagination-controls class="my-pagination"
                           (pageChange)="pageChanged($event)"
                           autoHide="true"
                           maxSize="5"
                           responsive="true"
                           previousLabel="Prev"
                           nextLabel="Next"
                           screenReaderPaginationLabel="Pagination"
                           screenReaderPageLabel="page"
                           screenReaderCurrentLabel="You're on page">
      </pagination-controls>
    </div>
  </div>
    </div>
  <div *ngIf="clients.length === 0">
    <div class="container">
      <div class="alert alert-primary text-center mt-5">There Isn't Any Client To Show</div>
      <a routerLink="/admin/add-client" class="btn btn-primary btn-sm mb-2 float-right">
        <i class="fa fa-plus"></i>
        Add New Client
      </a>
    </div>
  </div>
</div>
<div *ngIf="clients == null">
  <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
</div>
