#hero-main {
  height: 43rem;
  overflow: hidden;
}

#hero-side {
  background: #333333;
  height: 100%;
}


#header-nav {
  ul {
    li {
      display: inline-block;
      margin: 1rem;
    }
  }
}

.carousel-mask {
  padding-top: 10rem;
  padding-left: 3rem;
  position: absolute;

  h3 {
    font-size: 4em;
  }

  p {
    font-size: 2em;
  }
}

.carousel-background {
  width: 100%;

  img {
    object-fit: fill;
    width: 100%;
  }
}

#alternate-list {
  padding-left: 10rem ;
  padding-right: 10rem;

  .alternate-list-item {
    overflow: hidden;
    height: 50vh;
  }
  .list-image{
    border-color: gold;
    border-style: solid;
    padding: 2rem;
    height: 50vh;
    img {
      width: 100%;
    }
  }
}
#main-auction {
  width: 100%;
  height: 53rem;
  overflow: hidden;
  display: flex;
  #main-auction-fg {
    position: absolute;
  }
  #main-auction-bg {
    min-width: 100%;
    img {
      min-width: 100%;
    }
  }
}

.school-container{
  h3 {
    position: absolute;
    color: rgba(255,255,255);
  }
}

#school-info {
  background: url("https://afremov.com/images/product/image_851.jpeg");
  background-size: cover;
}
