<div class="clap-icon" *ngIf="clapped">
  <div class="clap-container">
    <img src="{{clapFiled}}" [ngStyle]="{'opacity': clapping ? '.5' : '1'}" alt="clap icon" width="32" height="32" (click)="deleteClap()">
  </div>
  <h5 class="mb-0">{{'user.shared.clap.clapped' | translate}} {{clappedNumber}}
    {{'user.shared.clap.times-by-you' | translate}}</h5>
</div>
<div class="clap-icon" *ngIf="!clapped">
  <div class="clap-container">
    <img (mousedown)="startCalc()" (mouseup)="endClac()" src="{{clapOutlined}}"
         alt="clap icon" width="30" height="30">
  </div>
  <h5 class="mb-0" *ngIf="!holding">{{'user.shared.clap.clap' | translate}} </h5>
  <h5 class="mb-0" *ngIf="holding">
    {{'user.shared.clap.clapping' | translate}} {{calculateClaps()}} {{'user.shared.clap.times' | translate}}
  </h5>
</div>

