/* --- Start Dashboard Page --- */
.home-stat .stat {
  .stat {
    background: cadetblue;
    padding: 15px;
    margin-bottom: 5px;
    text-align: center;
    border-radius: 10px;
    color:#fff;
    border: 1px solid #ccc;
    position: relative;
    overflow: hidden;
    -webkit-transition:all .5s ease-in-out;
    -moz-transition:all .5s ease-in-out;
    -o-transition:all .5s ease-in-out;
    transition:all .5s ease-in-out;
    h6 {
      margin-bottom: 0;
      font-size:14px;
    }
    span {
      font-size:50px;
      font-weight: 600
    }
    &:hover {
      -webkit-box-shadow:3px 3px 10px #888;
      -moz-box-shadow:3px 3px 10px #888;
      -o-box-shadow:3px 3px 10px #888;
      box-shadow:3px 3px 10px #888;
    }
    div {
      float:right;
    }
    a {
      text-decoration:none;
      color:#fff;
    }
    i {
      position: absolute;
      left:10px;
      top:18px;
    }
  }
  .st_member {
    background: #3498db;
  }
  .st_pending {
    background: #c0392b
  }
  .st_item {
    background: #d35400
  }
  .st_comment {
    background: #8e44ad
  }
  .st_interactions {
    background: #218c74
  }
  .st_clients {
    background: #40407a
  }
}

.late {
  .card-header {
    position:relative;
    span {
      color: #999;
      cursor: pointer
    }
  }
  .late_info {
    border-bottom:1px solid #ccc;
    padding:7px;
    &:nth-child(odd) {
      background: #eee
    }
    &:last-of-type {
      border-bottom:none;
    }
  }
  .member_comment {
    position: relative;
    overflow: hidden;
    span {
      display: block;
      float: left;
      padding: 6px 10px;
      color: #329de5;
      font-size: 16px;
      width: 140px
    }
    p {
      float: right;
      width: calc(100% - 140px);
      background: #eee;
      padding: 10px;
      position: relative;
      &:before {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        top: 10px;
        left: -20px;
        border-style: solid;
        border-color: transparent #eee transparent transparent;
        border-width: 10px;
      }
    }
  }
}
/* --- End Dashboard Page --- */
/* --- Start Dashboard Page --- */
.home-stat .stat {
  background: cadetblue;
  padding: 15px;
  margin-bottom: 5px;
  text-align: center;
  border-radius: 10px;
  color:#fff;
  border: 1px solid #ccc;
  position: relative;
  overflow: hidden;
  -webkit-transition:all .5s ease-in-out;
  -moz-transition:all .5s ease-in-out;
  -o-transition:all .5s ease-in-out;
  transition:all .5s ease-in-out;
}
.home-stat .stat h6 {
  margin-bottom: 0;
  font-size:14px;
}
.home-stat .stat span {
  font-size:50px;
  font-weight: 600
}
.home-stat .stat:hover {
  -webkit-box-shadow:3px 3px 10px #888;
  -moz-box-shadow:3px 3px 10px #888;
  -o-box-shadow:3px 3px 10px #888;
  box-shadow:3px 3px 10px #888;
}
.home-stat .st_member {
  background: #3498db;
}
.home-stat .st_pending {
  background: #c0392b
}
.home-stat .st_item {
  background: #d35400
}
.home-stat .st_comment {
  background: #8e44ad
}
.home-stat .st_interactions {
  background: #218c74
}
.home-stat .st_clients {
  background: #40407a
}
.home-stat .stat div {
  float:right;
}
.home-stat .stat a {
  text-decoration:none;
  color:#fff;
}
.home-stat .stat i {
  position: absolute;
  left:10px;
  top:18px;
}
.late .card-header {
  position:relative;
}
.late .card-header span {
  color: #999;
  cursor: pointer
}
.late .late_info {
  border-bottom:1px solid #ccc;
  padding:7px;
}
.late .late_info:nth-child(odd) {
  background: #eee
}
.late .late_info:last-of-type {
  border-bottom:none;
}
.late .member_comment {
  position: relative;
  overflow: hidden
}

.late .member_comment span {
  display: block;
  float: left;
  padding: 6px 10px;
  color: #329de5;
  font-size: 16px;
  width: 140px
}

.late .member_comment p {
  float: right;
  width: calc(100% - 140px);
  background: #eee;
  padding: 10px;
  position: relative
}

.late .member_comment p:before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  top: 10px;
  left: -20px;
  border-style: solid;
  border-color: transparent #eee transparent transparent;
  border-width: 10px;
}
/* --- End Dashboard Page --- */