.lds-ring {
  display: inline-block;
  position: fixed;
  left: 50vw;
  top: 50vh;
  width: 64px;
  height: 64px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  //left: 50%;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #6c757d transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


/* --- Start Dashboard Page --- */
.home-stat .stat {
  background: cadetblue;
  padding: 15px;
  margin-bottom: 5px;
  text-align: center;
  border-radius: 10px;
  color:#fff;
  border: 1px solid #ccc;
  position: relative;
  overflow: hidden;
  -webkit-transition:all .5s ease-in-out;
  -moz-transition:all .5s ease-in-out;
  -o-transition:all .5s ease-in-out;
  transition:all .5s ease-in-out;
}
.home-stat .stat h6 {
  margin-bottom: 0;
  font-size:14px;
}
.home-stat .stat span {
  font-size:50px;
  font-weight: 600
}
.home-stat .stat:hover {
  -webkit-box-shadow:3px 3px 10px #888;
  -moz-box-shadow:3px 3px 10px #888;
  -o-box-shadow:3px 3px 10px #888;
  box-shadow:3px 3px 10px #888;
}
.home-stat .st_member {
  background: #3498db;
}
.home-stat .st_pending {
  background: #c0392b
}
.home-stat .st_item {
  background: #d35400
}
.home-stat .st_comment {
  background: #8e44ad
}
.home-stat .stat div {
  float:right;
}
.home-stat .stat a {
  text-decoration:none;
  color:#fff;
}
.home-stat .stat i {
  position: absolute;
  left:10px;
  top:18px;
}
.late .card-header {
  position:relative;
}
.late .card-header span {
  color: #999;
  cursor: pointer
}
.late .late_info {
  border-bottom:1px solid #ccc;
  padding:7px;
}
.late .late_info:nth-child(odd) {
  background: #eee
}
.late .late_info:last-of-type {
  border-bottom:none;
}
.late .member_comment {
  position: relative;
  overflow: hidden
}

.late .member_comment span {
  display: block;
  float: left;
  padding: 6px 10px;
  color: #329de5;
  font-size: 18px;
  width: 100px
}

.late .member_comment p {
  float: right;
  width: calc(100% - 100px);
  background: #eee;
  padding: 10px;
  position: relative
}

.late .member_comment p:before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  top: 10px;
  left: -20px;
  border-style: solid;
  border-color: transparent #eee transparent transparent;
  border-width: 10px;
}
/* --- End Dashboard Page --- */
