<div class="container-fluid justify-content-center">
  <div class="row">
    <div id="painting-list-sidebar" class="col-sm-4 col-xs-12" *ngIf="filter">
      <div>
        <h5>Filter By Art Type</h5>
        <button mdbBtn class="btn-light" *ngFor="let artType of artTypes; index as i"
                (click)="filterByArtType(artType)">{{artType}}</button>
        <hr>
        <h5>Filter By Artist</h5>
        <button mdbBtn class="btn-light" *ngFor="let artist of artists; index as i"
                (click)="filterByArtist(artist)">{{artist}}</button>
        <hr>
  
      </div>
    </div>
    <div id="painting-list" class="col-sm-8 col-xs-12">
      <div class="row">
        <ng-container *ngFor="let painting of paintingList; index as i">
          <ng-container *ngIf="i < 6">
            <div class="painting-list-item col-lg-4 col-sm-6 col-xs-12 p-3" routerLink="/painting/{{painting.id}}">
              <div class="img-container">
                <img class="img-fluid" src="{{painting.image}}"
                  (error)="painting.image = '../../../../../assets/1x/img-01.jpg'" alt="..."/>
              </div>
              <p class="text-center painting-name">{{painting.name}}</p>
              <h5 class="text-center">{{painting.artist}}</h5>
              <p class="text-center">
                <mdb-icon fas icon="eye"></mdb-icon>
                Seen By 25
              </p>
            </div>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </div>
</div>
