#painting-list {
  .painting-list-item {
    img {
      padding-bottom: 1rem;
    }
  }
}

#painting-list-sidebar {
  padding-left: 3rem;

  div {
    background: #F4F4F4;
    padding-top: 1rem;
    padding-left: 1rem;
    height: 100%;

    button {
      background-color: white !important;
      color: black;
      border: 1px solid goldenrod;
    }
    button:hover {
      background-color: goldenrod !important;
    }
  }
}
