#painting-list {
  margin-bottom: 15px;
  .painting-list-item {
    outline: none;
    display: inline-block;
    .img-container {
      width: 100%;
      height: 275px;
      background: #ddd;
      margin-bottom: 15px;
      position: relative;
      border-radius: 5px;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        cursor: pointer;
      }
      .painting-info {
        position: absolute;
        cursor: pointer;
        bottom: 0;
        left: 0;
        right: 0;
        color: #fff !important;
        padding: 25px 10px 5px;
        background: -o-linear-gradient(270deg,rgba(0,0,0,0),#000);
        background: -moz-linear-gradient(270deg,rgba(0,0,0,0),#000);
        background: -ms-linear-gradient(270deg,rgba(0,0,0,0),#000);
        background: -webkit-linear-gradient(270deg,rgba(0,0,0,0),#000);
        opacity: 0;
        transition: all .5s ease-in-out;
        -o-transition: all .5s ease-in-out;
        -ms-transition: all .5s ease-in-out;
        -moz-transition: all .5s ease-in-out;
        -webkit-transition: all .5s ease-in-out;
        .painting-name {
          opacity: 1;
          font-size: 24pt;
          width: 50%;
          font-weight: bold;
          line-height: 30px;
          margin-bottom: 5px;
        }
        .artist {
          opacity: 1;
          font-size: 18pt;
          width: 50%;
          line-height: 25px;
          margin-bottom: 10px;
        }
        .statistics {
          opacity: 1;
          position: absolute;
          right: 10px;
          bottom: 15px;
          list-style: none;
          margin: 0;
          padding: 0;
          li {
            margin-left: 10px;
          }
        }
      }
      &:hover .painting-info{
        opacity: 0.9;
        .painting-name,
        .artist,
        .statistics {
          opacity: 1 !important;
        }
      }
    }
    
  }
}

.floating {
  float: left;
}

#painting-list-sidebar {
  margin-bottom: 15px;
  div {
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    height: 100%;

    button {
      background-color: white !important;
      padding: 5px;
      color: black;
      border: 1px solid #bbb;
      box-shadow: none;
    }
    button:hover {
      background-color: goldenrod !important;
    }
  }
}


@media (max-width:800px) {
  #painting-list {
    .painting-list-item {
      padding: 1rem !important;
      .img-container {
        height: 350px;
        img {
          height: 350px;
        }
      }
    }
  }
  #painting-list-sidebar {
    div {
      button {
        padding: 7px;
      }
    }
  }
}

@media (max-width:575px) {
  #painting-list-sidebar {
    padding-left: 15px;
  }
}
