<div id="painting-list-sidebar" class="col-sm-3 col-xs-12 floating filter-paintings" *ngIf="filter">
  <div>
    <div class="filter">
      <h5 (click)="fiterArtTypeOptionsView()">Filter By Art Type <i class="fas fa-chevron-down"></i></h5>
      <div class="btn-container hide"
           [ngClass]="{'active': filterArtType == true, 'hide': filterArtType == false}">
        <button mdbBtn class="btn-light" *ngFor="let artType of artTypes; index as i"
              (click)="filterByArtType(artType)">{{artType}}</button>
      </div>
    </div>
    <hr>
    <div class="filter">
      <h5 (click)="fiterArtistOptionsView()">Filter By Artist <i class="fas fa-chevron-down"></i></h5>
      <div class="btn-container hide"
           [ngClass]="{'active': filterArtist == true, 'hide': filterArtist == false}">
        <button mdbBtn class="btn-light" *ngFor="let artist of artists; index as i"
                (click)="filterByArtist(artist)">{{artist}}</button>
      </div>
    </div>
    <hr>
  </div>
</div>
<div class="col-sm-9 col-xs-12 floating">
  <div id="painting-list">
    <div class="row">
      <div class="painting-list-item col-lg-3 col-sm-6 col-xs-12"
           *ngFor="let painting of paintingList | paginate: config; index as i" (click)="viewImage(painting.id)"
           routerLink="/painting/{{painting.id}}">
        <div class="img-container">
          <span class="painting-buy" data-toggle="modal" data-target="#exampleModal" style="display: none;">
            <a href="mailto:info@ishtar-art.de?subject=REQUEST%20FOR%20ITEM%20PAI00{{painting.id}}"
               style="color: white">
              <i class="fas fa-shopping-cart"></i>
            </a>
          </span>
          <img class="img-fluid" src="{{painting.image}}"
               (error)="painting.image = '../../../../../assets/1x/img-01.jpg'" alt="..."/>
          <span class="painting-info">
             <p class="painting-name">{{painting.name}}</p>
             <p class="artist">{{painting.artist}}</p>
             <ul class="statistics">
               <li><i class="fas fa-thumbs-up"></i> {{painting.id}} </li>
               <li>
                   <i class="far fa-eye"></i>
                   <span
                     *ngFor="let paintingView of paintingsView"> {{paintingView.id == painting.id ? paintingView.viewNumber : ''}}</span>
               </li>
             </ul>
           </span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="text-center mt-3">
  <pagination-controls class="my-pagination"
                       (pageChange)="pageChanged($event)"
                       autoHide="true"
                       responsive="true"
                       previousLabel="Prev"
                       nextLabel="Next"
                       screenReaderPaginationLabel="Pagination"
                       screenReaderPageLabel="page"
                       screenReaderCurrentLabel="You're on page"></pagination-controls>
</div>

<!--<div class="container-fluid justify-content-center">-->
<!--  <div class="row">-->
<!--    <div id="painting-list-sidebar" class="col-sm-4 col-xs-12" *ngIf="filter">-->
<!--      <div>-->
<!--        <h5>Filter By Art Type</h5>-->
<!--        <button mdbBtn class="btn-light" *ngFor="let artType of artTypes; index as i"-->
<!--                (click)="filterByArtType(artType)">{{artType}}</button>-->
<!--        <hr>-->
<!--        <h5>Filter By Artist</h5>-->
<!--        <button mdbBtn class="btn-light" *ngFor="let artist of artists; index as i"-->
<!--                (click)="filterByArtist(artist)">{{artist}}</button>-->
<!--        <hr>-->
<!--  -->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="painting-list-item col-lg-4 col-sm-6 col-xs-12 p-3" *ngFor="let painting of paintingList; index as i" (click)="viewImage(painting.id)" routerLink="/painting/{{painting.id}}">-->
<!--      <div class="img-container">-->
<!--        <img class="img-fluid" src="{{painting.image}}"-->
<!--             (error)="painting.image = '../../../../../assets/1x/img-01.jpg'" alt="..."/>-->
<!--      </div>-->
<!--      <p class="text-center painting-name">{{painting.name}}</p>-->
<!--      <h5 class="text-center">{{painting.artist}}</h5>-->
<!--      <p class="text-center">-->
<!--        <mdb-icon fas icon="eye"></mdb-icon>-->
<!--        Seen By {{paintingsView[i]?.interactions}}-->
<!--      </p>-->
<!--    </div>-->
<!--    <div id="painting-list" class="col-sm-8 col-xs-12">-->
<!--      <div class="row">-->
<!--        <div class="painting-list-item col-lg-4 col-sm-6 col-xs-12 p-3" *ngFor="let painting of paintingList; index as i" (click)="viewImage(painting.id)" routerLink="/painting/{{painting.id}}">-->
<!--          <div class="img-container">-->
<!--            <img class="img-fluid" src="{{painting.image}}"-->
<!--              (error)="painting.image = '../../../../../assets/1x/img-01.jpg'" alt="..."/>-->
<!--          </div>-->
<!--          <p class="text-center painting-name">{{painting.name}}</p>-->
<!--          <h5 class="text-center">{{painting.artist}}</h5>-->
<!--          <p class="text-center">-->
<!--            <mdb-icon fas icon="eye"></mdb-icon>-->
<!--            Seen By {{paintingsView[i]?.interactions}}-->
<!--          </p>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
