<div class="d-flex justify-content-center">
  <div class="col-lg-8 col-12 d-block">


    <section id="photos" class="row">
      <div *ngFor="let p of artistList"
           class="col-4">
        <img class="img-fluid" src="../../../../../assets/1x/img-01.jpg">
        <div class="row">
          <h3 class="col-12 text-center">Artist Name</h3>
          <p class="col-12 text-center">204 painting</p>
          <p class="col-12 text-center">22 Followers</p>
        </div>
      </div>
    </section>


  </div>
</div>
