.artist-list-section {
  //margin-top: 6rem;
  //border-top: 1px solid #333333;
  #artist-sidebar {
    border-right: 1px solid #aaa;
    button {
      background-color: white !important;
      color: black;
      padding: .375rem .75rem !important;
      border: 1px solid #aaa;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      -o-box-shadow: none;
      box-shadow: none;
    }

    button:hover {
      background-color: goldenrod !important;
    }
  }

  .sort-artist {
    position: relative;
    .sort-artist-dropdown {
      z-index: 9999;
      position: absolute;

    }
  }
  #photos {
      .artist-card {
        position: relative;
        overflow: hidden;
        &:hover {
          .details-container {
            bottom: 5rem;
          }
          img {
            padding: 0;
          }
        }
        img {
          height: 14rem;
          width: 14rem;
          border: 1px solid #bfb049;
          padding: 3px;
          border-radius: 50%;
          object-fit: cover;
          z-index: 1;
        }
        .details-container {
          color: #ffffff;
          position: absolute;
          bottom: -6rem;
          h3 {
            font-size: 1.3rem;
            font-weight: bold;
          }
          .artist-detail-number,
          .artist-detail-follower {
            margin-bottom: 5px;
            padding: 0 5px;
          }
        }
        img, .details-container {
          -webkit-transition: all .5s ease-in-out;
          -moz-transition: all  .5s ease-in-out;
          -ms-transition: all  .5s ease-in-out;
          -o-transition: all  .5s ease-in-out;
          transition: all  .5s ease-in-out;
        }
      }
  }
}
@media (max-width: 767px) {
  .artist-list-section {
    margin-top: 0;
    .sort-artist {
      ul {
        border: 1px solid #333;
        padding: 0 7px;
      }
    }
    #photos {
      .artist-card {
        &:hover {
          .details-container {
            bottom: 4rem;
          }
        }
        img {
          height: 12rem;
          width: 12rem;
        }
        .details-container {
          bottom: -4rem;
          h3 {
            font-size: 1.2rem !important;
          }
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .artist-list-section {
    margin-top: 0;
    .sort-artist {
      ul {
        border: 1px solid #333;
        padding: 0 7px;
      }
    }
    #photos {
      .artist-card {
        &:hover {
          .details-container {
            bottom: 4rem;
          }
        }
        img {
          height: 12rem;
          width: 12rem;
        }
        .details-container {
          bottom: -4rem;
          h3 {
            font-size: 1.2rem !important;
          }
        }
      }
    }
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .artist-list-section {
    margin-top: .5rem;
    #artist-sidebar {
      h5 {
        font-size: 1rem;
      }
    }
  }
}
@media (min-width: 1200px) and (max-width: 1374px) {
  .artist-list-section {
    #photos {
      .artist-card {
        img {
          height: 13rem;
          width: 13rem;
        }
      }
    }
  }
}
