#artist-sidebar {
  background: #F4F4F4;

  button {
    background-color: white !important;
    color: black;
    border: 1px solid goldenrod;
  }
  button:hover {
    background-color: goldenrod !important;
  }
}

#photos {
  img {
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
    object-fit: cover;
    z-index: 1;
  }
  a {
    color: black;
  }

  #details-container {
    border-style: solid;
    border-color: goldenrod;
    position: relative;
    top: -2rem;
  }
  #details-container {
    padding-top: 3rem;
  }
}
