#photos {
  div {
    padding-top: 2rem;
    img {
    border-radius: 50%;
    }
    div {
      top: -10%;
      position: relative;
      padding: 1rem;
      border-style: solid;
      border-width: 1px;
    }
  }
}
