#painting-list {
  margin-bottom: 15px;
  .painting-list-item {
    outline: none;
    display: inline-block;
    .img-container {
      width: 100%;
      height: 275px;
      background: #ddd;
      margin-bottom: 15px;
      position: relative;
      border-radius: 5px;
      overflow: hidden;
      .painting-buy {
        position: absolute;
        top: 6px;
        left: 5px;
        background: #CCB832;
        padding: 7px 11px 6px 8px;
        color: #fff;
        font-size: 18px;
        cursor: pointer;
        border-radius: 50%;
        &:hover {
          background-color: #F4DB75;
        }
      }
      img {
        width: 100%;
        height: 100%;
        cursor: pointer;
      }
      .painting-info {
        position: absolute;
        cursor: pointer;
        bottom: 0;
        left: 0;
        right: 0;
        color: #fff !important;
        padding: 25px 10px 5px;
        background: -o-linear-gradient(270deg,rgba(0,0,0,0),#000);
        background: -moz-linear-gradient(270deg,rgba(0,0,0,0),#000);
        background: -ms-linear-gradient(270deg,rgba(0,0,0,0),#000);
        background: -webkit-linear-gradient(270deg,rgba(0,0,0,0),#000);
        opacity: 0;
        transition: all .5s ease-in-out;
        -o-transition: all .5s ease-in-out;
        -ms-transition: all .5s ease-in-out;
        -moz-transition: all .5s ease-in-out;
        -webkit-transition: all .5s ease-in-out;
        .painting-name {
          font-size: 26px;
          width: 50%;
          font-weight: bold;
          line-height: 25px;
          margin-bottom: 5px;
        }
        .artist {
          font-size: 18px;
          width: 50%;
          line-height: 25px;
          margin-bottom: 10px;
        }
        .statistics {
          position: absolute;
          right: 10px;
          bottom: 15px;
          list-style: none;
          margin: 0;
          padding: 0;
          li {
            display: inline-block;
            margin-left: 10px;
          }
        }
        @media (max-width:991px) {
          opacity: 1;
        }
      }
      &:hover .painting-info{
        opacity: 1;
      }
    }
  }
}
.floating {
  float: left;
}
#painting-list-sidebar {
  margin-bottom: 15px;
  > div {
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    height: 100%;
    i {
      visibility: hidden;
    }
    button {
      background-color: white !important;
      padding: 5px;
      color: black;
      border: 1px solid #bbb;
      box-shadow: none;
    }
    button:hover {
      background-color: goldenrod !important;
    }
  }
}
@media (max-width:800px) {
  #painting-list {
    .painting-list-item {
      padding: 1rem !important;
      .img-container {
        height: 350px;
        img {
          height: 100%;
        }
        @media (max-width:767px) and (min-width:575px) {
          height: 275px;
          .painting-info {
            .painting-name,
            .artist {
              width: 70%;
            }
            .statistics {
              li {
                display: block;
              }
            }
          }
        }
      }
    }
  }
  #painting-list-sidebar {
    div {
      button {
        padding: 7px;
      }
    }
  }
}
@media (max-width:575px) {
  .filter-paintings {
    @media (max-width:380px) {
      padding: 0;
    }
    .filter {
      position: relative;
      float: left;
      margin-right: 10px;
      h5 {
        border: 1px solid #000;
        display: inline-block;
        padding: 10px;
        font-size: 16px !important;
        @media (max-width:350px) {
          font-size: 14px !important;
        }
        i {
          visibility: visible !important;
        }
      }
      .btn-container {
        position: absolute;
        border: 1px solid #e1e1e1;
        z-index: 99;
        background: #fff;
        width: 100%;
        box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
        visibility: hidden;
        transition: all .7s ease-in-out;
        -webkit-transition: all .7s ease-in-out;
        button {
          text-align: left;
          padding: 5px !important;
          margin: 0 5px !important;
          border-bottom: 1px solid #e1e1e1 !important;
          display: block;
          background: none !important;
          width: calc(100% - 10px);
          &:last-child {
            border-bottom: none !important;
          }
        }

      }
    }
    hr {
      display: none;
    }
  }
}


@media (max-width:575px) {
  .filter-paintings {
    .filter {
      float: none;
      display: block;
      padding-bottom: 20px;
      h5 {
        display: block;
        border: 0;
        border-bottom: 1px solid #e1e1e1;
      }
      .btn-container {
        position: static;
        visibility: visible;
        box-shadow: none;
        -webkit-box-shadow: none;
        border: none;
        max-height: 0;
        overflow: hidden;
        button {
          border: 0 !important;
          border-bottom: 1px solid #e1e1e1 !important;
          padding: 10px;
        }
        &.active {
          max-height: 1000px;
        }
      }
    }
  }
}
