<div *ngIf="paintingList != null">
<div id="painting-list-sidebar" class="col-sm-3 col-xs-12 floating filter-paintings" *ngIf="filter">
  <div>
    <div class="filter">
      <h5>Filter By Art Type <i class="fas fa-chevron-down"></i></h5>
      <div class="btn-container hide">
        <button mdbBtn class="btn-light" (click)="disableArtTypeFilter()">All</button>
        <button mdbBtn class="btn-light" *ngFor="let artType of artTypes; index as i"
                (click)="filterByArtType(artType)"
                [ngClass]="artType === filterActiveArtType ? 'active' : ''">{{artType}}</button>
      </div>
    </div>
    <hr>
    <div class="filter">
      <h5>Filter By Artist <i class="fas fa-chevron-down"></i></h5>
      <div class="btn-container hide">
        <button mdbBtn class="btn-light" (click)="disableArtistNameFilter()">All</button>
        <button mdbBtn class="btn-light"
                *ngFor="let artist of artists; index as i"
                (click)="filterByArtist(artist)"
                [ngClass]="artist === filterActiveArtist ? 'active' : ''">{{artist}}</button>
      </div>
    </div>
    <hr>
  </div>
</div>
<div class="col-sm-9 col-xs-12 floating">
  <div id="painting-list">
    <div class="row">
      <div class="painting-list-item col-lg-3 col-sm-6 col-xs-12 mx-auto"
           *ngFor="let painting of paintingList | paginate: config; index as i"
           (click)="viewImage(painting.id)"
           routerLink="/painting/{{painting.id}}">
        <div class="img-container">
          <span class="painting-buy" data-toggle="modal" data-target="#exampleModal" style="display: none;">
            <a href="mailto:info@ishtar-art.de?subject=REQUEST%20FOR%20ITEM%20PAI00{{painting.id}}"
               style="color: white">
              <i class="fas fa-shopping-cart"></i>
            </a>
          </span>
          <img class="img-fluid" src="{{painting.image}}"
               (error)="painting.image = '../../../../../assets/1x/img-01.jpg'" alt="..."/>
          <span class="painting-info">
             <p class="painting-name">{{painting?.name}}</p>
             <p class="artist">{{painting?.artist}}</p>
             <ul class="statistics">
               <li>
                 <app-interaction [Entity]="'painting'" [Row]="painting?.id" [interaction]="'like'"></app-interaction>
               </li>
               <li>
                 <app-interaction [Entity]="'painting'" [Row]="painting?.id" [interaction]="'view'"></app-interaction>
               </li>
             </ul>
           </span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="text-center mt-3" id="my-pagination">
  <pagination-controls
    class="my-pagination"
    (pageChange)="pageChanged($event)"
    autoHide="true"
    responsive="true"
    previousLabel="Prev"
    nextLabel="Next"
    screenReaderPaginationLabel="Pagination"
    screenReaderPageLabel="page"
    screenReaderCurrentLabel="You're on page"></pagination-controls>
</div>
</div>
