<div *ngIf="statues!= null">
  <div *ngIf="statues.length !== 0">
    <div class="container-fluid">
      <h1 class="text-center my-4">Manage Statues Page</h1>
<!--      <a class="btn btn-primary btn-sm mb-2 float-right" routerLink="/admin/add-statue">-->
<!--        <i class="fa fa-plus"></i>-->
<!--        Add New Statue-->
<!--      </a>-->
      <div class="table-responsive text-center">
        <table class="table table-bordered main-table">
          <tr class="bg-dark text-white">
            <td>#ID</td>
            <td>Name</td>
            <td>Image</td>
            <td>Artist</td>
            <td>Height</td>
            <td>Width</td>
            <td>Weight</td>
            <td>Length</td>
            <td>Price</td>
            <td>State</td>
            <td>Active</td>
            <td>KeyWords</td>
            <td>Material</td>
            <td>Style</td>
            <td>Period</td>
            <td>Mediums</td>
            <td>Features</td>
            <td>Description</td>
            <td class="px-5"></td>
            <td>Create Date</td>
            <td>Created By</td>
            <td>Updated Date</td>
            <td>Updated By</td>
            <td>Control</td>
          </tr>
          <tr *ngFor="let statue of statues">
            <td>{{statue["0"].id}}</td>
            <td>{{statue["0"].name}}</td>
            <td><img src="{{statue['0'].image}}" alt="{{statue['0'].name}} Image" class="img-fluid img-thumbnail img-custom"></td>
            <td>{{statue["0"].artist.name}}</td>
            <td>{{statue["0"].height}}</td>
            <td>{{statue["0"].width}}</td>
            <td>{{statue["0"].weight}}</td>
            <td>{{statue["0"].length}}</td>
            <td>{{statue.price}} $</td>
            <td>{{statue["0"].state ? 'Sold' : 'available'}}</td>
            <td>{{statue["0"].active}}</td>
            <td>{{statue["0"].keyWord}}</td>
            <td>{{statue["0"].material}}</td>
            <td>{{statue["0"].style}}</td>
            <td>{{statue["0"].period}}</td>
            <td>{{statue["0"].mediums}}</td>
            <td>{{statue["0"].features}}</td>
            <td colspan="2">{{statue["0"].description}}</td>
            <td>{{statue["0"].createDate}}</td>
            <td>{{statue["0"].createdBy}}</td>
            <td>{{statue["0"].updatedDate}}</td>
            <td>{{statue["0"].updatedBy}}</td>
            <td>
              <a routerLink="/admin/edit-statue" class="btn btn-success btn-sm mr-1">Edit</a>
              <a (click)="delete(statue['0'].id)" class="btn btn-danger confirm btn-sm mr-1">Delete</a>
              <a href="#" *ngIf="!statue['0'].active" class="btn btn-primary btn-sm mr-1">Active</a>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div *ngIf="statues.length === 0">
    <div class="container">
      <div class="alert alert-primary text-center mt-5">There Isn't Any Statue To Show</div>
      <a routerLink="/admin/add-statue" class="btn btn-primary btn-sm mb-2 float-right">
        <i class="fa fa-plus"></i>
        Add New Statue
      </a>
    </div>
  </div>
</div>
<div *ngIf="statues == null">
  <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
</div>
