@import "variables";

html {
  font-family: Arial, sans-serif !important;
  h1 {
    @media screen and (min-width: 0){
      font-size: $font-sm-h1;
    }
    @media screen and (min-width: 960px){
      font-size: $font-sm-h1;
    }
  }
  h2 {
    @media screen and (min-width: 0){
      font-size: $font-sm-h2;
    }
    @media screen and (min-width: 960px){
      font-size: $font-lg-h2;
    }
  }
  h3 {
    @media screen and (min-width: 0){
      font-size: $font-sm-h3;
    }
    @media screen and (min-width: 960px){
      font-size: $font-lg-h3;
    }
  }
  h4 {
    @media screen and (min-width: 0){
      font-size: $font-sm-h4;
    }
    @media screen and (min-width: 960px){
      font-size: $font-lg-h4;
    }
  }

  h5 {
    @media screen and (min-width: 0){
      font-size: $font-sm-h5;
    }
    @media screen and (min-width: 960px){
      font-size: $font-lg-h5;
    }
  }
}
