$black-blue: #fff;
$dark-background: #333;

// Small devices (landscape phones, 576px and up)
$bp-sm: 576px;

// Medium devices (tablets, 768px and up)
$bp-md: 768px;

// Large devices (desktops, 992px and up)
$bp-lg: 992px;

