$black-blue: #fff;
$dark-background: #333;

// Small devices (landscape phones, 576px and up)
$bp-sm: 576px;

// Medium devices (tablets, 768px and up)
$bp-md: 768px;

// Large devices (desktops, 992px and up)
$bp-lg: 992px;

// region Font Sizes
$font-lg-h1: 50px;
$font-sm-h1: 30px;

$font-lg-h2: 30px;
$font-sm-h2: 24px;

$font-lg-h3: 24px;
$font-sm-h3: 18px;

$font-lg-h4: 18px;
$font-sm-h4: 16px;

$font-lg-h5: 16px;
$font-sm-h5: 12px;
// endregion
