  <div class="block-left">
    <div class="overlay"></div>
    <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'" [isControls]="true">
      <mdb-carousel-item>
        <p>
          With Ishtar, we try to unite artists from Syria and all over the world, to make, share and contribute with
          others, because we believe in the power of inspiration, so, it's about time you start to get inspired and
          inspire others like you, who are just waiting for that little push.
        </p>
      </mdb-carousel-item>
      <mdb-carousel-item>
        <p>
          Ishtar is the East Semitic Akkadian, Assyrian and Babylonian goddess of fertility, love, war, and sex. She is
          the counterpart to the Sumerian Inanna and is the cognate for the Northwest Semitic Aramean goddess Astarte.
        </p>
      </mdb-carousel-item>
      <mdb-carousel-item>
        <p>
          Ishtar is a unique website that is designed for presenting modern Syrian painting art and artists. We are
          trying to highlight the best Syrian artists in the art market today.
        </p>
      </mdb-carousel-item>
    </mdb-carousel>
    <a routerLink="/about-ishtar" class="read-more">
      <img src="../../../../../assets/slider-images/7.png" class="left">
      Read more
      <img src="../../../../../assets/slider-images/7.png">
    </a>
  </div>
  <div class="block-right">
    <section class="w-100 d-flex justify-content-center flex-column align-items-center">
      <app-featured-images class="w-100" style="display: flex; justify-content: center;"></app-featured-images>
    </section>
  </div>
