<section id="login-page">
  <div class="logo-img">
    <img src="../../../../../assets/logo.png">
    <p class="title">Welcome to Ishtar</p>
  </div>
  <div class="row login-bg">
    <div class="half-width">
      <div class="login">
        <p>To login please fill the boxes below:</p>
        <form class="form-group" [formGroup]="loginForm">
          <input formControlName="email" class="form-control" type="email" placeholder="Email ...">
          <input formControlName="password" class="form-control" type="password" placeholder="Password ...">
          <div class="google-login">
            <span>Login directly with:</span>
            <button type="button" class="google-button">
              <a href="{{userLoginLink}}" style="color: black" class="d-flex align-items-center">
                <i class="fab fa-google"></i>
              </a>
            </button>
          </div>
          <button class="login-btn"
                  (click)="submitLogin()"
                  [disabled]="loginButtonActive"
                  [ngStyle]="{'opacity': registerButtonActive ? '.5' : '1'}">Login</button>
        </form>
        <img src="../../../../../assets/slider-images/7.png" class="lion">
      </div>
    </div>
    <div class="half-width">
      <div class="register">
        <p>To signup please fill the boxes below:</p>
        <form class="form-group" [formGroup]="registerForm">
          <input formControlName="username" class="form-control" type="text" placeholder="Username ...">
          <input formControlName="password" class="form-control" type="password" placeholder="Password ...">
          <input formControlName="confirm_password" class="form-control" type="password" placeholder="Confirm Password ...">
          <input formControlName="email" class="form-control" type="email" placeholder="Email ...">
          <div class="google-login">
            <span>Sign up directly with:</span>
            <button type="button" class="google-button">
              <a href="{{userLoginLink}}" style="color: black" class="d-flex align-items-center">
                <i class="fab fa-google"></i>
              </a>
            </button>
          </div>
          <button class="login-btn"
                  (click)="submitRegister()"
                  [disabled]="registerButtonActive"
                  [ngStyle]="{'opacity': registerButtonActive ? '.5' : '1'}">SignUp</button>
        </form>
        <img src="../../../../../assets/slider-images/7.png" class="lion">
      </div>
    </div>
  </div>

    
</section>
