<div class="d-flex justify-content-center">
  <tabset class="col-md-12 col-lg-9">
    <tab heading="Comments" id="tab1">
      <div class="row d-flex">
        <div class="view overlay zoom col-lg-4 col-6" *ngFor="let i of [1,2,3]">
          <img src="../../assets/image_04.jpg" alt="Image 01" class="img-fluid"/>
          <a href="#">
            <div class="mask flex-center rgba-black-strong">
              <p class="white-text">Data Goes Here</p>
              <img class="overlay-icon" src="../../favicon.ico" alt="Image"/>
            </div>
          </a>
        </div>
      </div>
    </tab>
    <tab heading="Most Viewed" id="tab2">
      <div class="row d-flex">
        <div class="view overlay zoom col-lg-4 col-6" *ngFor="let i of [1,2,3]">
          <img src="../../assets/image_01.png" alt="Image 01" class="img-fluid"/>
          <a href="#">
            <div class="mask flex-center rgba-black-strong">
              <p class="white-text">Data Goes Here</p>
              <img class="overlay-icon" src="../../favicon.ico" alt="Image"/>
            </div>
          </a>
        </div>
      </div>
    </tab>
    <tab heading="Most Impressed" id="tab3">
      <div class="row d-flex">
        <div class="view overlay zoom col-lg-4 col-6" *ngFor="let i of [1,2,3]">
          <img src="../../assets/image_02.jpg" alt="Image 01" class="img-fluid"/>
          <a href="#">
            <div class="mask flex-center rgba-black-strong">
              <p class="white-text">Data Goes Here</p>
              <img class="overlay-icon" src="../../favicon.ico" alt="Image"/>
            </div>
          </a>
        </div>
      </div>
    </tab>
    <tab heading="Most Shared" id="tab4">
      <div class="row d-flex">
        <div class="view overlay zoom col-lg-4 col-6" *ngFor="let i of [1,2,3]">
          <img src="../../assets/image_03.jpg" alt="Image 01" class="img-fluid"/>
          <a href="#">
            <div class="mask flex-center rgba-black-strong">
              <p class="white-text">Data Goes Here</p>
              <img class="overlay-icon" src="../../favicon.ico" alt="Image"/>
            </div>
          </a>
        </div>
      </div>
    </tab>
  </tabset>
</div>
