<div class="container">
  <form [formGroup]="uploadForm" class="col-md-10 col-lg-8 col-xl-7 my-5 mx-auto" (ngSubmit)="mySubmit()">
    <h2 class="h1 ml-5 text-center">Add New Client</h2>
      <div class="form-group row">
          <label class="col-2 col-form-label">First Name</label>
          <div class="col-10">
              <input class="form-control"
                     [ngClass]="{'is-invalid': uploadForm.get('firstName').errors &&
                     (uploadForm.get('firstName').touched || uploadForm.get('firstName').dirty)}"
                     type="text"
                     name="firstName"
                     formControlName="firstName"
                     placeholder="Type The First Name">
            <span class="invalid-feedback" *ngIf="uploadForm.get('firstName').errors?.required">First Name Field Is Required</span>
            <span class="invalid-feedback" *ngIf="uploadForm.get('firstName').errors?.minlength">First Name Must Be Greater Than 2</span>
            <span class="invalid-feedback" *ngIf="uploadForm.get('firstName').errors?.maxlength">First Name Must Be Lower Than 45</span>
          </div>
      </div>
      <div class="form-group row">
          <label class="col-2 col-form-label">Last Name</label>
          <div class="col-10">
              <input class="form-control"
                     [ngClass]="{'is-invalid': uploadForm.get('lastName').errors &&
                     (uploadForm.get('lastName').touched || uploadForm.get('lastName').dirty)}"
                     type="text"
                     name="lastName"
                     formControlName="lastName"
                     placeholder="Type The Last Name">
              <span class="invalid-feedback" *ngIf="uploadForm.get('lastName').errors?.required">Last Name Field Is Required</span>
              <span class="invalid-feedback" *ngIf="uploadForm.get('lastName').errors?.minlength">Last Name Must Be Greater Than 2</span>
              <span class="invalid-feedback" *ngIf="uploadForm.get('lastName').errors?.maxlength">Last Name Must Be Lower Than 45</span>
          </div>
      </div>
     <div class="form-group row">
      <label class="col-2 col-form-label">Username</label>
      <div class="col-10">
        <input class="form-control"
               [ngClass]="{'is-invalid': uploadForm.get('userName').errors &&
               (uploadForm.get('userName').touched || uploadForm.get('userName').dirty)}"
               type="text"
               name="userName"
               formControlName="userName"
               placeholder="Type The Username">
        <span class="invalid-feedback" *ngIf="uploadForm.get('userName').errors?.required">UserName Field Is Required</span>
        <span class="invalid-feedback" *ngIf="uploadForm.get('userName').errors?.minlength">UserName Must Be Greater Than 2</span>
        <span class="invalid-feedback" *ngIf="uploadForm.get('userName').errors?.maxlength">UserName Must Be Lower Than 45</span>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-2 col-form-label">Password</label>
      <div class="col-10">
        <input class="form-control"
               [ngClass]="{'is-invalid': uploadForm.get('password').errors &&
               (uploadForm.get('password').touched || uploadForm.get('password').dirty)}"
               type="password"
               name="password"
               formControlName="password"
               placeholder="Type The Password">
        <span class="invalid-feedback" *ngIf="uploadForm.get('password').errors?.required">Password Field Is Required</span>
      </div>
    </div>
    <div class="form-group row">
       <label class="col-2 col-form-label">Email</label>
       <div class="col-10">
         <input class="form-control"
                [ngClass]="{'is-invalid': uploadForm.get('email').errors &&
                (uploadForm.get('email').touched || uploadForm.get('email').dirty)}"
                type="email"
                name="email"
                formControlName="email"
                placeholder="Type The Email">
         <span class="invalid-feedback" *ngIf="uploadForm.get('email').errors?.required">Email Field Is Required</span>
         <span class="invalid-feedback" *ngIf="uploadForm.get('email').errors?.email">Email Field Must Be a Valid Email</span>
       </div>
     </div>
      <div class="form-group row">
          <label class="col-2 col-form-label">Birth Date</label>
          <div class="col-10">
              <input class="form-control"
                     [ngClass]="{'is-invalid': uploadForm.get('birthDate').errors &&
                     (uploadForm.get('birthDate').touched || uploadForm.get('birthDate').dirty)}"
                     type="date"
                     name="birthDate"
                     formControlName="birthDate">
            <span class="invalid-feedback" *ngIf="uploadForm.get('birthDate').errors?.required">Birth Date Field Is Required</span>
          </div>
      </div>
      <div class="form-group row">
          <label class="col-2 col-form-label">Phone</label>
          <div class="col-10">
              <input class="form-control"
                     [ngClass]="{'is-invalid': uploadForm.get('phone').errors &&
                     (uploadForm.get('phone').touched || uploadForm.get('phone').dirty)}"
                     type="number"
                     name="phone"
                     formControlName="phone"
                     placeholder="Type The Phone Number">
            <span class="invalid-feedback" *ngIf="uploadForm.get('phone').errors?.required">Phone Field Is Required</span>
            <span class="invalid-feedback" *ngIf="uploadForm.get('phone').errors?.minlength">Phone Must Be Greater Than 2</span>
            <span class="invalid-feedback" *ngIf="uploadForm.get('phone').errors?.maxlength">Phone Must Be Lower Than 20</span>
          </div>
      </div>
      <div class="form-group row">
          <label class="col-2 col-form-label">Person Kind</label>
          <div class="col-10">
              <select class="form-control"
                      name="roll"
                      formControlName="roll"
                      (change)="changeRoll($event)"
                      [ngClass]="{'is-invalid': isSubmitted && uploadForm.get('roll').errors}">
                  <option value="">Select The Kind Of Person</option>
                  <option value="1">Artist</option>
                  <option value="2">Famous</option>
                  <option value="3">Admin</option>
                  <option value="4">Client</option>
              </select>
            <span class="invalid-feedback" *ngIf="isSubmitted && uploadForm.get('roll').errors?.required">Person Kind Field Is Required</span>
          </div>
      </div>
      <div class="form-group row">
          <label class="col-2 col-form-label">Upload</label>
          <div class="input-group col-10">
              <div class="custom-file">
                  <input #imageInput type="file" accept="image/*" class="custom-file-input" id="file-input"
                         (change)="updateName(imageInput)">
                  <label class="custom-file-label" for="file-input">{{imageName}}</label>
              </div>
              <div class="input-group-append">
                  <button class="btn btn-success" type="button" (click)="processFile(imageInput)" [disabled]=!fileSelected>
                    {{uploadButtonValue}}
                  </button>
              </div>
          </div>
      </div>

    <div class="form-group offset-md-2 mt-3">
      <input class="btn btn-primary btn-block" type="submit" value="{{submitButtonValue}}" [disabled]=!imagePathReady>
    </div>
  </form>
</div>
