footer {
  div {
    padding-top: 2rem;
    padding-bottom: 2rem;
    ul {
      list-style-type: none;
    }
  }
}

#footer-bottom-left{
  ul {
    list-style-type: none;

    li {
      display: inline-block;
    }
  }
}
