<footer>
  <div class="w-100 divider-new m-0 p-0"></div>
  <div class="container d-flex justify-content-center">
    <div class="row">
      <div class="col-4 d-flex justify-content-end">
        <div class="row">
          <div class="col-8 pr-0"><img src="../../../../../assets/logo.png" class="img-fluid" alt="logo image"></div>
          <div class="col-4 pl-0 align-self-center" routerLink="/">
            <h4 class="mb-0">ISHTAR</h4>
            <span>Home Of Art</span>
          </div>
          <p class="col-12">Some Info About Ishtar Website Should Come Here</p>
        </div>
      </div>
      <div class="col-4 text-center">
        <ul>
          <li><a routerLink="/artist-list">Artist</a></li>
          <li><a routerLink="/">Art Schools</a></li>
          <li><a routerLink="/painting-list">Paintings</a></li>
        </ul>
      </div>
      <div class="col-4 text-left">
        <ul>
          <li><a>About Foundation</a></li>
          <li><a>Brand Guidelines</a></li>
          <li><a>Press Kit</a></li>
          <li><a>Support</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="w-100 divider-new m-0 p-0 mb-2"></div>

  <div class="row container custom-bottom-footer mx-auto p-0">
    <div id="footer-bottom-left" class="col-6 m-0 p-0">
      <ul class="p-0">
        <li class="mx-2">Terms</li>
        <li class="mx-2">Privacy</li>
        <li class="mx-2">Licence</li>
      </ul>
    </div>
    <div id="footer-bottom-right" class="col-6 d-flex justify-content-end m-0 p-0">
      <mdb-icon fab icon="facebook-square" size="2x" class="mx-1"></mdb-icon>
      <mdb-icon fab icon="twitter" size="2x"></mdb-icon>
      <mdb-icon fab icon="linkedin" size="2x" class="mx-1"></mdb-icon>
    </div>
  </div>
</footer>
