<footer>
  <div class="w-100 divider-new m-0 p-0"></div>
  <div class="container d-flex justify-content-center">
    <div class="row">
      <div class="col-sm-4 col-xs-12 d-flex justify-content-end logo">
        <div class="row">
          <div class="col-sm-8 col-xs-12 pr-0"><img src="../../../../../assets/logo.png" class="img-fluid" alt="logo image"></div>
          <div class="col-sm-4 col-xs-12 pl-0 align-self-center">
            <h4 class="mb-0"> </h4>
            <span> </span>
          </div>
        </div>
      </div>
      <div class="col-sm-4 col-xs-12 text-center site-map">
        <ul>
          <li><a routerLink="/">Home</a></li>
          <li><a routerLink="/artist-list">Artists</a></li>
          <li><a routerLink="/painting-list">Paintings</a></li>
        </ul>
      </div>
      <div class="col-sm-4 col-xs-12 text-left site-map">
        <ul>
          <li><a routerLink="/about-us">About Us</a></li>
          <li><a routerLink="/faq">FAQ</a></li>
          <li><a routerLink="/imprint">Imprint</a></li>
          <li><a routerLink="/data-processing">Data Processing</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="w-100 divider-new m-0 p-0 mb-2"></div>

  <div class="row container custom-bottom-footer mx-auto p-0">
    <div id="footer-bottom-left" class="col-sm-6 col-xs-12 m-0 p-0">
      <ul class="p-0">
        <li class="mx-2"> <a routerLink="/tos">Terms of Services</a></li>
        <li class="mx-2"><a routerLink="/privacy">Privacy Policy</a></li>
      </ul>
    </div>
    <div id="footer-bottom-right" class="col-sm-6 col-xs-12 m-0 p-0">
      <a href="https://www.facebook.com/Art.Paintings.Ishtar.Ecommercelwebsite">
        <mdb-icon fab icon="facebook-square" size="2x" class="mx-1"></mdb-icon>
      </a>
      <a href="https://www.linkedin.com/company/ishtar-art/about/">
        <mdb-icon fab icon="linkedin" size="2x" class="mx-1"></mdb-icon>
      </a>
      <a href="https://twitter.com/IshtarArt?s=09">
        <mdb-icon fab icon="twitter" size="2x" class="mx-1"></mdb-icon>
      </a>
    </div>
    <div class="col-12 copy-rights">
      <p>Implemented by <a href="https://yes-soft.de/">Yes Soft</a></p>
    </div>
  </div>
</footer>
