<footer>
  <div class="w-100 divider-new m-0 p-0"></div>
  <div class="w-100 d-flex justify-content-center">
    <div class="w-75 row">
      <div class="col-4">
        <h2 class="text-center">LOGO</h2>
        <p>Some Info About Ishtar Website Should Come Here</p>
      </div>

      <div class="col-4">
        <ul>
          <li><a>Home</a></li>
          <li><a>Artist</a></li>
          <li><a>Art Schools</a></li>
          <li><a>Paintings</a></li>
        </ul>
      </div>
      <div class="col-4">
        <ul>
          <li><a>About Foundation</a></li>
          <li><a>Brand Guidelines</a></li>
          <li><a>Press Kit</a></li>
          <li><a>Support</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="w-100 divider-new m-0 p-0 mb-2"></div>

  <div class="row container-fluid m-0 p-0">
    <div id="footer-bottom-left" class="col-6 m-0 p-0">
      <ul>
        <li class="mx-2">Terms</li>
        <li class="mx-2">Privacy</li>
        <li class="mx-2">Licence</li>
      </ul>
    </div>
    <div id="footer-bottom-right" class="col-6 d-flex justify-content-end m-0 p-0">
      <mdb-icon fab icon="facebook-square" size="2x" class="mx-2"></mdb-icon>
      <mdb-icon fab icon="twitter" size="2x" class="mx-2"></mdb-icon>
      <mdb-icon fab icon="linkedin" size="2x" class="mx-2"></mdb-icon>
    </div>
  </div>
</footer>
