<section id="home-auction" style="position: relative">
  <div class="custom-carousel-side">
    <h1>Latest Auction</h1>
    <ol class="custom-indicators">
      <li *ngFor="let i of slides;index as j" [ngClass]="j == activeSlide? 'active': null" (click)="setActiveSlide(j)">
      </li>
    </ol>

    <div class="info-card-border">
      <div class="custom-card">
        <h1>{{slides[activeSlide].title}}</h1>
        <p>{{slides[activeSlide].details}}</p>
      </div>
    </div>
  </div>
  <mdb-carousel (activeSlideChange)="slideChanged($event)" [isControls]="false" #auctionSlider>
    <mdb-carousel-item *ngFor="let i of slides">
      <div class="custom-image-container">
        <img src="{{i.url}}" alt="..." class="grow">
      </div>
    </mdb-carousel-item>
  </mdb-carousel>

  <div id="coming-soon">
    <div class="flex-row">
      <img src="../../../../../assets/slider-images/7.png" style="transform: scaleX(-1);">
      <h2>Auctions Coming Soon</h2>
      <img src="../../../../../assets/slider-images/7.png">
    </div>

  </div>
</section>
