#home-auction {
  // region general Styling for Section
  width: 100%;
  height: 40rem;
  overflow: hidden;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  position: relative;
  // endregion

  background-color: #F2E2AC;

  display: flex;
  padding: 5rem;

  @media (max-width:991px) {
    height: 100px;
  }

  mdb-carousel {
    flex-basis: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    .custom-image-container {
      border-style: solid;
      border-color: gold;
      border-width: 1px;

      @media screen and (min-width: 0) {
        height: 15rem;
        width: 15rem;
      }

      @media screen and (min-width: 960px) {
        height: 30rem;
        width: 30rem;
      }

      display: flex;
      justify-content: center;
      align-items: center;

      img {
        object-fit: cover;

        @media screen and (min-width: 0px) {
          height: 12.5rem;
          width: 12.5rem;
        }

        @media screen and (min-width: 960px) {
          height: 25rem;
          width: 25rem;
        }
      }

      .grow {
        transition: all 1s ease-in-out;
      }

      .grow:hover {
        transform: scale(1.2);
      }

    }
  }

  .custom-carousel-side {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    h4 {
      text-align: center;
      @media screen and (min-width: 0) {
        font-size: 24pt;
      }
      @media screen and (min-width: 960px) {
        font-size: 50pt;
      }
    }


    ol {
      list-style-type: none;
      margin: 0;
      padding: 0;

      li {
        display: inline-block;
        height: 1.5rem;
        width: 1.5rem;
        margin: .5rem;
        background-color: #888888;
        border-radius: 50%;

        &.active {
          background-color: gold;
        }
      }
    }

    .info-card-border {
      border-style: solid;
      border-width: 1px;
      border-color: gold;
      padding: 1rem;
      margin-top: 4rem;

      .custom-card {
        background-color: white;
        padding: 1rem;

        position: relative;
        top: -4rem;
        left: 4rem;

        h5 {
          @media screen and (min-width: 0) {
            font-size: 24pt;
          }
          @media screen and (min-width: 960px) {
            font-size: 50pt;
          }
        }

        p {
          font-size: 16pt;
        }

        &:hover {
          transition: all 1s ease-in-out;
          transform: translate(-4rem, 4rem);
        }
      }
    }
  }

  #coming-soon {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgba(0, 0, 0, .7);

    div {
      padding: 1rem;
      background-color: white;
      border-style: solid;
      border-color: goldenrod;

      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }

}
