<div class="container-fluid row" id="painting-details">
  <div class="col-2 row d-flex flex-column" id="painting-list-images">
    <!-- Painting Images List -->
    <div class="pl-4" *ngFor="let i of [1,1,1]">
      <img class="img-fluid p-1" src="{{painting.image}}" alt="..." (click)="setMainPainting(painting.image)">
    </div>
    <!-- #Painting Images List -->
  </div>
  <div class="col-6 m-0 p-0" id="main-image">
    <img class="img-fluid" src="{{painting.image}}" alt="..." style="max-height: 40rem">
  </div>
  <div class="col-4 d-flex flex-column justify-content-between">
    <div class="d-flex flex-column">
      <h3>{{painting.name}}</h3>
      <p>{{painting.height}} CM x {{painting.width}} CM</p>
      <p>{{painting.colorsType}}</p>
      <h5>{{painting.artist}}</h5>
    </div>
    <ul style="list-style-type: none; margin: 0; padding: 0">
      <li style="display: inline-block" class="m-1">
        <a (click)="clapThePainting()" *ngIf="!paintingClapped">
          <mdb-icon far icon="hand-peace" size="2x"></mdb-icon>
          Clap
        </a>
        <a *ngIf="paintingClapped">
          <mdb-icon fas icon="hand-peace" size="2x"></mdb-icon>
          Clap
        </a>
      </li>
      <li style="display: inline-block" class="m-1">
        <a (click)="loveThePainting()" *ngIf="!paintingLiked">
          <mdb-icon far icon="heart" size="2x"></mdb-icon>
          Love
        </a>
        <a *ngIf="paintingLiked">
          <mdb-icon fas icon="heart" size="2x"></mdb-icon>
          Love
        </a>
      </li>
    </ul>
    <button mdbBtn class="m-0 my-2" style="background-color: goldenrod" (click)="addToWishList()" id="add-to-wish-btn">Add to Wish List</button>
    <video src="../../../../../assets/1x/painting_video.mp4"></video>
  </div>
</div>

<div class="container-fluid row p-5 text-dark">
  <ngx-tabs>
    <ngx-tab label="About the Painting" class="text-dark">
      {{painting.story}}
    </ngx-tab>
    <ngx-tab label="community">
      <app-comments [pageType]="'painting'"></app-comments>
    </ngx-tab>
  </ngx-tabs>

  <div class="p-5" style="background-color: #D9D9D9" id="famous-quote">
    <div class="row d-flex align-items-center mb-3">
      <img src="../../../../../assets/1x/img-01.jpg" style="height: 5rem" alt="...">
      <h5 class="ml-4">Mohammad the Artist</h5>
    </div>
    <div class="row">
      <h3>
        “I think their model is an improvement in that it’s really founded on the real brain anatomy. They want a model
        that’s biologically correct or plausible,” said Alessandra Angelucci, a neuroscientist at the University of
        Utah.
      </h3>
    </div>
  </div>
</div>

<div class="p-5">
  <h2 class="mb-5">Paintings You May Like</h2>
  <app-c-painting-list [formattedPaintingList]="featuredList.slice(0, 3)" [filter]="false" *ngIf="featuredList != null"></app-c-painting-list>
</div>
