#painting-details {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

#add-to-wish-btn{

}

#artist-area {
  flex-basis: 25%;
  max-width: 25%;
  img{
  }
}

#main-painting{
  flex-basis: 75%;
  img {
    min-width: 100%;
    object-fit: fill;
  }
}

#painting-carousel {
  img {
    min-width: 100%;
  }
}

.image-link {
  min-width: 100%;
  height: 20rem;
  img{
    min-width: 100%;
    object-fit: fill;
    object-position: center;
  }
}

#painting-list-images {
  img {
    width: 100%;
    height: 5rem;
    object-fit: cover;
    overflow: hidden;
  }
}

#main-image {
  img {
    height: 100%;
    object-fit: cover;
  }
}

#famous-quote {
  img {
    border-radius: 50%;
  }
}
.ngx-tabs {
  button {
    color: black;
  }
}
