.most-painting-seen {
  #full-size-img {
    z-index: 999999;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    padding: 25px;
    img {
      display: none;
      max-width: 100%;
      max-height: 100%;
    }
  }
  #full-size-img.active {
    display: flex;
    img {
      display: block;
    }
    button {
      position: absolute;
      top: -20px;
      right: -20px;
      border-radius: 50%;
      border: none;
      background: rgba(0, 0, 0, 0.3);
      color: #fff;
      font-size: 25px;
      width: 55px;
      height: 55px;
      display: flex;
      justify-content: left;
      padding: 15px;
      outline: none;
      span {
        position: absolute;
        bottom: 2px;
        left: 13px;
      }
    }
  }
  .image {
    img {
      cursor: pointer;
      display: inherit;
    }
    .full-size {
      position: absolute;
      top: -60px;
      right: 40%;
      border: none;
      padding: 0.5rem 1.14rem;
      background: rgba(248, 247, 247, 0.5);
      color: #333;
      outline: none;
      transition: all .2s ease-in-out;
      -o-transition: all .2s ease-in-out;
      -moz-transition: all .2s ease-in-out;
      -webkit-transition: all .2s ease-in-out;
      @media (max-width:991px) and (min-width:400px) {
        top: 20px;
        right: 20px;
      }
      @media (max-width:399px) {
        top : 10px;
        right: 10px;
        padding: 10px;
      }
    }
    &:hover {
      button {
        @media (min-width:400px) {
          top: 20px;
        }
      }
    }
  }
  .content {
    .painting-name {
      a {
        color: #CCB832;
      }
    }
    .painting-artist {
      .painting-artist-img {
        img {
          width: 3rem;
          height: 3rem;
          border: 1px solid #cabc83;
          border-radius: 50%;
          padding: 1px;
          margin-right: 20px;
        }
      }
      .painting-artist-name {
        a {
          color: #CCB832;
          font-size: .9rem;
          letter-spacing: 2px;
          &:hover {
            color: #f4db75;
          }
        }
      }
    }
    .painting-artist-name a:hover,
    .painting-name a:hover {
      color: #f4db75;
    }
    .painting-artist-name a,
    .painting-story .h4,
    p span {
      color: #b2b67a;
    }
    .painting-art-type {
      display: inline-block;
      //border: 1px solid #dddddd;
      //padding: .84rem 1.14rem;
      p {
        font-size: 1rem;
        span {
          //margin-left: 0.47rem;
          font-weight: 600;
          letter-spacing: 1px;
          font-size: 1rem;
        }
      }
    }
    ul {
      list-style-type: none;
      //margin: 20px 0;
      padding: 0;
      .buy-painting {
        background: #CCB832;
        color: #fff;
        border-radius: 50%;
        height: 32px;
        width: 32px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        &:hover {
          background-color: #F4DB75;
        }
        mdb-icon {
          margin-right: 2px;
        }
      }
    }
    #add-to-wish-btn {
      background-color: #CCB832;
      box-shadow: none;
      font-size: .8rem;
      //padding: .84rem 2.14rem;
      span {
        font-size: 1rem;
      }
    }
    //.painting-secondary {
    //  img {
    //    height: 80px;
    //  }
    //}
  }
}
.painting-video {
  background: #efefef;
}

//#painting-details {
//  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
//  margin: 1rem 0 20px 0;
//  .row {
//    margin-left: -5px;
//    margin-right: -5px;
//    #full-size-img {
//      z-index: 999999;
//      width: 100%;
//      height: 100%;
//      position: fixed;
//      top: 0;
//      left: 0;
//      right: 0;
//      bottom: 0;
//      background: rgba(0, 0, 0, 0.5);
//      display: none;
//      justify-content: center;
//      align-items: center;
//      padding: 25px;
//
//      img {
//        display: none;
//        max-width: 100%;
//        max-height: 100%;
//      }
//    }
//    #full-size-img.active {
//      display: flex;
//
//      img {
//        display: block;
//      }
//
//      button {
//        position: absolute;
//        top: -20px;
//        right: -20px;
//        border-radius: 50%;
//        border: none;
//        background: rgba(0, 0, 0, 0.3);
//        color: #fff;
//        font-size: 25px;
//        width: 55px;
//        height: 55px;
//        display: flex;
//        justify-content: left;
//        padding: 15px;
//        outline: none;
//
//        span {
//          position: absolute;
//          bottom: 2px;
//          left: 13px;
//        }
//      }
//    }
//    #painting-list-images {
//      img {
//        width: 100%;
//        height: 125px;
//        object-fit: cover;
//        overflow: hidden;
//        cursor: pointer;
//        &:first-of-type {
//          padding-top: 0 !important;
//        }
//      }
//    }
//
//    #main-image {
//      position: relative;
//      overflow: hidden;
//      @media (max-width:991px) {
//        padding-right: 0 ;
//      }
//      .image-box {
//        height: 85vh;
//        @media (max-width:450px) {
//          height: 300px;
//        }
//        img {
//          height: 100%;
//          width: 100%;
//          object-fit: cover;
//          @media (max-width:991px) {
//            object-fit: unset;
//          }
//        }
//      }
//      .full-size {
//        position: absolute;
//        top: -60px;
//        right: 40px;
//        border: none;
//        padding: 0.8rem 2.14rem;
//        background: rgba(248, 247, 247, 0.5);
//        color: #333;
//        outline: none;
//        transition: all .2s ease-in-out;
//        -o-transition: all .2s ease-in-out;
//        -moz-transition: all .2s ease-in-out;
//        -webkit-transition: all .2s ease-in-out;
//        @media (max-width:991px)  and (min-width:400px){
//          top: 20px;
//          right: 20px;
//        }
//        @media (max-width:399px) {
//          top : 10px;
//          right: 10px;
//          padding: 10px;
//        }
//      }
//      &:hover {
//        button {
//          @media (min-width:400px) {
//            top: 20px;
//          }
//        }
//      }
//      .video-box {
//        width: 100%;
//        margin-top: 1rem;
//        iframe {
//          width: 100%;
//          height: 350px;
//        }
//        i {
//          position: absolute;
//          font-size: 2.3rem;
//          color: #000;
//        }
//      }
//    }
//    .painting-info {
//      //position: relative;
//      //min-height: 510px;
//      .painting-name {
//        font-size: 40pt;
//        letter-spacing: -2px;
//        margin-bottom: 0;
//      }
//      p {
//        font-size: 21px;
//      }
//      .painting-artist {
//        a {
//          color: #CCB832;
//          font-size: 16pt;
//          &:hover {
//            color: #F4DB75;
//          }
//        }
//
//      }
//      .painting-art-type {
//        //width: 55%;
//        display: inline-block;
//        border: 1px solid #dddddd;
//        padding: .84rem 1.14rem;
//        p {
//          font-size: 1.2rem;
//          span {
//            margin-left: 0.47rem;
//            font-weight: 600;
//            letter-spacing: 1px;
//            font-size: 1.3rem;
//          }
//        }
//      }
//      ul {
//        list-style-type: none;
//        margin: 20px 0;
//        padding: 0;
//        .buy-painting {
//          background: #CCB832;
//          color: #fff;
//          border-radius: 50%;
//          height: 32px;
//          width: 32px;
//          display: inline-flex;
//          justify-content: center;
//          align-items: center;
//          &:hover {
//            background-color: #F4DB75;
//          }
//          mdb-icon {
//            margin-right: 2px;
//          }
//        }
//      }
//      #add-to-wish-btn {
//        background-color: #CCB832;
//        box-shadow: none;
//        font-size: 1rem;
//        padding: .84rem 2.14rem;
//        span {
//          font-size: 1.3rem;
//        }
//      }
//    }
//  }
//}
//.painting-tab {
//  width: 100%;
//}
//.related-paintings {
//  h3 {
//    text-align: center;
//    font-size: 1.5rem;
//  }
//}
//#artist-area {
//  flex-basis: 25%;
//  max-width: 25%;
//  img {
//  }
//}
//#main-painting {
//  flex-basis: 75%;
//  img {
//    min-width: 100%;
//    object-fit: fill;
//  }
//}
//#painting-carousel {
//  img {
//    min-width: 100%;
//  }
//}
//.image-link {
//  min-width: 100%;
//  height: 20rem;
//  img {
//    min-width: 100%;
//    object-fit: fill;
//    object-position: center;
//  }
//}
//#famous-quote {
//  img {
//    border-radius: 50%;
//  }
//  h5 {
//    font-size: 30pt;
//  }
//  h1 {
//    padding: 10px 20px;
//    margin-top: 25px;
//    font-size: 50pt;
//    i {
//      font-size: 1.7rem;
//      margin: 0 10px;
//      position: relative;
//      top: -26px;
//    }
//    i.fa-quote-right {
//      top: 6px;
//    }
//  }
//}


@media (max-width: 400px) {
  #painting-details {
    .painting-info {
      h3 {
        font-size: 2rem;
      }
    }
  }
  //#famous-quote { h3 {font-size: 18px; i { font-size: 20px; }}}
}

@media (max-width: 767px) {
  #painting-details {
    display: block !important;
    #painting-list-images {
      display: none !important;
    }
    #main-image,
    .painting-info {
      display: block;
      max-width: 100% !important;
      flex: 100%;
      min-height: auto;
      .video-box {
        position: relative;
        iframe {
          height: 250px;
        }
      }
    }
  }
}
// style for md screen size
@media (min-width: 768px) and (max-width: 991px) {
  .painting-info {
    h3 {
      font-size: 1.7rem
    }
    button {
      padding: 10px 5px;
    }
  }
}
// style for lg screen size
@media (min-width: 992px) and (max-width: 1199px) {
  #painting-details {
    .row {
      #painting-list-images {
        padding-left: 0 !important;
      }
      .painting-info {
        .painting-name {
          font-size: 35pt !important;
        }
        p {
          font-size: 17px;
        }
        .painting-artist {
          a {
            font-size: 14pt;
          }
        }

        .painting-art-type {
          p {
            font-size: 1rem;
            span {
              font-size: 1.1rem;
            }
          }
        }
        ul {
          .buy-painting {
            margin: 0 0 0 5px !important;
          }
        }
        #add-to-wish-btn {
          font-size: 0.8rem;
          span {
            font-size: 1rem;
          }
        }
      }
    }
  }
}

@media (max-width:991px) {
  .most-painting-seen{
    .image {
      text-align: center;
      .painting-artist {
        padding: 10px;
        text-align: left;
        img {
          width: 80px;
          height: 80px;
          border-radius: 50%;
          margin: 0;
          border: 2px solid goldenrod;
        }
        .painting-artist-name {
          position: absolute;
          top: 15px;
          left: 125px;
          a {
            font-size: 18px !important;
          }
        }
        .follow-artist {
          top: 45px;
          left: 125px;
          position: absolute;
          button {
            display: block !important;
            box-shadow: none !important;
            -webkit-box-shadow: none !important;
            background: #fff !important;
            text-align: center;
            padding: 0;
            margin: 0 auto;
            margin-bottom: 5px;
            padding: 5px;
            border-radius: 10px;
            border: 2px solid goldenrod;
            z-index: 1;
            position: relative;
          }
        }
        .painting-artist-name {
          margin: 0 0 10px;
          text-align: center;
          a {
            color: goldenrod;
            font-size: 22px;
          }
        }
      }
      img {
        max-height: 500px;
        margin: 0 auto;
      }
      button {
        display: none !important;
      }
    }
  }
  .content  {
    position: relative;
    padding-top: 30px;
    .painting-interaction {
      position: absolute;
      top: 0;
      margin-top: 0 !important;
      ul {
        margin: 0;
      }
    }
    .painting-story {
      margin: 15px 0;
    }
  }
}

@media (max-width:767px) {
  .bg-light {
    > .container {
      max-width: 100%;
    }
  }
}
