<!-- ######################################## Art Type Page ######################################## -->

<section id="art-type-page p-0">

  <div id="art-type-header">
    <div id="art-type-header-img" class="d-flex align-items-center">
      <div class="position-absolute w-100 d-flex justify-content-end">
        <div class="p-5 mt-2" id="art-type-banner-text">
          <h3 class="text-center">{{artType.name}}</h3>
          <p class="text-center">{{artType.history}}</p>
        </div>
      </div>
      <div parallax id="banner-background">
        <img src="{{artType.path}}" alt="...">
      </div>
    </div>
    <div class="container d-flex justify-content-center">
      <div class="col-10 align-items-baseline" style="position: relative; top: -5rem;">
        <div class="d-flex align-items-baseline">
          <div class="w-25" >
            <img src="{{artType.path}}" class="img-fluid" style="width: 15rem; border-radius: 50%;" alt="..."
                 id="art-type-avatar">
          </div>
          <div class="w-75 m-0 row">
            <div class="col-6 d-flex flex-column" id="art-type-info">
              <h3>{{artType.name}}</h3>
            </div>
            <div class="col-6" style="position: relative; top: -2rem;">
              <!-- TODO Remove Inputs After Refactoring The Widget -->
              <app-follow-widget class="art-type-follow" [ParentId]="artType?.id" [ParentType]="3"></app-follow-widget>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="art-type-bio">
    <h3 class="text-primary">History</h3>
    <p>
      {{artType.history}}
    </p>
  </div>

  <div id="art-type-images" class="container-fluid" style="margin-bottom: 5rem;">
    <app-artist-list [artistListFormatted]="featuredArtists" [filter]="false"
                     *ngIf="artistLoaded"></app-artist-list>
    <div *ngIf="!artistLoaded" class="d-flex p-5 justify-content-center">
      <div class="d-flex flex-column">
        <h3 class="text-center"> Loading </h3>
        <img src="../../../../../assets/loading.gif" alt="..." class="m-3" style="object-fit: contain">
      </div>
    </div>

  </div>

</section>
<!-- ###################################### End Art Type Page ###################################### -->
